/*Telerik RadGrid Web20 Skin*/

/*global*/

.RadGrid_Web20
{
    border:1px solid #4e75b3;
    background:#fff;
    color:#000;
}

.RadGrid_Web20,
.RadGrid_Web20 .rgMasterTable,
.RadGrid_Web20 .rgDetailTable,
.RadGrid_Web20 .rgGroupPanel table,
.RadGrid_Web20 .rgCommandRow table,
.RadGrid_Web20 .rgEditForm table,
.RadGrid_Web20 .rgPager table,
.GridToolTip_Web20
{
    font:12px/16px "segoe ui",arial,sans-serif;
}

.RadGrid_Web20 .rgMasterTable,
.RadGrid_Web20 .rgDetailTable
{
    border-collapse:separate;
}

.RadGrid_Web20 .rgRow,
.RadGrid_Web20 .rgAltRow,
.RadGrid_Web20 .rgHeader,
.RadGrid_Web20 .rgResizeCol,
.RadGrid_Web20 .rgPager,
.RadGrid_Web20 .rgGroupPanel,
.RadGrid_Web20 .rgGroupHeader
{
	cursor:default;
}

.RadGrid_Web20 input[type="image"]
{
	cursor:pointer;
}

.RadGrid_Web20 .rgRow td,
.RadGrid_Web20 .rgAltRow td,
.RadGrid_Web20 .rgEditRow td,
.RadGrid_Web20 .rgFooter td,
.RadGrid_Web20 .rgFilterRow td,
.RadGrid_Web20 .rgHeader,
.RadGrid_Web20 .rgResizeCol,
.RadGrid_Web20 .rgGroupHeader td
{
	padding-left:7px;
	padding-right:7px;
}

.RadGrid_Web20 .rgClipCells .rgHeader,
.RadGrid_Web20 .rgClipCells .rgRow>td,
.RadGrid_Web20 .rgClipCells .rgAltRow>td
{
	overflow:hidden;
}

.RadGrid_Web20 .rgHeader:first-child,
.RadGrid_Web20 th.rgResizeCol:first-child,
.RadGrid_Web20 .rgFilterRow>td:first-child,
.RadGrid_Web20 .rgRow>td:first-child,
.RadGrid_Web20 .rgAltRow>td:first-child
{
	border-left:0;
	padding-left:8px;
}

.RadGrid_Web20 .rgAdd,
.RadGrid_Web20 .rgRefresh,
.RadGrid_Web20 .rgEdit,
.RadGrid_Web20 .rgDel,
.RadGrid_Web20 .rgFilter,
.RadGrid_Web20 .rgPagePrev,
.RadGrid_Web20 .rgPageNext,
.RadGrid_Web20 .rgPageFirst,
.RadGrid_Web20 .rgPageLast,
.RadGrid_Web20 .rgExpand,
.RadGrid_Web20 .rgCollapse,
.RadGrid_Web20 .rgSortAsc,
.RadGrid_Web20 .rgSortDesc,
.RadGrid_Web20 .rgUpdate,
.RadGrid_Web20 .rgCancel,
.RadGrid_Web20 .rgUngroup,
.RadGrid_Web20 .rgExpXLS,
.RadGrid_Web20 .rgExpDOC,
.RadGrid_Web20 .rgExpPDF,
.RadGrid_Web20 .rgExpCSV
{
	width:16px;
	height:16px;
	border:0;
	margin:0;
	padding:0;
	background-color:transparent;
	background-image:url('Grid/sprite.gif');
	background-repeat:no-repeat;
	vertical-align:middle;
	font-size:1px;
	cursor:pointer;
}

.RadGrid_Web20 .rgGroupItem input,
.RadGrid_Web20 .rgCommandRow img,
.RadGrid_Web20 .rgHeader input,
.RadGrid_Web20 .rgFilterRow img,
.RadGrid_Web20 .rgFilterRow input,
.RadGrid_Web20 .rgPager img
{
	vertical-align:middle;
}

/*header*/

.RadGrid_Web20 .rgHeaderDiv
{
	background:#537ab8 0 -7050px repeat-x url('Grid/sprite.gif');
}
.rgTwoLines .rgHeaderDiv
{
	background-position:0 -6550px;
}

.rgNoScrollImage .rgHeaderDiv
{
	background-image:none;
}

.RadGrid_Web20 .rgHeader,
.RadGrid_Web20 th.rgResizeCol
{
	border:1px solid;
	border-color:#fff #6e8ec2 #204582 #355a99;
	border-top:0;
	padding-top:4px;
	padding-bottom:4px;
	background:0 -2300px repeat-x #7fa5d7 url('Grid/sprite.gif');
	text-align:left;
	font-weight:normal;
}

.RadGrid_Web20 th.rgSorted
{
	border-color:#fff #8eaad6 #204582 #204582;
	background-color:#c0d5ee;
	background-position:0 -2600px;
}

.RadGrid_Web20 .rgHeader,
.RadGrid_Web20 .rgHeader a
{
    color:#fff;
    text-decoration:none;
}

.RadGrid_Web20 th.rgSorted,
.RadGrid_Web20 th.rgSorted a
{
	color:#0f3789;
}

.RadGrid_Web20 .rgCheck
{
	height:15px;
	margin:0;
	padding:0;
}

/*rows*/

.RadGrid_Web20 .rgRow td,
.RadGrid_Web20 .rgAltRow td,
.RadGrid_Web20 .rgEditRow td,
.RadGrid_Web20 .rgFooter td
{
	border:1px solid;
	border-top:0;
	padding-top:4px;
	padding-bottom:3px;
}

.RadGrid_Web20 .rgRow td,
.RadGrid_Web20 .rgAltRow td
{
	border-color:#fff #fff #cfd9e7 #829cbf;
}

.RadGrid_Web20 .rgRow .rgSorted,
.RadGrid_Web20 .rgAltRow .rgSorted
{
	border-bottom-color:#cfd9e7;
	background-color:#e3eeff;
}

.RadGrid_Web20 .rgSelectedRow .rgSorted,
.RadGrid_Web20 .rgActiveRow .rgSorted,
.RadGrid_Web20 .rgHoveredRow .rgSorted,
.RadGrid_Web20 .rgEditRow .rgSorted
{
	background-color:transparent;
}

.RadGrid_Web20 .rgRow a,
.RadGrid_Web20 .rgAltRow a,
.RadGrid_Web20 .rgEditRow a,
.RadGrid_Web20 .rgFooter a,
.RadGrid_Web20 .rgEditForm a
{
	color:#0f3789;
}

.RadGrid_Web20 .rgSelectedRow
{
    background:#cdffb1;
}
*+html .RadGrid_Web20 .rgSelectedRow .rgSorted{background-color:#cdffb1}
* html .RadGrid_Web20 .rgSelectedRow .rgSorted{background-color:#cdffb1}

.RadGrid_Web20 .rgActiveRow,
.RadGrid_Web20 .rgHoveredRow
{
    background:#e3eeff;
}
*+html .RadGrid_Web20 .rgActiveRow .rgSorted,
*+html .RadGrid_Web20 .rgHoveredRow .rgSorted{background-color:#e3eeff}
* html .RadGrid_Web20 .rgActiveRow .rgSorted,
* html .RadGrid_Web20 .rgHoveredRow .rgSorted{background-color:#e3eeff}

.RadGrid_Web20 .rgEditRow
{
	background:#fff;
}
*+html .RadGrid_Web20 .rgEditRow .rgSorted{background-color:#fff}
* html .RadGrid_Web20 .rgEditRow .rgSorted{background-color:#fff}

.RadGrid_Web20 .rgSelectedRow td,
.RadGrid_Web20 .rgActiveRow td,
.RadGrid_Web20 .rgHoveredRow td,
.RadGrid_Web20 .rgEditRow td
{
	border-left:0;
	border-right:0;
	padding-left:8px;
	padding-right:8px;
}

.RadGrid_Web20 .rgSelectedRow td,
.RadGrid_Web20 .rgSelectedRow td.rgSorted
{
	border-bottom-color:#71bf25;
}

.RadGrid_Web20 .rgActiveRow td,
.RadGrid_Web20 .rgHoveredRow td,
.RadGrid_Web20 .rgActiveRow td.rgSorted,
.RadGrid_Web20 .rgHoveredRow td.rgSorted
{
	border-bottom-color:#b1caee;
}

.RadGrid_Web20 .rgEditRow td,
.RadGrid_Web20 .rgEditRow td.rgSorted
{
	border-color:#fff #fff #4e75b3 #fff;
}

/*footer*/

.RadGrid_Web20 .rgFooterDiv,
.RadGrid_Web20 .rgFooter
{
	background:#e3eeff;
}

.RadGrid_Web20 .rgFooter td
{
	border-top-width:1px;
	border-color:#829cbf #e3eeff #fff #e3eeff;
}

/*status*/

.RadGrid_Web20 .rgPager .rgStatus
{
	width:35px;
	border:1px solid;
	border-color:#829cbf #8caabb #fff #8caabb;
	border-left:0;
	padding:3px 0 2px;
}

.RadGrid_Web20 .rgStatus div
{
	width:24px;
	height:24px;
	overflow:hidden;
	border:0;
	margin:0 auto;
	padding:0;
	background:transparent center center no-repeat url('Common/loading_small.gif');
	text-indent:-2222px;
}

/*pager*/

.RadGrid_Web20 .rgPager
{
	background:#e3eeff;
}

.RadGrid_Web20 .rgPager td
{
	padding:0;
}

.RadGrid_Web20 .rgPager .rgPagerCell
{
	border:1px solid;
	border-color:#829cbf #fff #fff;
	border-right:0;
	padding:5px 0 4px;
}

.RadGrid_Web20 .rgWrap
{
	float:left;
	padding:0 10px;
	line-height:22px;
	white-space:nowrap;
}

.RadGrid_Web20 .rgArrPart1
{
	padding-right:0;
}

.RadGrid_Web20 .rgArrPart2
{
	padding-left:0;
}

.RadGrid_Web20 .rgInfoPart
{
	float:right;
	color:#666;
}

.RadGrid_Web20 .rgInfoPart strong
{
	font-weight:normal;
	color:#000;
}

.RadGrid_Web20 .rgArrPart1 img,
.RadGrid_Web20 .rgArrPart2 img
{
	margin:0 8px;
}

.RadGrid_Web20 .rgPageFirst,
.RadGrid_Web20 .rgPagePrev,
.RadGrid_Web20 .rgPageNext,
.RadGrid_Web20 .rgPageLast
{
	width:22px;
	height:22px;
	vertical-align:top;
}

.RadGrid_Web20 .NextPrev .rgPageFirst,
.RadGrid_Web20 .NextPrev .rgPagePrev,
.RadGrid_Web20 .NextPrev .rgPageNext,
.RadGrid_Web20 .NextPrev .rgPageLast
{
	vertical-align:middle;
}

.RadGrid_Web20 .rgPageFirst
{
	background-position:0 -550px;
}
.RadGrid_Web20 .rgPageFirst:hover
{
	background-position:0 -600px;
}
.RadGrid_Web20 .rgPagePrev
{
	background-position:0 -700px;
}
.RadGrid_Web20 .rgPagePrev:hover
{
	background-position:0 -750px;
}
.RadGrid_Web20 .rgPageNext
{
	background-position:0 -850px;
}
.RadGrid_Web20 .rgPageNext:hover
{
	background-position:0 -900px;
}
.RadGrid_Web20 .rgPageLast
{
	background-position:0 -1000px;
}
.RadGrid_Web20 .rgPageLast:hover
{
	background-position:0 -1050px;
}

.RadGrid_Web20 .rgPager .rgPagerButton
{
	height:22px;
	border:1px solid;
	border-color:#00002a #00002a #000;
	margin:0 14px 0 0;
	padding:0 4px 2px;
	background:#466abb repeat-x 0 -1550px url('Grid/sprite.gif');
	color:#fff;
	font:12px/12px "segoe ui",arial,sans-serif;
	vertical-align:middle;
	cursor:pointer;
}

.RadGrid_Web20 .rgNumPart
{
	padding:0;
}

.RadGrid_Web20 .NumericPages .rgNumPart
{
	padding:0 10px;
}

.RadGrid_Web20 .rgNumPart a:hover,
.RadGrid_Web20 .rgNumPart a:hover span,
.RadGrid_Web20 .rgNumPart a.rgCurrentPage,
.RadGrid_Web20 .rgNumPart a.rgCurrentPage span
{
	background:no-repeat url('Grid/sprite.gif');
}

.RadGrid_Web20 .rgNumPart a
{
	float:left;
	line-height:22px;
	margin:0;
	padding:0 5px 0 0;
	color:#000;
	text-decoration:none;
}

.RadGrid_Web20 .rgNumPart span
{
	float:left;
	padding:0 0 0 5px;
}

.RadGrid_Web20 .rgNumPart a:hover
{
	background-position:100% -1250px;
	color:#0f3789;
}

.RadGrid_Web20 .rgNumPart a:hover span
{
	background-position:0 -1150px;
	cursor:pointer;
}

.RadGrid_Web20 .rgNumPart a.rgCurrentPage,
.RadGrid_Web20 .rgNumPart a.rgCurrentPage:hover
{
	background-position:100% -1450px;
	color:#0d202b;
	cursor:default;
}

.RadGrid_Web20 .rgNumPart a.rgCurrentPage span,
.RadGrid_Web20 .rgNumPart a.rgCurrentPage:hover span
{
	background-position:0 -1350px;
	cursor:default;
}

.RadGrid_Web20 .NextPrevNumericAndAdvanced .rgAdvPart
{
	float:none;
	text-align:center;
}

.RadGrid_Web20 .rgPager .RadSlider
{
	float:left;
	margin:0 10px 0 0;
}

.RadGrid_Web20 .rgPager .rgPagerLabel,
.RadGrid_Web20 .rgPager .RadComboBox,
.RadGrid_Web20 .rgPager .RadInput_Web20
{
	margin:0 4px 0 0;
	vertical-align:middle;
}

*+html .RadGrid_Web20 .rgPager .RadComboBox{margin-top:-1px;}
* html .RadGrid_Web20 .rgPager .RadComboBox{margin-top:-1px;padding:1px 0;}

.RadGrid_Web20 .rgPagerTextBox
{
	text-align:center;
}

/*sorting, reordering*/

.RadGrid_Web20 .rgHeader .rgSortAsc
{
	background-position:3px -247px;
	height:10px;
}

.RadGrid_Web20 .rgHeader .rgSortDesc
{
	background-position:3px -197px;
	height:10px;
}

.RadGrid_Web20 .rgSorted .rgSortAsc
{
	background-position:3px -147px;
}

.RadGrid_Web20 .rgSorted .rgSortDesc
{
	background-position:3px -97px;
}

.GridReorderTop_Web20,
.GridReorderBottom_Web20
{
	width:9px !important;
	height:9px !important;
	margin-left:-5px;
	background:0 0 no-repeat url('Grid/sprite.gif');
}

.GridReorderBottom_Web20
{
	background-position:0 -50px;
}

/*filtering*/

.RadGrid_Web20 .rgFilterRow
{
	background:#537ab8;
}

.RadGrid_Web20 .rgFilterRow td
{
    padding-top:4px;
    padding-bottom:5px;
    border:1px solid;
    border-top:0;
    border-color:#537ab8 #537ab8 #3c5c90;
}

.RadGrid_Web20 .rgFilter
{
	width:22px;
	height:22px;
	margin:0 0 0 2px;
	background-position:0 -300px;
}

.RadGrid_Web20 .rgFilter:hover
{
	background-position:0 -350px;
}

.RadGrid_Web20 .rgFilterActive,
.RadGrid_Web20 .rgFilterActive:hover
{
	background-position:0 -400px;
}

.RadGrid_Web20 .rgFilterBox
{
	border:1px solid #4e75b3;
	padding:2px 1px 3px;
	font:12px "segoe ui",arial,sans-serif;
	color:#000;
	vertical-align:middle;
}

/*grouping*/

.RadGrid_Web20 .rgGroupPanel
{
	height:24px;
	border:0;
	border-bottom:1px solid #4e75b3;
	background:#e3eeff;
}

.RadGrid_Web20 .rgGroupPanel td
{
	border:0;
	padding:3px;
	vertical-align:middle;
}

.RadGrid_Web20 .rgGroupPanel td td
{
	padding:0;
}

.RadGrid_Web20 .rgGroupPanel .rgSortAsc
{
	background-position:4px -144px;
}

.RadGrid_Web20 .rgGroupPanel .rgSortDesc
{
	background-position:4px -94px;
}

.RadGrid_Web20 .rgUngroup
{
	background-position:0 -6500px;
}

.RadGrid_Web20 .rgGroupItem
{
	border:1px solid #4e75b3;
	padding:0 2px 1px 3px;
	background:#c6d8f2;
	color:#0f3789;
	line-height:20px;
	font-weight:normal;
	vertical-align:middle;
}

.RadGrid_Web20 .rgGroupHeader
{
    background:#859bbc;
    font-size:1.1em;
    line-height:21px;
	color:#fff;
}

.RadGrid_Web20 .rgGroupHeader td
{
    padding:0 8px;
}

.RadGrid_Web20 td.rgGroupCol,
.RadGrid_Web20 td.rgExpandCol
{
	background:#859bbc none;
	border-color:#859bbc;
}

.RadGrid_Web20 .rgExpand
{
	background-position:5px -496px;
}

.RadGrid_Web20 .rgCollapse
{
	background-position:3px -444px;
}

.RadGrid_Web20 .rgGroupHeader td p
{
    display:inline;
    margin:0;
    padding:0 10px;
}

.RadGrid_Web20 .rgGroupHeader td div div
{
	top:-0.8em;
	padding:0 10px;
}

.RadGrid_Web20 .rgGroupHeader td div div div
{
	top:0;
	padding:0;
	border:0;
}

/*editing*/

.RadGrid_Web20 .rgEditForm
{
	border-bottom:1px solid #829cbf;
}

.RadGrid_Web20 .rgUpdate
{
	background-position:0 -1800px;
}

.RadGrid_Web20 .rgCancel
{
	background-position:2px -1848px;
}

/*hierarchy*/

.RadGrid_Web20 .rgDetailTable
{
	border:1px solid #4e75b3;
	border-right:0;
}

/*command row*/

.RadGrid_Web20 .rgCommandRow
{
	background:#1b3879 0 -2100px repeat-x url('Grid/sprite.gif');
	color:#fff;
}

.RadGrid_Web20 .rgCommandCell
{
	border:0;
	padding:3px 7px 4px;
}

.RadGrid_Web20 thead .rgCommandCell
{
	border-bottom:1px solid #01144e;
}

.RadGrid_Web20 tfoot .rgCommandCell
{
	border-top:1px solid #01144e;
}

.RadGrid_Web20 .rgCommandTable,
.RadGrid_Web20 .rgCommandTable td
{
	border:0;
	padding:0;
}

.RadGrid_Web20 .rgCommandRow a
{
	color:#fff;
	text-decoration:none;
}

.RadGrid_Web20 .rgAdd
{
	margin-right:3px;
	background-position:0 -1650px;
}

.RadGrid_Web20 .rgRefresh
{
	margin-right:3px;
	background-position:0 -1600px;
}

.RadGrid_Web20 .rgEdit
{
	background-position:0 -1700px;
}

.RadGrid_Web20 .rgDel
{
	background-position:0 -1750px;
}

.RadGrid_Web20 .rgExpXLS,
.RadGrid_Web20 .rgExpDOC,
.RadGrid_Web20 .rgExpPDF,
.RadGrid_Web20 .rgExpCSV
{
	background-image:url('../Common/Grid/export.gif');
}

.RadGrid_Web20 .rgExpXLS
{
	background-position:0 0;
}
.RadGrid_Web20 .rgExpDOC
{
	background-position:0 -50px;
}
.RadGrid_Web20 .rgExpPDF
{
	background-position:0 -100px;
}
.RadGrid_Web20 .rgExpCSV
{
	background-position:0 -150px;
}

/*multirow select*/

.GridRowSelector_Web20
{
	background:#1346ad;
}

/*row drag n drop*/

.GridItemDropIndicator_Web20
{
    border-top:1px dashed #1346ad;
}

/*tooltip*/

.GridToolTip_Web20
{
	border:1px solid #4e75b3;
	padding:3px;
	background:#e3eeff;
	color:#000;
}

/*rtl*/

.RadGridRTL_Web20 .rgHeader,
.RadGridRTL_Web20 .rgResizeCol
{
	text-align:right;
}

.RadGridRTL_Web20 .rgHeader:first-child,
.RadGridRTL_Web20 th.rgResizeCol:first-child,
.RadGridRTL_Web20 .rgFilterRow>td:first-child,
.RadGridRTL_Web20 .rgRow>td:first-child,
.RadGridRTL_Web20 .rgAltRow>td:first-child
{
	border-left:1px solid;
	padding-left:7px;
}

.RadGridRTL_Web20 .rgPager .rgStatus
{
	border-right:0;
	border-left-width:1px;
}

.RadGridRTL_Web20 .rgWrap
{
	float:right;
}

.RadGridRTL_Web20 .rgInfoPart
{
	float:left;
}

.RadGridRTL_Web20 .rgNumPart
{
	width:220px;
}

.RadGridRTL_Web20 .rgNumPart a
{
	float:right;
}

.RadGridRTL_Web20 .rgPageFirst
{
	background-position:0 -1000px;
}
.RadGridRTL_Web20 .rgPageFirst:hover
{
	background-position:0 -1050px;
}
.RadGridRTL_Web20 .rgPagePrev
{
	background-position:0 -850px;
}
.RadGridRTL_Web20 .rgPagePrev:hover
{
	background-position:0 -900px;
}
.RadGridRTL_Web20 .rgPageNext
{
	background-position:0 -700px;
}
.RadGridRTL_Web20 .rgPageNext:hover
{
	background-position:0 -750px;
}
.RadGridRTL_Web20 .rgPageLast
{
	background-position:0 -550px;
}
.RadGridRTL_Web20 .rgPageLast:hover
{
	background-position:0 -600px;
}

.RadGridRTL_Web20 .rgDetailTable
{
	border-right:1px solid;
	border-left:0;
}
