/* <RadMenu / Hay> */

.RadMenu_Hay .rmRootGroup,
.RadMenu_Hay .rmLink,
.RadMenu_Hay .rmText,
.RadMenu_Hay .rmLeftArrow,
.RadMenu_Hay .rmRightArrow,
.RadMenu_Hay .rmTopArrow,
.RadMenu_Hay .rmBottomArrow
{
	background-image: url('Menu/rmSprite.png');
	background-color: transparent;
}

.RadMenu_Hay .rmRootGroup
{
	border: 1px solid #bbb99d;
	background-repeat: repeat-x;
	background-position: 0 0;
	background-color: #dee0c8;
}

.RadMenu_Hay .rmVertical
{
	background-position: 0 -408px;
}

/* <Root items> */

.RadMenu_Hay,
.RadMenu_Hay .rmLink
{
	font: normal 12px/23px "Segoe UI", Arial, sans-serif;
	color: #272722;
	text-decoration: none;
}

.RadMenu_Hay .rmLink,
.RadMenu_Hay .rmText
{
	background-position: 0 1050px;
	background-repeat: no-repeat;
}

.RadMenu_Hay .rmLink:hover,
.RadMenu_Hay .rmFocused,
.RadMenu_Hay .rmSelected
{
	color: #279500;
	background-position: 0 -72px;
}

.RadMenu_Hay .rmLink:hover .rmText,
.RadMenu_Hay .rmFocused .rmText,
.RadMenu_Hay .rmSelected .rmText
{
	background-position: 100% -96px;
}

.RadMenu_Hay .rmExpanded,
.RadMenu_Hay .rmExpanded:hover
{
	color: #fff;
	background-position: 0 -120px;
}

.RadMenu_Hay .rmExpanded .rmText,
.RadMenu_Hay .rmExpanded:hover .rmText
{
	background-position: 100% -144px;
}

.RadMenu_Hay .rmDisabled,
.RadMenu_Hay .rmDisabled:hover
{
	color: #919180;
}

.RadMenu_Hay .rmDisabled:hover,
.RadMenu_Hay .rmDisabled:hover .rmText
{
	background: none;
}

/* </Root items> */


/* <Submenu items> */

.RadMenu_Hay .rmGroup,
.RadMenu_Hay .rmMultiColumn,
.RadMenu_Hay .rmGroup .rmVertical
{
	border: 1px solid #959485;
	background: #fff url('Menu/rmVSprite.png') repeat-y -1px 0;
}

.RadMenu_Hay .rmSlide .rmScrollWrap
{
	background-image: none;
}

.RadMenu_Hay_rtl .rmGroup,
.RadMenu_Hay_rtl .rmMultiColumn,
.RadMenu_Hay_rtl .rmGroup .rmVertical
{
	background-position: 101% 0;
}

.RadMenu_Hay .rmRootGroup .rmHorizontal
{
	background-image: none;
}

.RadMenu_Hay .rmScrollWrap .rmVertical
{
	border: 0;
}

.RadMenu_Hay .rmGroup .rmFirst,
.RadMenu_Hay .rmGroup .rmLast
{
	background: none;
}

.RadMenu_Hay .rmRootGroup li.rmItem .rmGroup
{
	padding-bottom: 0;
}

.RadMenu_Hay .rmGroup li.rmLast
{
	padding-bottom: 1px;
}

.RadMenu_Hay .rmGroup .rmLink:hover,
.RadMenu_Hay .rmGroup .rmFocused,
.RadMenu_Hay .rmGroup .rmSelected,
.RadMenu_Hay .rmGroup .rmExpanded
{
	background-position: 0 -168px;
}

.RadMenu_Hay .rmGroup .rmLink:hover .rmText,
.RadMenu_Hay .rmGroup .rmFocused .rmText,
.RadMenu_Hay .rmGroup .rmSelected .rmText,
.RadMenu_Hay .rmGroup .rmExpanded .rmText
{
	background-position: 100% -192px;
}

.RadMenu_Hay .rmGroup .rmExpanded,
.RadMenu_Hay .rmGroup .rmExpanded:hover
{
	color: #279500;
}

.RadMenu_Hay .rmGroup .rmDisabled,
.RadMenu_Hay .rmGroup .rmDisabled:hover
{
	color: #8a8a8a;
}

/* <expand arrows> */

.RadMenu_Hay .rmGroup .rmExpandRight,
.RadMenu_Hay .rmGroup .rmExpandDown
{
	background-position: 100% -216px;
}

.RadMenu_Hay .rmGroup .rmLink:hover .rmExpandRight,
.RadMenu_Hay .rmGroup .rmFocused .rmExpandRight,
.RadMenu_Hay .rmGroup .rmSelected .rmExpandRight,
.RadMenu_Hay .rmGroup .rmExpanded .rmExpandRight,
.RadMenu_Hay .rmGroup .rmLink:hover .rmExpandDown,
.RadMenu_Hay .rmGroup .rmFocused .rmExpandDown,
.RadMenu_Hay .rmGroup .rmSelected .rmExpandDown,
.RadMenu_Hay .rmGroup .rmExpanded .rmExpandDown
{
	background-position: 100% -240px;
}

.RadMenu_Hay .rmGroup .rmDisabled:hover .rmExpandRight,
.RadMenu_Hay .rmGroup .rmDisabled:hover .rmExpandDown
{
	background-image: url('Menu/rmSprite.png');
	background-position: 100% -216px;
}

/* </expand arrows> */

/* <rtl> */

.RadMenu_Hay_rtl .rmGroup .rmLink:hover,
.RadMenu_Hay_rtl .rmGroup .rmFocused,
.RadMenu_Hay_rtl .rmGroup .rmSelected,
.RadMenu_Hay_rtl .rmGroup .rmExpanded
{
	background-position: 100% -264px;
}

.RadMenu_Hay_rtl .rmGroup .rmLink:hover .rmText,
.RadMenu_Hay_rtl .rmGroup .rmFocused .rmText,
.RadMenu_Hay_rtl .rmGroup .rmSelected .rmText,
.RadMenu_Hay_rtl .rmGroup .rmExpanded .rmText
{
	background-position: 0 -288px;
}

.RadMenu_Hay_rtl .rmGroup .rmExpandLeft
{
	background-position: 0 -312px;
}

.RadMenu_Hay_rtl .rmGroup .rmLink:hover .rmExpandLeft,
.RadMenu_Hay_rtl .rmGroup .rmFocused .rmExpandLeft,
.RadMenu_Hay_rtl .rmGroup .rmSelected .rmExpandLeft,
.RadMenu_Hay_rtl .rmGroup .rmExpanded .rmExpandLeft
{
	background-position: 0 -336px;
}

/* </rtl> */

/* </Submenu items> */

/* <Submenu offsets (Hay - specific, overlapping submenus)> */

.RadMenu_Hay .rmSlide
{
	margin: -3px 0 0 3px;
}

.RadMenu_Hay .rmVertical .rmSlide,
.RadMenu_Hay .rmSlide .rmSlide,
.RadMenu_Hay_Context .rmGroup .rmSlide
{
	margin: 0 0 0 -5px;
}

.RadMenu_Hay_rtl .rmSlide
{
	margin: -3px 0 0 -3px;
}

.RadMenu_Hay_rtl .rmVertical .rmSlide,
.RadMenu_Hay_rtl .rmSlide .rmSlide,
.RadMenu_Hay_Context_rtl .rmGroup .rmSlide
{
	margin: 0 0 0 5px;
}

/* </Submenu offsets> */

/* <Scrolling arrows> */

.RadMenu_Hay .rmLeftArrow,
.RadMenu_Hay .rmRightArrow
{
	background-color: #f6f6e8;
}

.RadMenu_Hay .rmLeftArrow { background-position: -8px -312px; border-right: 1px solid #bbb99d; }
.RadMenu_Hay .rmRightArrow { background-position: -482px -216px; border-left: 1px solid #bbb99d; }

.RadMenu_Hay .rmTopArrow,
.RadMenu_Hay .rmBottomArrow,
.RadMenu_Hay .rmGroup .rmLeftArrow,
.RadMenu_Hay .rmGroup .rmRightArrow
{
	background-color: #f6f6e8;
}

.RadMenu_Hay .rmTopArrow { background-position: 50% -367px; border-bottom: 1px solid #bbb99d; }
.RadMenu_Hay .rmBottomArrow { background-position: 50% -391px; border-top: 1px solid #bbb99d; }

/* </Scrolling arrows> */

/* <Separators> */

.RadMenu_Hay .rmVertical .rmSeparator .rmText,
.RadMenu_Hay .rmHorizontal .rmVertical .rmSeparator .rmText
{
	background-position: 0 -406px;
}

.RadMenu_Hay .rmHorizontal .rmSeparator .rmText,
.RadMenu_Hay .rmVertical .rmHorizontal .rmSeparator .rmText
{
	background-position: 0 -386px;
}

/* </Separators> */

/* </RadMenu / Hay> */