/* RadColorPicker Sunset skin */
.RadColorPicker_Sunset .rcpPalette
{
	background-color:#fff;
	border:solid 1px #82745f;
}

.RadColorPicker_Sunset .rcpColorBox
{
	border:solid 1px #fff;
}

.RadColorPicker_Sunset .rcpSelectedColor,
.RadColorPicker_Sunset .rcpMillionColorsPalette
{
	border:solid 1px #000;
}

.RadColorPicker_Sunset .rcpColorPreview,
.RadColorPicker_Sunset .rcpInput,
.RadColorPicker_Sunset .rcpHexInput
{
	border:solid 1px #938879;
}

.RadColorPicker_Sunset .rcpPalette,
.RadColorPicker_Sunset input,
.RadColorPicker_Sunset a
{
	color:#000;
}

.RadColorPicker_Sunset .rcpEmptyColor,
.RadColorPicker_Sunset .rcpIcon a,
.RadColorPicker_Sunset .rcpTabs,
.RadColorPicker_Sunset .rcpTabs a,
.RadColorPicker_Sunset .rcpTabs a span,
.RadColorPicker_Sunset .rcpApplyButton,
.RadColorPicker_Sunset .rcpApplyButton span,
.RadColorPicker_Sunset .rcpMillionColorsHandle,
.RadColorPicker_Sunset div.rcpMillionColorsSlider div.rslVertical a.rslDraghandle
{
	background-image:url('ColorPicker/ColorPickerSprites.gif');
	background-repeat:no-repeat;
}

/* no color button */
.RadColorPicker_Sunset .rcpEmptyColor
{
	background-position:right -52px;
}

.RadColorPickerRTL_Sunset .rcpEmptyColor
{
    background-position:-1001px -52px;
}

/* color picker button */
.RadColorPicker_Sunset .rcpIcon a
{
	background-position:0 -52px;
}

.RadColorPicker_Sunset .rcpIcon a:hover
{
	background-position:0 -73px;
}

.RadColorPicker_Sunset .rcpIcon a:active,
.RadColorPicker_Sunset .rcpIcon a:focus
{
	background-position:0 -94px;
}

/* color picker tabs */
.RadColorPicker_Sunset .rcpTabs
{
    background:#fff;
    background-position:0 -169px;
}

.RadColorPicker_Sunset .rcpTabs .rcpSelectedTab a
{
    background-position:right -26px;
}

.RadColorPicker_Sunset .rcpTabs .rcpSelectedTab a span
{
    background-position:left -26px;
}

/* apply color button */
.RadColorPicker_Sunset .rcpApplyButton
{
    background-position:right -115px;
}

.RadColorPicker_Sunset .rcpApplyButton:hover
{
    background-position:right -136px;
}

.RadColorPicker_Sunset .rcpApplyButton span
{
    background-position:0 -115px;
    color:#3d1400;
}

.RadColorPicker_Sunset .rcpApplyButton:hover span
{
    background-position:0 -136px;
}

/* HSB, HSV palette handle */
.RadColorPicker_Sunset .rcpMillionColorsHandle
{
    background-position:-1009px -73px;
    background-color:transparent;
}

/* HSB, HSV slider handle */
.RadColorPicker_Sunset div.rcpMillionColorsSlider div.rslVertical a.rslDraghandle,
.RadColorPicker_Sunset div.rcpMillionColorsSlider div.rslVertical a.rslDraghandle:hover,
.RadColorPicker_Sunset div.rcpMillionColorsSlider div.rslVertical a.rslDraghandle:focus,
.RadColorPicker_Sunset div.rcpMillionColorsSlider div.rslVertical a.rslDraghandle:active
{
    background-position:-1002px -88px;
}