/* Telerik RadAjaxLoadingPanel Forest Skin */

.RadAjax_Forest .raDiv
{
	background-image:url('Common/loading.gif');
}

.RadAjax_Forest .raColor
{
	background-color:#fff;
}

.RadAjax_Forest .raTransp
{
	opacity:0.6;
	-moz-opacity:0.6;
	filter:alpha(opacity=60);
}