/*Telerik RadCalendar Forest skin*/

table.RadCalendar_Forest
{
	border-collapse:separate;
	border:0;
	background:#c7d6a7;
	font:12px "segoe ui",arial,sans-serif;
	width:220px;
}

/*titlebar*/

.RadCalendar_Forest .rcTitlebar
{
	width:100%;
	border:1px solid;
	border-color:#588a4d #588a4d #3c6716;
	padding:0;
	background:#4d7a26 0 -1000px repeat-x url('Calendar/sprite.gif');
	color:#fff;
}

.RadCalendar_Forest .rcTitlebar table
{
	width:100%;
	border-collapse:separate;
	border:0;
	font:12px/22px "segoe ui",arial,sans-serif;
}

.RadCalendar_Forest .rcTitlebar td
{
	border:0;
	padding:0 0 1px;
	text-align:center;
	vertical-align:middle;
}

.RadCalendar_Forest .rcTitlebar .rcTitle
{
	width:100%;
	cursor:pointer;
}

.RadCalendar_Forest .rcTitlebar .rcPrev,
.RadCalendar_Forest .rcTitlebar .rcNext,
.RadCalendar_Forest .rcTitlebar .rcFastPrev,
.RadCalendar_Forest .rcTitlebar .rcFastNext
{
	display:block;
	width:17px;
	height:16px;
	overflow:hidden;
	margin:0 2px;
	background:transparent url('Calendar/sprite.gif') no-repeat;
	text-indent:-2222px;
	text-decoration:none;
	color:#999;
}

.RadCalendar_Forest .rcTitlebar .rcFastPrev
{
	margin-left:4px;
	background-position:0 -200px;
}

.RadCalendar_Forest .rcTitlebar .rcFastPrev:hover
{
	background-position:0 -250px;
}

.RadCalendar_Forest .rcTitlebar .rcPrev
{
	background-position:0 -300px;
}

.RadCalendar_Forest .rcTitlebar .rcPrev:hover
{
	background-position:0 -350px;
}

.RadCalendar_Forest .rcTitlebar .rcNext
{
	background-position:0 -400px;
}

.RadCalendar_Forest .rcTitlebar .rcNext:hover
{
	background-position:0 -450px;
}

.RadCalendar_Forest .rcTitlebar .rcFastNext
{
	margin-right:4px;
	background-position:0 -500px;
}

.RadCalendar_Forest .rcTitlebar .rcFastNext:hover
{
	background-position:0 -550px;
}

.RadCalendar_Forest .rcMain
{
	width:100%;
	border:1px solid #588a4d;
	border-top:0;
	padding:0;
}

.RadCalendar_Forest .rcMainTable
{
	width:100%;
	border-collapse:separate;
	border:0;
	color:#2b2c20;
	font:12px/20px "segoe ui",arial,sans-serif;
}

/*header, footer*/

.RadCalendar_Forest .rcHeader,
.RadCalendar_Forest .rcFooter
{
	border:1px solid #588a4d;
	border-top:0;
	padding:0;
}

/*week numbers and days*/

.RadCalendar_Forest .rcRow th,
.RadCalendar_Forest .rcWeek th
{
	border:0;
	color:#455811;
	font-weight:normal;
	vertical-align:middle;
	cursor:default;
}

.RadCalendar_Forest .rcWeek th
{
	border-top:1px solid #b6c988;
	border-bottom:1px solid #9cb16a;
	padding:2px 6px 3px 0;
	background:#9cb16a 0 100% repeat-x url('Calendar/sprite.gif');
	text-align:right;
}

.RadCalendar_Forest .rcWeek .rcViewSel,
.RadCalendar_Forest .rcRow th
{
	width:12px;
	padding:0 7px 0 9px;
	text-align:center;
}

.RadCalendar_Forest .rcRow th
{
	background:#b1c67f;
}

/*date cells*/

.RadCalendar_Forest .rcRow td
{
	border:1px solid #c7d6a7;
	padding:0;
	text-align:right;
	vertical-align:middle;
}

.RadCalendar_Forest .rcMain .rcRow a,
.RadCalendar_Forest .rcMain .rcRow span
{
	display:block;
	padding:1px 5px 1px 0;
	text-decoration:none;
	color:#2b2c20;
}

.RadCalendar_Forest .rcMain .rcWeekend a
{
	color:#595f35;
}

.RadCalendar_Forest .rcRow .rcToday
{
	border-color:#62703b;
	background:#b4c487;
}

.RadCalendar_Forest .rcRow .rcToday a,
.RadCalendar_Forest .rcRow .rcSelected a
{
	color:#fff;
}

.RadCalendar_Forest .rcMain .rcOtherMonth a
{
	color:#88914b;
}

.RadCalendar_Forest .rcMain .rcOutOfRange span
{
	color:#88914b;
	cursor:default;
}

.RadCalendar_Forest .rcRow .rcHover
{
	border-color:#ab7d25 #95660a #8f610a #a67618;
	background:#d69609 0 -1600px repeat-x url('Calendar/sprite.gif');
}

.RadCalendar_Forest .rcRow .rcHover a
{
	color:#7a1b05;
}

.RadCalendar_Forest .rcRow .rcSelected
{
	border-color:#91351f #7a1b05 #751a04 #8b2913;
	background:#be4401 0 -1700px repeat-x url('Calendar/sprite.gif');
}

.RadCalendar_Forest .rcRow .rcSelected a
{
	color:#fff;
}

/*multimonth view*/

table.RadCalendarMultiView_Forest
{
	width:auto;
}

.RadCalendarMultiView_Forest .rcTitlebar
{
	border-color:#3c4c30;
	background:#2d3d1d 0 -1200px repeat-x url('Calendar/sprite.gif');
}

.RadCalendarMultiView_Forest .rcTitlebar table
{
	line-height:28px;
}

.RadCalendarMultiView_Forest .rcTitlebar td
{
	padding-bottom:2px;
}

.RadCalendarMultiView_Forest .rcTitlebar .rcPrev,
.RadCalendarMultiView_Forest .rcTitlebar .rcNext,
.RadCalendarMultiView_Forest .rcTitlebar .rcFastPrev,
.RadCalendarMultiView_Forest .rcTitlebar .rcFastNext
{
	margin-top:2px;
}

.RadCalendarMultiView_Forest .rcTitlebar .rcFastPrev
{
	background-position:0 -600px;
}

.RadCalendarMultiView_Forest .rcTitlebar .rcFastPrev:hover
{
	background-position:0 -650px;
}

.RadCalendarMultiView_Forest .rcTitlebar .rcPrev
{
	background-position:0 -700px;
}

.RadCalendarMultiView_Forest .rcTitlebar .rcPrev:hover
{
	background-position:0 -750px;
}

.RadCalendarMultiView_Forest .rcTitlebar .rcNext
{
	background-position:0 -800px;
}

.RadCalendarMultiView_Forest .rcTitlebar .rcNext:hover
{
	background-position:0 -850px;
}

.RadCalendarMultiView_Forest .rcTitlebar .rcFastNext
{
	background-position:0 -900px;
}

.RadCalendarMultiView_Forest .rcTitlebar .rcFastNext:hover
{
	background-position:0 -950px;
}

.RadCalendarMultiView_Forest .rcMain
{
	border-color:#3c4c30;
}

.RadCalendarMultiView_Forest .rcCalendar
{
	width:220px;
	border:1px solid #588a4d;
	padding:0;
}

.RadCalendarMultiView_Forest .rcMainTable .rcTitle
{
	border:0;
	border-bottom:1px solid #3c6716;
	padding:0 0 1px;
	background:#4d7a26 0 -1000px repeat-x url('Calendar/sprite.gif');
	color:#fff;
	text-align:center;
	line-height:22px;
}

/*month view*/

table.RadCalendarMonthView_Forest
{
	border-collapse:separate;
	border:1px solid #588a4d;
	background:#c7d6a7;
	font:12px "segoe ui",arial,sans-serif;
	color:#2b2c20;
}

table.RadCalendarMonthView_Forest td
{
	border:0;
	padding:5px 2px 0;
}

.RadCalendarMonthView_Forest #rcMView_Feb,
.RadCalendarMonthView_Forest #rcMView_Apr,
.RadCalendarMonthView_Forest #rcMView_Jun,
.RadCalendarMonthView_Forest #rcMView_Aug,
.RadCalendarMonthView_Forest #rcMView_Oct,
.RadCalendarMonthView_Forest #rcMView_Dec
{
	border-right:1px solid #9cb16a;
}

.RadCalendarMonthView_Forest td:first-child+td+td
{
	border-left:1px solid #d3e0c2;
}

.RadCalendarMonthView_Forest a
{
	display:block;
	padding:2px 4px;
	text-align:center;
	text-decoration:none;
	color:#2b2c20;
}

.RadCalendarMonthView_Forest .rcSelected a
{
	border:1px solid;
	border-color:#91351f #7a1b05 #751a04 #8b2913;
	padding:1px 3px;
	background:#be4401 0 -1700px repeat-x url('Calendar/sprite.gif');
	color:#fff;
}

.RadCalendarMonthView_Forest #rcMView_PrevY a,
.RadCalendarMonthView_Forest #rcMView_NextY a
{
	display:block;
	width:17px;
	height:16px;
	overflow:hidden;
	margin:0 auto;
	background:transparent no-repeat url('Calendar/sprite.gif');
	text-indent:-2222px;
	text-align:center;
	text-decoration:none;
	color:#999;
}

.RadCalendarMonthView_Forest #rcMView_PrevY a
{
	background-position:0 -2100px;
}

.RadCalendarMonthView_Forest #rcMView_PrevY a:hover
{
	background-position:0 -2150px;
}

.RadCalendarMonthView_Forest #rcMView_NextY a
{
	background-position:0 -2200px;
}

.RadCalendarMonthView_Forest #rcMView_NextY a:hover
{
	background-position:0 -2250px;
}

.RadCalendarMonthView_Forest .rcButtons
{
	padding:5px 7px;
	text-align:center;
}

.RadCalendarMonthView_Forest input
{
	border:1px solid #3c4c30;
	padding:0;
	background:#202b15 0 -2300px repeat-x url('Calendar/sprite.gif');
	color:#e7f1d7;
	font:12px "segoe ui",arial,sans-serif;
	cursor:pointer;
}

.RadCalendarMonthView_Forest input:hover
{
	background-color:#293917;
	background-position:0 -2350px;
	color:#fff;
}

.RadCalendarMonthView_Forest #rcMView_Today
{
	margin:0 0.4em 0 0;
}

.RadCalendarMonthView_Forest #rcMView_OK
{
	padding:0 0.2em;
}

/*time view*/

table.RadCalendarTimeView_Forest
{
	border-collapse:separate;
	border:1px solid #588a4d;
	background:#c7d6a7;
	color:#2b2c20;
	font:12px "segoe ui",arial,sans-serif;
}

.RadCalendarTimeView_Forest th
{
	border:0;
	border-bottom:1px solid #3c6716;
	padding:0 0 1px;
	background:#4d7a26 0 -1000px repeat-x url('Calendar/sprite.gif');
	color:#fff;
	text-align:center;
	line-height:22px;
	cursor:default;
	font-weight:normal;
}

table.RadCalendarTimeView_Forest td
{
	border:0;
	border-left:1px solid #9cb16a;
	padding:2px 2px 3px;
}

table.RadCalendarTimeView_Forest td:first-child
{
	border-left:0;
}

.RadCalendarTimeView_Forest a
{
	display:block;
	padding:2px 6px;
	text-align:center;
	color:#2b2c20;
	text-decoration:none;
}

.RadCalendarTimeView_Forest td.rcSelected a
{
	border:1px solid;
	border-color:#91351f #7a1b05 #751a04 #8b2913;
	padding:1px 5px;
	background:#be4401 0 -1700px repeat-x url('Calendar/sprite.gif');
	color:#fff;
}

.RadCalendarTimeView_Forest td.rcHover a
{
	border:1px solid;
	border-color:#ab7d25 #95660a #8f610a #a67618;
	padding:1px 5px;
	background:#d69609 0 -1600px repeat-x url('Calendar/sprite.gif');
	color:#7a1b05;
}

.RadCalendarTimeView_Forest .rcFooter
{
	border:0;
	border-top:1px solid #588a4d;
	padding:0;
}

/*pickers*/

.RadPicker_Forest,
.RadPicker_Forest td
{
	vertical-align:middle;
}

.RadPicker_Forest .RadInput
{
	vertical-align:baseline;
}

.RadPicker_Forest table.rcTable,
.RadPicker_Forest table.rcTable td
{
	border:0;
	margin:0;
	padding:0;
}

.RadPicker_Forest table.rcTable .rcInputCell
{
	padding:0 4px 0 0;
}

.RadPicker_Forest td a
{
	position:relative;/*FF*/
	outline:none;/*FF*/
	z-index:2;/*Opera*/
	margin:0 2px;
	text-decoration:none;
}
* html .RadPicker_Forest td a{position:static}/*IE6*/
*+html .RadPicker_Forest td a{position:static}/*IE7*/

.RadPicker_Forest .rcCalPopup,
.RadPicker_Forest .rcTimePopup
{
	display:block;
	overflow:hidden;
	width:22px;
	height:22px;
	background:url('Calendar/sprite.gif') no-repeat;
	text-indent:-2222px;
	text-align:center;
}

.RadPicker_Forest .rcCalPopup,
.RadPicker_Forest .rcDisabled.rcCalPopup:hover
{
	background-position:0 0;
}

.RadPicker_Forest .rcCalPopup:hover,
.RadPicker_Forest .rcCalPopup:focus,
.RadPicker_Forest .rcCalPopup:active
{
	background-position:0 -50px;
}

.RadPicker_Forest .rcTimePopup,
.RadPicker_Forest .rcDisabled.rcTimePopup:hover
{
	background-position:0 -100px;
}

.RadPicker_Forest .rcTimePopup:hover,
.RadPicker_Forest .rcTimePopup:focus,
.RadPicker_Forest .rcTimePopup:active
{
	background-position:0 -150px;
}

.RadPicker_Forest .rcDisabled,
.RadCalendarMonthView_Forest .rcDisabled
{
	opacity:0.5;
	filter:alpha(opacity=50);
}

/*rtl*/

.RadCalendarRTL_Forest .rcTitlebar .rcFastPrev
{
	background-position:0 -500px;
}

.RadCalendarRTL_Forest .rcTitlebar .rcFastPrev:hover
{
	background-position:0 -550px;
}

.RadCalendarRTL_Forest .rcTitlebar .rcPrev
{
	background-position:0 -400px;
}

.RadCalendarRTL_Forest .rcTitlebar .rcPrev:hover
{
	background-position:0 -450px;
}

.RadCalendarRTL_Forest .rcTitlebar .rcNext
{
	background-position:0 -300px;
}

.RadCalendarRTL_Forest .rcTitlebar .rcNext:hover
{
	background-position:0 -350px;
}

.RadCalendarRTL_Forest .rcTitlebar .rcFastNext
{
	background-position:0 -200px;
}

.RadCalendarRTL_Forest .rcTitlebar .rcFastNext:hover
{
	background-position:0 -250px;
}

.RadCalendarMultiViewRTL_Forest .rcTitlebar .rcFastPrev
{
	background-position:0 -900px;
}

.RadCalendarMultiViewRTL_Forest .rcTitlebar .rcFastPrev:hover
{
	background-position:0 -950px;
}

.RadCalendarMultiViewRTL_Forest .rcTitlebar .rcPrev
{
	background-position:0 -800px;
}

.RadCalendarMultiViewRTL_Forest .rcTitlebar .rcPrev:hover
{
	background-position:0 -850px;
}

.RadCalendarMultiViewRTL_Forest .rcTitlebar .rcNext
{
	background-position:0 -700px;
}

.RadCalendarMultiViewRTL_Forest .rcTitlebar .rcNext:hover
{
	background-position:0 -750px;
}

.RadCalendarMultiViewRTL_Forest .rcTitlebar .rcFastNext
{
	background-position:0 -600px;
}

.RadCalendarMultiViewRTL_Forest .rcTitlebar .rcFastNext:hover
{
	background-position:0 -650px;
}
