/* RadColorPicker Web 2.0 skin */
.RadColorPicker_Web20 .rcpPalette
{
	background-color:#fff;
	border:solid 1px #6788be;	
}

.RadColorPicker_Web20 .rcpColorBox
{
	border:solid 1px #c5c5c5;
}

.RadColorPicker_Web20 .rcpSelectedColor,
.RadColorPicker_Web20 .rcpMillionColorsPalette
{
	border:solid 1px #000;
}

.RadColorPicker_Web20 .rcpColorPreview,
.RadColorPicker_Web20 .rcpInput,
.RadColorPicker_Web20 .rcpHexInput
{
	border:solid 1px #b8b8b8;
	border-top:solid 1px #8e8e8e;
}

.RadColorPicker_Web20 .rcpPalette,
.RadColorPicker_Web20 input,
.RadColorPicker_Web20 a
{
	color:#000;
}

.RadColorPicker_Web20 .rcpEmptyColor,
.RadColorPicker_Web20 .rcpIcon a,
.RadColorPicker_Web20 .rcpTabs,
.RadColorPicker_Web20 .rcpTabs a,
.RadColorPicker_Web20 .rcpTabs a span,
.RadColorPicker_Web20 .rcpApplyButton,
.RadColorPicker_Web20 .rcpApplyButton span,
.RadColorPicker_Web20 .rcpMillionColorsHandle,
.RadColorPicker_Web20 div.rcpMillionColorsSlider div.rslVertical a.rslDraghandle
{
	background-image:url('ColorPicker/ColorPickerSprites.gif');
	background-repeat:no-repeat;
}

/* no color button */
.RadColorPicker_Web20 .rcpEmptyColor
{
	background-position:right -52px;
}

.RadColorPickerRTL_Web20 .rcpEmptyColor
{
    background-position:-1001px -52px;
}

/* color picker button */
.RadColorPicker_Web20 .rcpIcon a
{
	background-position:0 -52px;
}

.RadColorPicker_Web20 .rcpIcon a:hover
{
	background-position:0 -73px;
}

.RadColorPicker_Web20 .rcpIcon a:active,
.RadColorPicker_Web20 .rcpIcon a:focus
{
	background-position:0 -94px;
}

/* colorpicker mode tabs */
.RadColorPicker_Web20 .rcpTabs
{
    background:#fff;
    background-position:0 -169px;
}

.RadColorPicker_Web20 .rcpTabs a span
{
    color:#fff;
}

.RadColorPicker_Web20 .rcpTabs .rcpSelectedTab a
{
    background-position:right -26px;
}

.RadColorPicker_Web20 .rcpTabs .rcpSelectedTab a span
{
    background-position:left -26px;
    color:#0f3789;
}

/* apply color button */
.RadColorPicker_Web20 .rcpApplyButton
{
    background-position:right -115px;
}

.RadColorPicker_Web20 .rcpApplyButton:hover
{
    background-position:right -136px;
}

.RadColorPicker_Web20 .rcpApplyButton span
{
    background-position:0 -115px;
    color:#fff;
}

.RadColorPicker_Web20 .rcpApplyButton:hover span
{
    background-position:0 -136px;
    color:#0f3789;
}

/* HSB, HSV palette handle */
.RadColorPicker_Web20 .rcpMillionColorsHandle
{
    background-position:-1009px -73px;
    background-color:transparent;
}

/* HSB, HSV slider handle */
.RadColorPicker_Web20 div.rcpMillionColorsSlider div.rslVertical a.rslDraghandle,
.RadColorPicker_Web20 div.rcpMillionColorsSlider div.rslVertical a.rslDraghandle:hover,
.RadColorPicker_Web20 div.rcpMillionColorsSlider div.rslVertical a.rslDraghandle:focus,
.RadColorPicker_Web20 div.rcpMillionColorsSlider div.rslVertical a.rslDraghandle:active
{
    background-position:-1002px -88px;
}