/*Telerik RadCalendar Office2007 skin*/

table.RadCalendar_Office2007
{
	border-collapse:separate;
	border:0;
	background:#fff;
	font:12px "segoe ui",arial,sans-serif;
	width:220px;
}

/*titlebar*/

.RadCalendar_Office2007 .rcTitlebar
{
	width:100%;
	border:1px solid;
	border-color:#688caf #688caf #9eb6ce;
	padding:0;
	background:#c3d8f1 0 -1000px repeat-x url('Calendar/sprite.gif');
	color:#00156e;
}

.RadCalendar_Office2007 .rcTitlebar table
{
	width:100%;
	border-collapse:separate;
	border:0;
	font:12px/22px "segoe ui",arial,sans-serif;
}

.RadCalendar_Office2007 .rcTitlebar td
{
	border:0;
	padding:0 0 2px;
	text-align:center;
	vertical-align:middle;
}

.RadCalendar_Office2007 .rcTitlebar .rcTitle
{
	width:100%;
	cursor:pointer;
}

.RadCalendar_Office2007 .rcTitlebar .rcPrev,
.RadCalendar_Office2007 .rcTitlebar .rcNext,
.RadCalendar_Office2007 .rcTitlebar .rcFastPrev,
.RadCalendar_Office2007 .rcTitlebar .rcFastNext
{
	display:block;
	width:17px;
	height:17px;
	overflow:hidden;
	margin:1px 2px 0;
	background:transparent url('Calendar/sprite.gif') no-repeat;
	text-indent:-2222px;
	text-decoration:none;
	color:#ccc;
}

.RadCalendar_Office2007 .rcTitlebar .rcFastPrev
{
	margin-left:4px;
	background-position:0 -200px;
}

.RadCalendar_Office2007 .rcTitlebar .rcFastPrev:hover
{
	background-position:0 -250px;
}

.RadCalendar_Office2007 .rcTitlebar .rcPrev
{
	background-position:0 -300px;
}

.RadCalendar_Office2007 .rcTitlebar .rcPrev:hover
{
	background-position:0 -350px;
}

.RadCalendar_Office2007 .rcTitlebar .rcNext
{
	background-position:0 -400px;
}

.RadCalendar_Office2007 .rcTitlebar .rcNext:hover
{
	background-position:0 -450px;
}

.RadCalendar_Office2007 .rcTitlebar .rcFastNext
{
	margin-right:4px;
	background-position:0 -500px;
}

.RadCalendar_Office2007 .rcTitlebar .rcFastNext:hover
{
	background-position:0 -550px;
}

.RadCalendar_Office2007 .rcMain
{
	width:100%;
	border:1px solid #688caf;
	border-top:0;
	padding:0;
}

.RadCalendar_Office2007 .rcMainTable
{
	width:100%;
	border-collapse:separate;
	border:0;
	color:#000;
	font:12px/20px "segoe ui",arial,sans-serif;
}

/*header, footer*/

.RadCalendar_Office2007 .rcHeader,
.RadCalendar_Office2007 .rcFooter
{
	border:1px solid #688caf;
	border-top:0;
	padding:0;
}

/*week numbers and days*/

.RadCalendar_Office2007 .rcRow th,
.RadCalendar_Office2007 .rcWeek th
{
	border:0;
	font-weight:normal;
	vertical-align:middle;
	cursor:default;
}

.RadCalendar_Office2007 .rcWeek th
{
	border-bottom:1px solid #9ebfdb;
	padding:2px 6px 2px 0;
	text-align:right;
}

.RadCalendar_Office2007 .rcWeek .rcViewSel,
.RadCalendar_Office2007 .rcRow th
{
	width:12px;
	padding:0 7px 0 9px;
	background:#e9eeee;
	text-align:center;
}

.RadCalendar_Office2007 .rcRow th
{
	color:#555;
}

/*date cells*/

.RadCalendar_Office2007 .rcRow td
{
	border:1px solid #fff;
	padding:0;
	text-align:right;
	vertical-align:middle;
}

.RadCalendar_Office2007 .rcMain .rcRow a,
.RadCalendar_Office2007 .rcMain .rcRow span
{
	display:block;
	padding:1px 5px 1px 0;
	text-decoration:none;
	color:#000;
}

.RadCalendar_Office2007 .rcMain .rcWeekend a
{
	color:#444;
}

.RadCalendar_Office2007 .rcRow .rcToday
{
	border-color:#688caf;
}

.RadCalendar_Office2007 .rcMain .rcOtherMonth a
{
	color:#777;
}

.RadCalendar_Office2007 .rcMain .rcOutOfRange span
{
	color:#777;
	cursor:default;
}

.RadCalendar_Office2007 .rcRow .rcHover
{
	border-color:#d8ca95 #b89f73 #c6b99c;
	background:#ffdf85 0 -1600px repeat-x url('Calendar/sprite.gif');
}

.RadCalendar_Office2007 .rcRow .rcSelected
{
	border-color:#8f8367 #a59b85 #c3bdae;
	background:#fcda88 0 -1700px repeat-x url('Calendar/sprite.gif');
}

/*multimonth view*/

table.RadCalendarMultiView_Office2007
{
	width:auto;
}

.RadCalendarMultiView_Office2007 .rcTitlebar
{
	background:#d6e6f4 0 -1199px repeat-x url('Calendar/sprite.gif');
}

.RadCalendarMultiView_Office2007 .rcTitlebar table
{
	border:1px solid #f6f7f9;
	line-height:27px;
}

.RadCalendarMultiView_Office2007 .rcTitlebar td
{
	padding-bottom:1px;
}

.RadCalendarMultiView_Office2007 .rcCalendar
{
	width:220px;
	border:1px solid #688caf;
	border-top:0;
	padding:0;
}

.RadCalendarMultiView_Office2007 .rcMainTable .rcTitle
{
	border-style:solid;
	border-width:1px 0;
	border-color:#688caf #9eb6ce #9eb6ce;
	padding:0 0 2px;
	background:#c3d8f1 0 -1000px repeat-x url('Calendar/sprite.gif');
	color:#00156e;
	text-align:center;
	line-height:22px;
}

/*month view*/

table.RadCalendarMonthView_Office2007
{
	border-collapse:separate;
	border:1px solid #868686;
	background:#fff;
	font:12px "segoe ui",arial,sans-serif;
	color:#000;
}

table.RadCalendarMonthView_Office2007 td
{
	border:0;
	padding:5px 2px 0;
}

.RadCalendarMonthView_Office2007 #rcMView_Feb,
.RadCalendarMonthView_Office2007 #rcMView_Apr,
.RadCalendarMonthView_Office2007 #rcMView_Jun,
.RadCalendarMonthView_Office2007 #rcMView_Aug,
.RadCalendarMonthView_Office2007 #rcMView_Oct,
.RadCalendarMonthView_Office2007 #rcMView_Dec
{
	border-right:1px solid #9ebfdb;
}

.RadCalendarMonthView_Office2007 a
{
	display:block;
	padding:2px 4px;
	text-align:center;
	text-decoration:none;
	color:#000;
}

.RadCalendarMonthView_Office2007 .rcSelected a
{
	border:1px solid;
	border-color:#8f8367 #a59b85 #c3bdae;
	padding:1px 3px;
	background:#fcda88 0 -1700px repeat-x url('Calendar/sprite.gif');
}

.RadCalendarMonthView_Office2007 #rcMView_PrevY a,
.RadCalendarMonthView_Office2007 #rcMView_NextY a
{
	display:block;
	width:15px;
	height:13px;
	overflow:hidden;
	margin:0 auto;
	background:transparent no-repeat url('Calendar/sprite.gif');
	text-indent:-2222px;
	text-align:center;
	text-decoration:none;
	color:#ccc;
}

.RadCalendarMonthView_Office2007 #rcMView_PrevY a
{
	background-position:3px -200px;
}

.RadCalendarMonthView_Office2007 #rcMView_NextY a
{
	background-position:4px -500px;
}

.RadCalendarMonthView_Office2007 .rcButtons
{
	padding:5px 7px 3px;
	text-align:center;
}

.RadCalendarMonthView_Office2007 input
{
	border:1px solid #7793b9;
	padding:1px 0 0;
	background:#e8f1fc 0 -2300px repeat-x url('Calendar/sprite.gif');
	color:#00156e;
	font:12px "segoe ui",arial,sans-serif;
	cursor:pointer;
}

.RadCalendarMonthView_Office2007 input:hover
{
	border-color:#d8ca95 #b89f73 #c6b99c;
	background-color:#ffe18a;
	background-position:0 -2350px;
	color:#000;
}

.RadCalendarMonthView_Office2007 #rcMView_Today
{
	margin:0 0.4em 0 0;
}

.RadCalendarMonthView_Office2007 #rcMView_OK
{
	padding:0 0.2em;
}

/*time view*/

table.RadCalendarTimeView_Office2007
{
	border-collapse:separate;
	border:1px solid #688caf;
	background:#fff;
	font:12px "segoe ui",arial,sans-serif;
}

.RadCalendarTimeView_Office2007 th
{
	border:0;
	border-bottom:1px solid #9eb6ce;
	padding:0 0 1px;
	background:#c3d8f1 0 -1000px repeat-x url('Calendar/sprite.gif');
	color:#00156e;
	text-align:center;
	line-height:23px;
	cursor:default;
	font-weight:normal;
}

table.RadCalendarTimeView_Office2007 td
{
	border:0;
	border-left:1px solid #9ebfdb;
	padding:2px 2px 3px;
}

table.RadCalendarTimeView_Office2007 td:first-child
{
	border-left:0;
}

.RadCalendarTimeView_Office2007 a
{
	display:block;
	padding:2px 6px;
	text-align:center;
	color:#000;
	text-decoration:none;
}

.RadCalendarTimeView_Office2007 td.rcSelected a
{
	border:1px solid;
	border-color:#8f8367 #a59b85 #c3bdae;
	padding:1px 5px;
	background:#fcda88 0 -1700px repeat-x url('Calendar/sprite.gif');
}

.RadCalendarTimeView_Office2007 td.rcHover a
{
	border:1px solid;
	border-color:#d8ca95 #b89f73 #c6b99c;
	padding:1px 5px;
	background:#ffdf85 0 -1600px repeat-x url('Calendar/sprite.gif');
}

.RadCalendarTimeView_Office2007 .rcFooter
{
	border:0;
	border-top:1px solid #688caf;
	padding:0;
}

/*pickers*/

.RadPicker_Office2007,
.RadPicker_Office2007 td
{
	vertical-align:middle;
}

.RadPicker_Office2007 .RadInput
{
	vertical-align:baseline;
}

.RadPicker_Office2007 table.rcTable,
.RadPicker_Office2007 table.rcTable td
{
	border:0;
	margin:0;
	padding:0;
}

.RadPicker_Office2007 table.rcTable .rcInputCell
{
	padding:0 4px 0 0;
}

.RadPicker_Office2007 td a
{
	position:relative;/*FF*/
	outline:none;/*FF*/
	z-index:2;/*Opera*/
	margin:0 2px;
	text-decoration:none;
}
* html .RadPicker_Office2007 td a{position:static}/*IE6*/
*+html .RadPicker_Office2007 td a{position:static}/*IE7*/

.RadPicker_Office2007 .rcCalPopup,
.RadPicker_Office2007 .rcTimePopup
{
	display:block;
	overflow:hidden;
	width:22px;
	height:22px;
	background:url('Calendar/sprite.gif') no-repeat;
	text-indent:-2222px;
	text-align:center;
}

.RadPicker_Office2007 .rcCalPopup,
.RadPicker_Office2007 .rcDisabled.rcCalPopup:hover
{
	background-position:0 0;
}

.RadPicker_Office2007 .rcCalPopup:hover,
.RadPicker_Office2007 .rcCalPopup:focus,
.RadPicker_Office2007 .rcCalPopup:active
{
	background-position:0 -50px;
}

.RadPicker_Office2007 .rcTimePopup,
.RadPicker_Office2007 .rcDisabled.rcTimePopup:hover
{
	background-position:0 -100px;
}

.RadPicker_Office2007 .rcTimePopup:hover,
.RadPicker_Office2007 .rcTimePopup:focus,
.RadPicker_Office2007 .rcTimePopup:active
{
	background-position:0 -150px;
}

.RadPicker_Office2007 .rcDisabled,
.RadCalendarMonthView_Office2007 .rcDisabled
{
	opacity:0.5;
	filter:alpha(opacity=50);
}

/*rtl*/

.RadCalendarRTL_Office2007 .rcTitlebar .rcFastPrev
{
	background-position:0 -500px;
}

.RadCalendarRTL_Office2007 .rcTitlebar .rcFastPrev:hover
{
	background-position:0 -550px;
}

.RadCalendarRTL_Office2007 .rcTitlebar .rcPrev
{
	background-position:0 -400px;
}

.RadCalendarRTL_Office2007 .rcTitlebar .rcPrev:hover
{
	background-position:0 -450px;
}

.RadCalendarRTL_Office2007 .rcTitlebar .rcNext
{
	background-position:0 -300px;
}

.RadCalendarRTL_Office2007 .rcTitlebar .rcNext:hover
{
	background-position:0 -350px;
}

.RadCalendarRTL_Office2007 .rcTitlebar .rcFastNext
{
	background-position:0 -200px;
}

.RadCalendarRTL_Office2007 .rcTitlebar .rcFastNext:hover
{
	background-position:0 -250px;
}