/*Telerik RadListView Common CSS*/

/*global*/

.RadListView{font:12px/16px "segoe ui",arial,sans-serif}

.RadListView .rlvEmpty{font-style:italic} /*empty data*/

.RadListView .rlvI{} /*item*/
.RadListView .rlvA{} /*alternating item*/

.RadListView .rlvISel{} /*selected item*/
.RadListView .rlvIEdit{} /*edit item*/
.RadListView .rlvIEmpty{font-style:italic;} /*empty item*/
.RadListView .rlvIGroup{} /*group item*/
.RadListView .rlvIInsert{} /*insert item*/

.RadListView .rlvSItem{} /*item separator*/
.RadListView .rlvSGroup{} /*group separator*/

/*buttons*/

.RadListView .rlvBAdd,
.RadListView .rlvBUpdate,
.RadListView .rlvBCancel,
.RadListView .rlvBSel,
.RadListView .rlvBDel,
.RadListView .rlvBEdit
{
	width:16px;
	height:16px;
	border:0;
	margin:0;
	padding:0;
	background-color:transparent;
	background-repeat:no-repeat;
	vertical-align:middle;
	font-size:1px;
	cursor:pointer;
}

/*list*/

.RadListView li.rlvI,
.RadListView li.rlvA,
.RadListView li.rlvISel,
.RadListView li.rlvIEmpty
{
	padding-top:5px;
	padding-bottom:4px;
}

/*flow*/

.RadListView div.rlvI,
.RadListView div.rlvA,
.RadListView div.rlvISel,
.RadListView div.rlvIEmpty,
.RadListView div.rlvIEdit
{
	border-bottom:1px solid;
	padding-top:5px;
	padding-bottom:4px;
}

/*grid*/

.RadListView tr.rlvHeader th
{
	padding-top:5px;
	padding-bottom:4px;
	text-align:left;
	font-weight:normal;
}

.RadListView tr.rlvHeader th,
.RadListView tr.rlvI td,
.RadListView tr.rlvA td,
.RadListView tr.rlvISel td,
.RadListView tr.rlvIEmpty td,
.RadListView tr.rlvIEdit td
{
	padding:5px 7px 4px;
}

.RadListView tr.rlvIEdit td td
{
	border:0;
	padding:1px;
}

/*single row*/

.RadListView td.rlvI,
.RadListView td.rlvA,
.RadListView td.rlvISel,
.RadListView td.rlvIEmpty,
.RadListView td.rlvIEdit
{
	padding:5px 7px 4px;
}

/* */

.RadListView .rlvEditTable{}

.RadListView .rlvMultiRows .rlvI,
.RadListView .rlvMultiRows .rlvA,
.RadListView .rlvMultiRows .rlvIEdit{float:left}
.RadListView .rlvMultiRows{display:inline-block}
.RadListView .rlvMultiRows{display:block}
.RadListView .rlvMultiRows:after{content:"";display:block;visibility:hidden;clear:both}

/*data pager*/

.RadDataPager{display:inline-block;}
.RadDataPager{display:block;}
.RadDataPager:after{content:"";display:block;clear:both;visibility:hidden;height:0;}

.RadDataPager
{
	min-height:22px;
	padding:3px 0;
}

.RadDataPager .rdpWrap
{
	float:left;
	padding:0 10px;
	line-height:22px;
	white-space:nowrap;
}

.RadDataPager .rdpInfoPart
{
	float:right;
}

.RadDataPager .rdpInfoPart strong
{
	font-weight:normal;
}

.RadDataPager .rdpPageFirst,
.RadDataPager .rdpPagePrev,
.RadDataPager .rdpPageNext,
.RadDataPager .rdpPageLast
{
	width:22px;
	height:22px;
	border:0;
	margin:0;
	padding:0;
	background-color:transparent;
	background-repeat:no-repeat;
	vertical-align:middle;
	font-size:1px;
	cursor:pointer;
}

.RadDataPager .rdpPagerButton
{
	height:22px;
	margin:0 14px 0 0;
	padding:0 4px 2px;
	vertical-align:middle;
	cursor:pointer;
}

.RadDataPager .rdpNumPart a
{
	float:left;
	margin:0;
	padding:0 5px 0 0;
	line-height:22px;
	text-decoration:none;
}

.RadDataPager .rdpNumPart span
{
	float:left;
	padding:0 0 0 5px;
}

.RadDataPager .rdpNumPart a:hover span
{
	cursor:pointer;
}

.RadDataPager .rdpNumPart a.rdpCurrentPage,
.RadDataPager .rdpNumPart a.rdpCurrentPage:hover,
.RadDataPager .rdpNumPart a.rdpCurrentPage span,
.RadDataPager .rdpNumPart a.rdpCurrentPage:hover span
{
	cursor:default;
}

.RadDataPager .rdpWrap a img
{
	margin:0 8px;
}

.RadDataPager .RadSlider
{
	float:left;
	margin:0 10px 0 0;
}

.RadDataPager .rdpPagerLabel,
.RadDataPager .rdpPager .RadComboBox,
.RadDataPager .rdpPager .RadInput
{
	margin:0 4px 0 0;
	vertical-align:middle;
}

*+html .RadDataPager .rdpPager .RadComboBox{margin-top:-1px;}
* html .RadDataPager .rdpPager .RadComboBox{margin-top:-1px;padding:1px 0;}

.RadDataPager .rdpPagerTextBox
{
	text-align:center;
}