/* RadColorPicker Simple skin */
.RadColorPicker_Simple .rcpPalette
{
	background-color:#fff;
	border:solid 1px #828282;	
}

.RadColorPicker_Simple .rcpColorBox
{
	border:solid 1px #e4e4e4;
}

.RadColorPicker_Simple .rcpSelectedColor,
.RadColorPicker_Simple .rcpMillionColorsPalette
{
    border:solid 1px #000;
}

.RadColorPicker_Simple .rcpColorPreview,
.RadColorPicker_Simple .rcpInput,
.RadColorPicker_Simple .rcpHexInput
{
	border:solid 1px #b8b8b8;
	border-top:solid 1px #8e8e8e;
}

.RadColorPicker_Simple .rcpPalette,
.RadColorPicker_Simple input,
.RadColorPicker_Simple a
{
	color:#000;
}

.RadColorPicker_Simple .rcpEmptyColor,
.RadColorPicker_Simple .rcpIcon a,
.RadColorPicker_Simple .rcpTabs,
.RadColorPicker_Simple .rcpTabs a,
.RadColorPicker_Simple .rcpTabs a span,
.RadColorPicker_Simple .rcpMillionColorsHandle,
.RadColorPicker_Simple div.rcpMillionColorsSlider div.rslVertical a.rslDraghandle
{
	background-image:url('ColorPicker/ColorPickerSprites.gif');
	background-repeat:no-repeat;
}

/* no color button */
.RadColorPicker_Simple .rcpEmptyColor
{
	background-position:right -52px;
}

.RadColorPickerRTL_Simple .rcpEmptyColor
{
    background-position:-1001px -52px;
}

/* color picker button */
.RadColorPicker_Simple .rcpIcon a
{
	background-position:0 -52px;
}

.RadColorPicker_Simple .rcpIcon a:hover
{
	background-position:0 -73px;
}

.RadColorPicker_Simple .rcpIcon a:active,
.RadColorPicker_Simple .rcpIcon a:focus
{
	background-position:0 -94px;
}

/* color picker tabs */
.RadColorPicker_Simple .rcpTabs
{
    background:#fafafa;
    background-position:0 -169px;
}

.RadColorPicker_Simple .rcpTabs .rcpSelectedTab a
{
    background-position:right -26px;
}

.RadColorPicker_Simple .rcpTabs .rcpSelectedTab a span
{
    background-position:left -26px;
}

/* apply color button */
.RadColorPicker_Simple .rcpApplyButton
{
    border:solid 1px #7e7e7e;
    background-color:#c6c6c6;
}

.RadColorPicker_Simple .rcpApplyButton:hover
{
    border-color:#c98400;
    background-color:#ffa517;
}

.RadColorPicker_Simple .rcpApplyButton:hover span
{
    color:#882501;
}

/* HSB, HSV palette handle */
.RadColorPicker_Simple .rcpMillionColorsHandle
{
    background-position:-1009px -73px;
    background-color:transparent;
}

/* HSB, HSV slider handle */
.RadColorPicker_Simple div.rcpMillionColorsSlider div.rslVertical a.rslDraghandle,
.RadColorPicker_Simple div.rcpMillionColorsSlider div.rslVertical a.rslDraghandle:hover,
.RadColorPicker_Simple div.rcpMillionColorsSlider div.rslVertical a.rslDraghandle:focus,
.RadColorPicker_Simple div.rcpMillionColorsSlider div.rslVertical a.rslDraghandle:active
{
    background-position:-1002px -88px;
    background-color:transparent;
    border:0px none;
    width:22px;
    height:7px;
}