/*Telerik RadCalendar Default skin*/

table.RadCalendar_Simple
{
	border-collapse:separate;
	border:0;
	background:#fff;
	font:12px "segoe ui",arial,sans-serif;
	width:220px;
}

/*titlebar*/

.RadCalendar_Simple .rcTitlebar
{
	width:100%;
	border:1px solid #7c7c7c;
	padding:0;
	background:#e4e4e4;
	color:#000;
}

.RadCalendar_Simple .rcTitlebar table
{
	width:100%;
	border-collapse:separate;
	border:0;
	font:12px/23px "segoe ui",arial,sans-serif;
}

.RadCalendar_Simple .rcTitlebar td
{
	border:0;
	padding:0 0 1px;
	text-align:center;
	vertical-align:middle;
}

.RadCalendar_Simple .rcTitlebar .rcTitle
{
	width:100%;
	cursor:pointer;
}

.RadCalendar_Simple .rcTitlebar .rcPrev,
.RadCalendar_Simple .rcTitlebar .rcNext,
.RadCalendar_Simple .rcTitlebar .rcFastPrev,
.RadCalendar_Simple .rcTitlebar .rcFastNext
{
	display:block;
	width:18px;
	height:18px;
	overflow:hidden;
	margin:1px 2px 0;
	background:transparent url('Calendar/sprite.gif') no-repeat;
	text-indent:-2222px;
	text-decoration:none;
	color:#ccc;
}

.RadCalendar_Simple .rcTitlebar .rcFastPrev
{
	margin-left:4px;
	background-position:0 -200px;
}

.RadCalendar_Simple .rcTitlebar .rcFastPrev:hover
{
	background-position:0 -250px;
}

.RadCalendar_Simple .rcTitlebar .rcPrev
{
	background-position:0 -300px;
}

.RadCalendar_Simple .rcTitlebar .rcPrev:hover
{
	background-position:0 -350px;
}

.RadCalendar_Simple .rcTitlebar .rcNext
{
	background-position:0 -400px;
}

.RadCalendar_Simple .rcTitlebar .rcNext:hover
{
	background-position:0 -450px;
}

.RadCalendar_Simple .rcTitlebar .rcFastNext
{
	margin-right:4px;
	background-position:0 -500px;
}

.RadCalendar_Simple .rcTitlebar .rcFastNext:hover
{
	background-position:0 -550px;
}

.RadCalendar_Simple .rcMain
{
	width:100%;
	border:1px solid #999;
	border-top:0;
	padding:0;
}

.RadCalendar_Simple .rcMainTable
{
	border-collapse:separate;
	border:0;
	width:100%;
	font:12px/17px "segoe ui",arial,sans-serif;
}

/*header, footer*/

.RadCalendar_Simple .rcHeader,
.RadCalendar_Simple .rcFooter
{
	border:1px solid #999;
	border-top:0;
	padding:0;
}

/*week numbers and days*/

.RadCalendar_Simple .rcRow th,
.RadCalendar_Simple .rcWeek th
{
	border:0;
	font-weight:normal;
	vertical-align:middle;
	cursor:default;
}

.RadCalendar_Simple .rcWeek th
{
	border-bottom:1px solid #999;
	padding:4px 6px 4px 0;
	text-align:right;
	color:#333;
}

.RadCalendar_Simple .rcWeek .rcViewSel,
.RadCalendar_Simple .rcRow th
{
	width:13px;
	padding:0 7px 0 9px;
	background:#ececec;
	text-align:center;
}

/*date cells*/

.RadCalendar_Simple .rcRow td
{
	border:1px solid #fff;
	padding:0;
	text-align:right;
	vertical-align:middle;
}

.RadCalendar_Simple .rcMain .rcRow a,
.RadCalendar_Simple .rcMain .rcRow span
{
	display:block;
	padding:1px 5px 1px 0;
	text-decoration:none;
	color:#000;
}

.RadCalendar_Simple .rcMain .rcWeekend a
{
	color:#666;
}

.RadCalendar_Simple .rcRow .rcToday
{
	border-color:#c95b00;
}

.RadCalendar_Simple .rcMain .rcOtherMonth a
{
	color:#777;
}

.RadCalendar_Simple .rcMain .rcOutOfRange span
{
	color:#777;
	cursor:default;
}

.RadCalendar_Simple .rcRow .rcHover
{
	border-color:#c95b00;
	background:#ffd39c;
}

.RadCalendar_Simple .rcRow .rcHover a
{
	color:#892500;
}

.RadCalendar_Simple .rcRow .rcSelected
{
	border-color:#ca250c;
	background:#ff7617;
}

.RadCalendar_Simple .rcMain .rcRow .rcSelected a
{
	color:#882501;
}

/*multimonth view*/

table.RadCalendarMultiView_Simple
{
	width:auto;
}

.RadCalendarMultiView_Simple .rcTitlebar
{
	border-color:#616161;
	background:#c6c6c6;
}

.RadCalendarMultiView_Simple .rcTitlebar table
{
	line-height:29px;
}

.RadCalendarMultiView_Simple .rcMain
{
	border-color:#616161;
}

.RadCalendarMultiView_Simple .rcCalendar
{
	width:220px;
	border:1px solid #999;
	padding:0;
}

.RadCalendarMultiView_Simple .rcMainTable .rcTitle
{
	border:0;
	border-bottom:1px solid #999;
	padding:0 0 2px;
	background:#e4e4e4;
	text-align:center;
	line-height:22px;
}

/*month view*/

table.RadCalendarMonthView_Simple
{
	border-collapse:separate;
	border:1px solid #616161;
	background:#fff;
	font:12px "segoe ui",arial,sans-serif;
	color:#333;
}

table.RadCalendarMonthView_Simple td
{
	border:0;
	padding:5px 2px 0;
}

.RadCalendarMonthView_Simple #rcMView_Feb,
.RadCalendarMonthView_Simple #rcMView_Apr,
.RadCalendarMonthView_Simple #rcMView_Jun,
.RadCalendarMonthView_Simple #rcMView_Aug,
.RadCalendarMonthView_Simple #rcMView_Oct,
.RadCalendarMonthView_Simple #rcMView_Dec
{
	border-right:1px solid #999;
}

.RadCalendarMonthView_Simple a
{
	display:block;
	padding:2px 4px;
	text-align:center;
	text-decoration:none;
	color:#333;
}

.RadCalendarMonthView_Simple .rcSelected a
{
	border:1px solid #ca250c;
	padding:1px 3px;
	background:#ff7617;
	color:#882501;
}

.RadCalendarMonthView_Simple #rcMView_PrevY a,
.RadCalendarMonthView_Simple #rcMView_NextY a
{
	display:block;
	width:18px;
	height:13px;
	overflow:hidden;
	margin:0 auto;
	padding:0;
	background:transparent no-repeat url('Calendar/sprite.gif');
	text-indent:-2222px;
	text-align:center;
	text-decoration:none;
	color:#ccc;
}

.RadCalendarMonthView_Simple #rcMView_PrevY a
{
	background-position:0 -2100px;
}

.RadCalendarMonthView_Simple #rcMView_NextY a
{
	background-position:0 -2200px;
}

.RadCalendarMonthView_Simple .rcButtons
{
	padding:5px 7px 4px;
	text-align:center;
}

.RadCalendarMonthView_Simple input
{
	border:1px solid #7a7a7a;
	padding:0;
	background:#c6c6c6;
	color:#000;
	font:12px "segoe ui",arial,sans-serif;
	cursor:pointer;
}

.RadCalendarMonthView_Simple #rcMView_Today
{
	margin:0 0.4em 0 0;
}

.RadCalendarMonthView_Simple #rcMView_OK
{
	padding:0 0.2em;
}

/*time view*/

table.RadCalendarTimeView_Simple
{
	border-collapse:separate;
	border:1px solid #616161;
	background:#fff;
	font:12px "segoe ui",arial,sans-serif;
}

.RadCalendarTimeView_Simple th
{
	border:0;
	border-bottom:1px solid #999;
	padding:0 0 1px;
	background:#e4e4e4;
	color:#000;
	text-align:center;
	cursor:default;
	line-height:23px;
	font-weight:normal;
}

table.RadCalendarTimeView_Simple td
{
	border:0;
	border-left:1px solid #999;
	padding:2px 2px 3px;
}

table.RadCalendarTimeView_Simple td:first-child
{
	border-left:0;
}

.RadCalendarTimeView_Simple a
{
	display:block;
	padding:2px 6px;
	text-align:center;
	color:#333;
	text-decoration:none;
}

.RadCalendarTimeView_Simple td.rcSelected a
{
	border:1px solid #ca250c;
	padding:1px 5px;
	background:#ff7617;
	color:#882501;
}

.RadCalendarTimeView_Simple td.rcHover a
{
	border:1px solid #c95b00;
	padding:1px 5px;
	background:#ffd39c;
	color:#892500;
}

.RadCalendarTimeView_Simple .rcFooter
{
	border:0;
	border-top:1px solid #999;
	padding:0;
}

/*pickers*/

.RadPicker_Simple,
.RadPicker_Simple td
{
	vertical-align:middle;
}

.RadPicker_Simple .RadInput
{
	vertical-align:baseline;
}

.RadPicker_Simple table.rcTable,
.RadPicker_Simple table.rcTable td
{
	border:0;
	margin:0;
	padding:0;
}

.RadPicker_Simple table.rcTable .rcInputCell
{
	padding:0 4px 0 0;
}

.RadPicker_Simple td a
{
	position:relative;/*FF*/
	outline:none;/*FF*/
	z-index:2;/*Opera*/
	margin:0 2px;
	text-decoration:none;
}
* html .RadPicker_Simple td a{position:static}/*IE6*/
*+html .RadPicker_Simple td a{position:static}/*IE7*/

.RadPicker_Simple .rcCalPopup,
.RadPicker_Simple .rcTimePopup
{
	display:block;
	overflow:hidden;
	width:22px;
	height:22px;
	background:url('Calendar/sprite.gif') no-repeat;
	text-indent:-2222px;
	text-align:center;
}

.RadPicker_Simple .rcCalPopup,
.RadPicker_Simple .rcDisabled.rcCalPopup:hover
{
	background-position:0 0;
}

.RadPicker_Simple .rcCalPopup:hover,
.RadPicker_Simple .rcCalPopup:focus,
.RadPicker_Simple .rcCalPopup:active
{
	background-position:0 -50px;
}

.RadPicker_Simple .rcTimePopup,
.RadPicker_Simple .rcDisabled.rcTimePopup:hover
{
	background-position:0 -100px;
}

.RadPicker_Simple .rcTimePopup:hover,
.RadPicker_Simple .rcTimePopup:focus,
.RadPicker_Simple .rcTimePopup:active
{
	background-position:0 -150px;
}

.RadPicker_Simple .rcDisabled,
.RadCalendarMonthView_Simple .rcDisabled
{
	opacity:0.5;
	filter:alpha(opacity=50);
}

/*rtl*/

.RadCalendarRTL_Simple .rcTitlebar .rcFastPrev
{
	background-position:0 -500px;
}

.RadCalendarRTL_Simple .rcTitlebar .rcFastPrev:hover
{
	background-position:0 -550px;
}

.RadCalendarRTL_Simple .rcTitlebar .rcPrev
{
	background-position:0 -400px;
}

.RadCalendarRTL_Simple .rcTitlebar .rcPrev:hover
{
	background-position:0 -450px;
}

.RadCalendarRTL_Simple .rcTitlebar .rcNext
{
	background-position:0 -300px;
}

.RadCalendarRTL_Simple .rcTitlebar .rcNext:hover
{
	background-position:0 -350px;
}

.RadCalendarRTL_Simple .rcTitlebar .rcFastNext
{
	background-position:0 -200px;
}

.RadCalendarRTL_Simple .rcTitlebar .rcFastNext:hover
{
	background-position:0 -250px;
}