/* <RadMenu / Simple> */

.RadMenu_Simple ul.rmRootGroup,
.RadMenu_Simple div.rmRootGroup
{
	padding: 1px 0;
	border: 1px solid #7c7c7c;
	background-color: #e4e4e4;
}

/* <Root items> */

.RadMenu_Simple,
.RadMenu_Simple .rmLink
{
	font: normal 12px/19px "Segoe UI", Arial, sans-serif;
	color: #000;
	text-decoration: none;
}

.RadMenu_Simple .rmItem .rmLink
{
	padding: 1px 12px;
}

.RadMenu_Simple .rmItem .rmLink .rmText
{
	padding-right: 0;
}

.RadMenu_Simple .rmItem .rmLink:hover,
.RadMenu_Simple .rmItem .rmFocused,
.RadMenu_Simple .rmItem .rmSelected
{
	background: #ffe79c;
	border: 1px solid #c98400;
	padding: 0 11px;
}

.RadMenu_Simple .rmItem .rmExpanded,
.RadMenu_Simple .rmItem .rmExpanded:hover
{
	background: #ffa517;
	border: 1px solid #ca4b0c;
	padding: 0 11px;
}

.RadMenu_Simple .rmItem .rmDisabled,
.RadMenu_Simple .rmItem .rmDisabled:hover
{
	color: #7d7d7d;
	background-color: transparent;
	border: 0;
	padding: 1px 12px;
}

.RadMenu_Simple img.rmLeftImage
{
	margin: 2px 2px 0 0;
	padding-bottom: 3px;
}

/* </Root items> */


/* <Submenu items> */

.RadMenu_Simple .rmGroup,
.RadMenu_Simple .rmMultiColumn,
.RadMenu_Simple .rmGroup .rmVertical
{
	border: 1px solid #616161;
	background: #fff url('Menu/rmDropDownStripe.png') repeat-y -1px 0;
}

.RadMenu_Simple .rmGroup .rmHorizontal
{
	background: #fff;
}

.RadMenu_Simple .rmGroup .rmItem .rmLink
{
	padding: 1px;
	margin: 1px 2px;
}

.RadMenu .rmGroup .rmItem .rmLeftImage
{
	margin: 2px 0 0 6px;
}

* html .RadMenu .rmGroup .rmItem .rmLeftImage { margin: 2px 0 0 3px; }
*+html .RadMenu .rmGroup .rmItem .rmLeftImage { margin: 2px 0 0 3px; }

.RadMenu_Simple .rmGroup .rmItem .rmLink:hover,
.RadMenu_Simple .rmGroup .rmItem .rmFocused,
.RadMenu_Simple .rmGroup .rmItem .rmSelected,
.RadMenu_Simple .rmGroup .rmItem .rmExpanded,
.RadMenu_Simple .rmGroup .rmItem .rmExpanded:hover
{
	padding: 0;
}

.RadMenu_Simple .rmGroup .rmItem .rmDisabled,
.RadMenu_Simple .rmGroup .rmItem .rmDisabled:hover
{
	padding: 1px;
}

.RadMenu_Simple .rmGroup .rmItem .rmLink .rmText
{
	padding-right: 53px;
}

.RadMenu_Simple .rmGroup .rmHorizontal .rmLink .rmText
{
	padding-right: 10px;
}

.RadMenu_Simple .rmGroup .rmExpandRight,
.RadMenu_Simple .rmGroup .rmExpandLeft,
.RadMenu_Simple .rmTopArrow,
.RadMenu_Simple .rmBottomArrow,
.RadMenu_Simple .rmLeftArrow,
.RadMenu_Simple .rmRightArrow
{
	background: transparent url('Menu/rmExpandArrows.png') no-repeat;
}

.RadMenu_Simple .rmGroup .rmExpandRight { background-position: 100% 0; }
.RadMenu_Simple .rmGroup .rmExpandLeft { background-position: 0 -48px; }
.RadMenu_Simple .rmLink:hover .rmExpandRight,
.RadMenu_Simple .rmFocused .rmExpandRight,
.RadMenu_Simple .rmSelected .rmExpandRight,
.RadMenu_Simple .rmExpanded .rmExpandRight { background-position: 100% -24px; }
.RadMenu_Simple .rmLink:hover .rmExpandLeft,
.RadMenu_Simple .rmFocused .rmExpandLeft,
.RadMenu_Simple .rmSelected .rmExpandLeft,
.RadMenu_Simple .rmExpanded .rmExpandLeft { background-position: 0 -72px; }

.RadMenu_Simple .rmTopArrow,
.RadMenu_Simple .rmBottomArrow,
.RadMenu_Simple .rmLeftArrow,
.RadMenu_Simple .rmRightArrow
{
	background-color: #fff;
}

.RadMenu_Simple .rmTopArrow
{
	border-bottom: 1px solid #616161;
	background-position: 50% -95px;
}

.RadMenu_Simple .rmBottomArrow
{
	border-top: 1px solid #616161;
	background-position: 50% -109px;
}

.RadMenu_Simple .rmLeftArrow
{
	border-right: 1px solid #616161;
	background-position: 50% -48px;
}

.RadMenu_Simple .rmRightArrow
{
	border-left: 1px solid #616161;
	background-position: 50% 1px;
}

.RadMenu_Simple .rmVertical li.rmSeparator .rmText,
.RadMenu_Simple .rmHorizontal .rmVertical li.rmSeparator .rmText
{
	background: #616161;
	padding-bottom: 1px;
	margin-top: 2px;
}

.RadMenu_Simple .rmHorizontal li.rmSeparator .rmText,
.RadMenu_Simple .rmVertical .rmHorizontal li.rmSeparator .rmText
{
	background: #616161;
	width: 1px;
	margin-left: 1px;
}

/* <rtl> */

.RadMenu_Simple_rtl .rmGroup,
.RadMenu_Simple_rtl .rmGroup .rmVertical
{
	background-position: 101% 0;
}

.RadMenu_Simple_rtl .rmGroup .rmItem .rmLink .rmText
{
	padding-left: 53px;
	padding-right: 27px;
}

.RadMenu_Simple_rtl .rmGroup .rmHorizontal .rmLink .rmText
{
	padding-left: 10px;
	padding-right: 9px;
}

/* </rtl> */

.RadMenu_Simple .rmScrollWrap .rmVertical
{
	border: 0;
}

/* </RadMenu / Simple> */