/*Telerik RadCalendar Vista skin*/

table.RadCalendar_Vista
{
	border-collapse:separate;
	border:0;
	background:#fff;
	color:#333;
	font:12px "segoe ui",arial,sans-serif;
}

/*titlebar*/

.RadCalendar_Vista .rcTitlebar
{
	width:100%;
	border:1px solid #a7bac5;
	border-bottom-color:#3c7fb1;
	padding:0;
	background:#a6d9f4 0 -800px repeat-x url('Calendar/sprite.gif');
	color:#000;
}

.RadCalendar_Vista .rcTitlebar table
{
	width:100%;
	border-collapse:separate;
	border:0;
	font:12px/18px "segoe ui",arial,sans-serif;
}

.RadCalendar_Vista .rcTitlebar td
{
	border:0;
	border-bottom:1px solid #e5f4fd;
	padding:2px 0 3px;
	text-align:center;
	vertical-align:middle;
}

.RadCalendar_Vista .rcTitlebar .rcTitle
{
	width:100%;
	cursor:pointer;
}

.RadCalendar_Vista .rcTitlebar .rcTitle:hover
{
	color:#06c;
}

.RadCalendar_Vista .rcTitlebar .rcPrev,
.RadCalendar_Vista .rcTitlebar .rcNext,
.RadCalendar_Vista .rcTitlebar .rcFastPrev,
.RadCalendar_Vista .rcTitlebar .rcFastNext
{
	display:block;
	width:15px;
	height:14px;
	overflow:hidden;
	margin:0 3px;
	background:transparent no-repeat url('Calendar/sprite.gif');
	text-indent:-1111px;
	text-decoration:none;
	color:#ccc;
}

.RadCalendar_Vista .rcTitlebar .rcFastPrev
{
	margin-left:5px;
	background-position:1px 2px;
}

.RadCalendar_Vista .rcTitlebar .rcFastPrev:hover
{
	background-position:1px -48px;
}

.RadCalendar_Vista .rcTitlebar .rcPrev
{
	background-position:3px -98px;
}

.RadCalendar_Vista .rcTitlebar .rcPrev:hover
{
	background-position:3px -148px;
}

.RadCalendar_Vista .rcTitlebar .rcNext
{
	background-position:4px -198px;
}

.RadCalendar_Vista .rcTitlebar .rcNext:hover
{
	background-position:4px -248px;
}

.RadCalendar_Vista .rcTitlebar .rcFastNext
{
	margin-right:5px;
	background-position:1px -298px;
}

.RadCalendar_Vista .rcTitlebar .rcFastNext:hover
{
	background-position:1px -348px;
}

.RadCalendar_Vista .rcMain
{
	width:100%;
	border:1px solid #a7bac5;
	border-top:0;
	padding:0;
}

.RadCalendar_Vista .rcMainTable
{
	border-collapse:separate;
	border:0;
	width:100%;
	font:12px/20px "segoe ui",arial,sans-serif;
}

/*header, footer*/

.RadCalendar_Vista .rcHeader,
.RadCalendar_Vista .rcFooter
{
	border:1px solid #a7bac5;
	border-top:0;
	padding:0;
}

/*week numbers and days*/

.RadCalendar_Vista .rcRow th,
.RadCalendar_Vista .rcWeek th
{
	border:0;
	font-weight:normal;
	text-align:center;
	cursor:default;
}

.RadCalendar_Vista .rcWeek th
{
	padding:2px 0 1px 0;
	border-bottom:1px solid #e0e0e0;
}

.RadCalendar_Vista .rcRow th
{
	width:28px;
	padding:0;
	color:#777;
}

.RadCalendar_Vista .rcWeek .rcViewSel
{
	border-bottom-color:#fff;
}

.RadCalendar_Vista .rcViewSel,
.RadCalendar_Vista .rcRow th
{
	background:#e7ebf6;
}

.RadCalendar_Vista .rcRow th,
.RadCalendar_Vista .rcRow td
{
	vertical-align:middle;
}

/*date cells*/

.RadCalendar_Vista .rcRow td
{
	width:26px;
	border:0;
	padding:0 0 1px 1px;
	text-align:right;
}

.RadCalendar_Vista .rcMain .rcRow a,
.RadCalendar_Vista .rcMain .rcRow span
{
	display:block;
	width:20px;
	padding:0 6px 0 0;
	text-decoration:none;
	color:#333;
}

.RadCalendar_Vista .rcMain .rcWeekend a
{
	color:#555;
}

.RadCalendar_Vista .rcMain .rcRow .rcToday a
{
	background:100% -1400px no-repeat url('Calendar/sprite.gif');
}

.RadCalendar_Vista .rcMain .rcOtherMonth a
{
	color:#777;
}

.RadCalendar_Vista .rcMain .rcOutOfRange span
{
	color:#777;
	cursor:default;
}

.RadCalendar_Vista .rcMain .rcRow .rcHover a
{
	background:100% -1200px no-repeat url('Calendar/sprite.gif');
	color:#06c;
}

.RadCalendar_Vista .rcMain .rcRow .rcSelected a
{
	background:100% -1300px no-repeat url('Calendar/sprite.gif');
	color:#06c;
}

/*multimonth view*/

table.RadCalendarMultiView_Vista
{
	width:auto;
	border:0;
}

.RadCalendarMultiView_Vista .rcTitlebar
{
	border:1px solid #131c24;
	border-bottom-color:#052d41;
	padding:0;
	background:#4e96aa 0 -999px repeat-x url('Calendar/sprite.gif');
	color:#fff;
}

.RadCalendarMultiView_Vista .rcTitlebar table
{
	border:1px solid;
	border-color:#b2ccd8 #87b2c3 #95c3ce;
	line-height:24px;
}

.RadCalendarMultiView_Vista .rcTitlebar td
{
	border:0;
	padding-top:1px;
}

.RadCalendarMultiView_Vista .rcTitlebar .rcTitle:hover
{
	color:#fff;
}

.RadCalendarMultiView_Vista .rcTitlebar .rcFastPrev
{
	height:18px;
	background-position:1px -396px;
}

.RadCalendarMultiView_Vista .rcTitlebar .rcFastPrev:hover
{
	background-position:1px -446px;
}

.RadCalendarMultiView_Vista .rcTitlebar .rcPrev
{
	height:18px;
	background-position:3px -496px;
}

.RadCalendarMultiView_Vista .rcTitlebar .rcPrev:hover
{
	background-position:3px -546px;
}

.RadCalendarMultiView_Vista .rcTitlebar .rcNext
{
	height:18px;
	background-position:3px -596px;
}

.RadCalendarMultiView_Vista .rcTitlebar .rcNext:hover
{
	background-position:3px -646px;
}

.RadCalendarMultiView_Vista .rcTitlebar .rcFastNext
{
	height:18px;
	background-position:1px -696px;
}

.RadCalendarMultiView_Vista .rcTitlebar .rcFastNext:hover
{
	background-position:1px -746px;
}

.RadCalendarMultiView_Vista .rcMain
{
	border-color:#9cb6c5;
}

.RadCalendarMultiView_Vista .rcCalendar
{
	border:1px solid #a7bac5;
	padding:0;
}

.RadCalendarMultiView_Vista .rcCalendar .rcMainTable
{
	width:210px;
}

.RadCalendarMultiView_Vista .rcMain .rcTitle
{
	border:0;
	border-bottom:1px solid #3c7fb1;
	padding:3px 0 4px;
	background:#a6d9f4 0 -800px repeat-x url('Calendar/sprite.gif');
	color:#000;
	text-align:center;
}

/*month view*/

table.RadCalendarMonthView_Vista
{
	border-collapse:separate;
	border:1px solid #979797;
	background:#fff;
	font:12px "segoe ui",arial,sans-serif;
	color:#333;
}

table.RadCalendarMonthView_Vista td
{
	border:0;
	padding:5px 3px 0;
}

.RadCalendarMonthView_Vista #rcMView_Feb,
.RadCalendarMonthView_Vista #rcMView_Apr,
.RadCalendarMonthView_Vista #rcMView_Jun,
.RadCalendarMonthView_Vista #rcMView_Aug,
.RadCalendarMonthView_Vista #rcMView_Oct,
.RadCalendarMonthView_Vista #rcMView_Dec
{
	border-right:1px solid #e0e0e0;
}

.RadCalendarMonthView_Vista a
{
	display:block;
	padding:2px 4px;
	text-align:center;
	text-decoration:none;
	color:#333;
}

.RadCalendarMonthView_Vista .rcHover a
{
	border:1px solid #daf2fc;
	padding:1px 3px;
}

.RadCalendarMonthView_Vista .rcSelected a
{
	border:1px solid #06c;
	padding:1px 3px;
	color:#000;
}

.RadCalendarMonthView_Vista #rcMView_PrevY a,
.RadCalendarMonthView_Vista #rcMView_NextY a
{
	display:block;
	width:15px;
	height:14px;
	overflow:hidden;
	margin:0 auto;
	background:transparent no-repeat url('Calendar/sprite.gif');
	text-indent:-1111px;
	text-align:center;
	text-decoration:none;
	color:#ccc;
}

.RadCalendarMonthView_Vista #rcMView_PrevY a
{
	background-position:6px 4px;
}

.RadCalendarMonthView_Vista #rcMView_NextY a
{
	background-position:6px -296px;
}

.RadCalendarMonthView_Vista #rcMView_PrevY a:hover,
.RadCalendarMonthView_Vista #rcMView_NextY a:hover
{
	background:transparent no-repeat url('Calendar/animations.gif');
}

.RadCalendarMonthView_Vista #rcMView_PrevY a:hover
{
	background-position:5px 6px;
}

.RadCalendarMonthView_Vista #rcMView_NextY a:hover
{
	background-position:-49px 6px;
}

.RadCalendarMonthView_Vista .rcButtons
{
	border:0;
	padding:4px 7px 6px;
	text-align:center;
}

.RadCalendarMonthView_Vista input
{
	border:0;
	margin:0 3px;
	padding:1px 0 0;
	background:0 100% repeat-x url('Calendar/sprite.gif');
	color:#06c;
	font:12px "segoe ui",arial,sans-serif;
	cursor:pointer;
}

.RadCalendarMonthView_Vista #rcMView_Today
{
	margin-right:20px;
}

/*time view*/

table.RadCalendarTimeView_Vista
{
	border-collapse:separate;
	border:1px solid #979797;
	background:#fff;
	font:12px "segoe ui",arial,sans-serif;
	color:#333;
}

.RadCalendarTimeView_Vista th
{
	border:0;
	border-bottom:1px solid #3c7fb1;
	padding:3px 0;
	background:#a6d9f4 0 -800px repeat-x url('Calendar/sprite.gif');
	color:#000;
	line-height:18px;
	font-weight:normal;
	text-align:center;
	cursor:default;
}

table.RadCalendarTimeView_Vista td
{
	border:0;
	border-left:1px solid #e0e0e0;
	padding:2px 2px 3px;
}

table.RadCalendarTimeView_Vista td:first-child
{
	border-left:0;
}

.RadCalendarTimeView_Vista a
{
	display:block;
	width:58px;
	padding:1px 6px 1px 1px;
	line-height:15px;
	text-align:right;
	color:#333;
	text-decoration:none;
}

.RadCalendarTimeView_Vista td.rcSelected a
{
	border:1px solid #06c;
	padding:0 5px 0 0;
	color:#000;
}

.RadCalendarTimeView_Vista td.rcHover a
{
	background:100% -1800px no-repeat url('Calendar/sprite.gif');
	color:#06c;
}

.RadCalendarTimeView_Vista .rcFooter
{
	border-top:1px solid #e0e0e0;
	padding:0;
}

/*pickers*/

.RadPicker_Vista,
.RadPicker_Vista td
{
	vertical-align:middle;
}

.RadPicker_Vista .RadInput
{
	vertical-align:baseline;
}

.RadPicker_Vista table.rcTable,
.RadPicker_Vista table.rcTable td
{
	border:0;
	margin:0;
	padding:0;
}

.RadPicker_Vista table.rcTable .rcInputCell
{
	padding:0 4px 0 0;
}

.RadPicker_Vista td a
{
	position:relative;/*FF*/
	outline:none;/*FF*/
	z-index:2;/*Opera*/
	margin:0 2px;
	text-decoration:none;
}
* html .RadPicker_Vista td a{position:static}/*IE6*/
*+html .RadPicker_Vista td a{position:static}/*IE7*/

.RadPicker_Vista .rcCalPopup,
.RadPicker_Vista .rcTimePopup
{
	display:block;
	width:22px;
	height:22px;
	overflow:hidden;
	background:no-repeat url('Calendar/sprite.gif');
	text-indent:-1111px;
	text-align:center;
}

.RadPicker_Vista .rcCalPopup,
.RadPicker_Vista .rcDisabled.rcCalPopup:hover
{
	background-position:0 -2000px;
}

.RadPicker_Vista .rcCalPopup:hover,
.RadPicker_Vista .rcCalPopup:focus,
.RadPicker_Vista .rcCalPopup:active
{
	background-position:0 -2050px;
}

.RadPicker_Vista .rcTimePopup,
.RadPicker_Vista .rcDisabled.rcTimePopup:hover
{
	background-position:0 -2100px;
}

.RadPicker_Vista .rcTimePopup:hover,
.RadPicker_Vista .rcTimePopup:focus,
.RadPicker_Vista .rcTimePopup:active
{
	background-position:0 -2150px;
}

.RadPicker_Vista .rcDisabled,
.RadCalendarMonthView_Vista .rcDisabled
{
	opacity:0.5;
	filter:alpha(opacity=50);
}

/*rtl*/

.RadCalendarRTL_Vista .rcTitlebar .rcFastPrev
{
	background-position:1px -298px;
}

.RadCalendarRTL_Vista .rcTitlebar .rcFastPrev:hover
{
	background-position:1px -348px;
}

.RadCalendarRTL_Vista .rcTitlebar .rcPrev
{
	background-position:4px -198px;
}

.RadCalendarRTL_Vista .rcTitlebar .rcPrev:hover
{
	background-position:4px -248px;
}

.RadCalendarRTL_Vista .rcTitlebar .rcNext
{
	background-position:3px -98px;
}

.RadCalendarRTL_Vista .rcTitlebar .rcNext:hover
{
	background-position:3px -148px;
}

.RadCalendarRTL_Vista .rcTitlebar .rcFastNext
{
	background-position:1px 2px;
}

.RadCalendarRTL_Vista .rcTitlebar .rcFastNext:hover
{
	background-position:1px -48px;
}

.RadCalendarMultiViewRTL_Vista .rcTitlebar .rcFastPrev
{
	background-position:1px -696px;
}

.RadCalendarMultiViewRTL_Vista .rcTitlebar .rcFastPrev:hover
{
	background-position:1px -746px;
}

.RadCalendarMultiViewRTL_Vista .rcTitlebar .rcPrev
{
	background-position:3px -596px;
}

.RadCalendarMultiViewRTL_Vista .rcTitlebar .rcPrev:hover
{
	background-position:3px -646px;
}

.RadCalendarMultiViewRTL_Vista .rcTitlebar .rcNext
{
	background-position:3px -496px;
}

.RadCalendarMultiViewRTL_Vista .rcTitlebar .rcNext:hover
{
	background-position:3px -546px;
}

.RadCalendarMultiViewRTL_Vista .rcTitlebar .rcFastNext
{
	background-position:1px -396px;
}

.RadCalendarMultiViewRTL_Vista .rcTitlebar .rcFastNext:hover
{
	background-position:1px -446px;
}
