/* RadColorPicker Office2007 skin */
.RadColorPicker_Office2007 .rcpPalette
{
	background-color:#fff;
	border:solid 1px #868686;	
}

.RadColorPicker_Office2007 .rcpColorBox
{
	border:solid 1px #e4e4e4;
}

.RadColorPicker_Office2007 .rcpSelectedColor,
.RadColorPicker_Office2007 .rcpMillionColorsPalette
{
    border:solid 1px #000;
}

.RadColorPicker_Office2007 .rcpColorPreview,
.RadColorPicker_Office2007 .rcpInput,
.RadColorPicker_Office2007 .rcpHexInput
{
	border:solid 1px #a9b1b8;
}

.RadColorPicker_Office2007 .rcpPalette,
.RadColorPicker_Office2007 input,
.RadColorPicker_Office2007 a,
.RadColorPicker_Office2007 .rcpApplyButton:hover span
{
	color:#000;
}

.RadColorPicker_Office2007 .rcpEmptyColor,
.RadColorPicker_Office2007 .rcpIcon a,
.RadColorPicker_Office2007 .rcpTabs,
.RadColorPicker_Office2007 .rcpTabs .rcpSelectedTab a,
.RadColorPicker_Office2007 .rcpTabs .rcpSelectedTab a span,
.RadColorPicker_Office2007 .rcpApplyButton,
.RadColorPicker_Office2007 .rcpApplyButton span,
.RadColorPicker_Office2007 .rcpMillionColorsHandle,
.RadColorPicker_Office2007 div.rcpMillionColorsSlider div.rslVertical a.rslDraghandle
{
	background-image:url('ColorPicker/ColorPickerSprites.gif');
	background-repeat:no-repeat;
}

/* no color button */
.RadColorPicker_Office2007 .rcpEmptyColor
{
	background-position:right -52px;
}

.RadColorPickerRTL_Office2007 .rcpEmptyColor
{
    background-position:-1001px -52px;
}

/* color picker rcpIcon */
.RadColorPicker_Office2007 .rcpIcon a
{
	background-position:0 -52px;
}

.RadColorPicker_Office2007 .rcpIcon a:hover
{
	background-position:0 -73px;
}

.RadColorPicker_Office2007 .rcpIcon a:active,
.RadColorPicker_Office2007 .rcpIcon a:focus
{
	background-position:0 -94px;
}

/* color picker tabs */
.RadColorPicker_Office2007 .rcpTabs
{
    background:#bfdbff;
    background-position:0 -169px;
}

.RadColorPicker_Office2007 .rcpTabs ul li a
{
    color:#00156e;
}

.RadColorPicker_Office2007 .rcpTabs .rcpSelectedTab a
{
    background-position:right -26px;
}

.RadColorPicker_Office2007 .rcpTabs .rcpSelectedTab a span
{
    background-position:left -26px;
}

/* apply color button */
.RadColorPicker_Office2007 .rcpApplyButton
{
    background-position:right -115px;
}

.RadColorPicker_Office2007 .rcpApplyButton:hover
{
    background-position:right -136px;
}

.RadColorPicker_Office2007 .rcpApplyButton span
{
    background-position:0 -115px;
    color:#00156e;
}

.RadColorPicker_Office2007 .rcpApplyButton:hover span
{
    background-position:0 -136px;
}

/* HSB, HSV palette handle */
.RadColorPicker_Office2007 .rcpMillionColorsHandle
{
    background-position:-1009px -73px;
    background-color:transparent;
}

/* HSB, HSV slider handle */
.RadColorPicker_Office2007 div.rcpMillionColorsSlider div.rslVertical a.rslDraghandle,
.RadColorPicker_Office2007 div.rcpMillionColorsSlider div.rslVertical a.rslDraghandle:hover,
.RadColorPicker_Office2007 div.rcpMillionColorsSlider div.rslVertical a.rslDraghandle:focus,
.RadColorPicker_Office2007 div.rcpMillionColorsSlider div.rslVertical a.rslDraghandle:active
{
    background-position:-1002px -88px;
}