.RadWindow_Office2007 .rwTopLeft,
.RadWindow_Office2007 .rwTopRight,
.RadWindow_Office2007 .rwTitlebar,
.RadWindow_Office2007 .rwFooterLeft,
.RadWindow_Office2007 .rwFooterRight,
.RadWindow_Office2007 .rwFooterCenter,
.RadWindow_Office2007 .rwTopResize,
.RadWindow_Office2007 .rwStatusbar div,
.RadWindow_Office2007 .rwStatusbar,
.RadWindow_Office2007 .rwPopupButton,
.RadWindow_Office2007 .rwPopupButton span,
.RadWindow_Office2007.rwMinimizedWindow .rwCorner
{
    background-image: url('Window/WindowHorizontalSprites.gif');
}

.RadWindow_Office2007 .rwBodyLeft,
.RadWindow_Office2007 .rwBodyRight,
.RadWindow_Office2007 .rwStatusbarRow .rwCorner
{
	background-image: url('Window/WindowVerticalSprites.gif');
}

.RadWindow_Office2007 .rwStatusbar input
{
    background-color: #f7f3e9;
}

.RadWindow_Office2007 .rwControlButtons
{
    margin-top: 0;
}

.RadWindow_Office2007 .rwControlButtons a
{
    background-image: url('Window/CommandButtonSprites.gif');
}

.RadWindow_Office2007 a.rwIcon
{
	background-image: url('Window/WindowHorizontalSprites.gif');
}

div.RadWindow_Office2007 .rwTitlebarControls em
{
	color: #00156e;
}

div.RadWindow_Office2007 .rwDialogInput
{
	border: solid 1px #abc1de;
}

div.RadWindow_Office2007 .rwDialogInput:hover
{
	border-color: #305090;
}

div.RadWindow_Office2007 td.rwLoading
{
    background-color: #fff;
}

div.RadWindow_Office2007 td.rwWindowContent
{
    background-color: #fff;
}

/* Loading Indicators */

/* When ShowContentDuringLoad="true" */
div.RadWindow_Office2007 td.rwWindowContent.rwLoading
{
    background-image: url('Common/loading.gif');
}

/* When ShowContentDuringLoad="false" */
div.RadWindow_Office2007 input.rwLoading
{
    background-image: url('Common/loading_small.gif');
}

div.RadWindow_Office2007 td.rwStatusbar
{
    background-position: 0 -370px;
    background-repeat: repeat-x;
}