/*Telerik RadListView Outlook Skin*/

/*global*/

.RadListView_Outlook
{
	border:1px solid #002d96;
	background:#fff;
	color:#000;
}

.RadListView_Outlook .rlvA
{
	/*background:#ffd192;*/
}

.RadListView_Outlook .rlvISel
{
	background:#97b8e8;
}

.RadListView_Outlook .rlvIEdit
{
	background:#c8dbf6;
}

/*buttons*/

.RadListView_Outlook .rlvBAdd,
.RadListView_Outlook .rlvBUpdate,
.RadListView_Outlook .rlvBCancel,
.RadListView_Outlook .rlvBDel,
.RadListView_Outlook .rlvBEdit
{
	background-image:url('Grid/sprite.gif');
}

.RadListView_Outlook .rlvBAdd
{
	background-position:0 -1650px;
}
.RadListView_Outlook .rlvBUpdate
{
	background-position:0 -1800px;
}
.RadListView_Outlook .rlvBCancel
{
	background-position:2px -1848px;
}
.RadListView_Outlook .rlvBSel
{
	background-image:url('FormDecorator/CheckBoxSprites.gif');
	background-position:-2px -2px;
}
.RadListView_Outlook .rlvISel .rlvBSel
{
	background-position:-2px -422px;
}
.RadListView_Outlook .rlvBDel
{
	background-position:0 -1750px;
}
.RadListView_Outlook .rlvBEdit
{
	background-position:0 -1700px;
}

/*flow*/

.RadListView_Outlook div.rlvI,
.RadListView_Outlook div.rlvA,
.RadListView_Outlook div.rlvIEmpty,
.RadListView_Outlook div.rlvIEdit
{
	border-color:#d0d7e5;
}

.RadListView_Outlook div.rlvISel
{
	border-color:#002d96;
}

/*grid*/

.RadListView_Outlook tr.rlvHeader th
{
	border:0;
	border-left:1px solid #89aee5;
	border-bottom:1px solid #5d8cc9;
	background:0 -2300px repeat-x #7da5e0 url('Grid/sprite.gif');
}

.RadListView_Outlook tr.rlvI td,
.RadListView_Outlook tr.rlvA td,
.RadListView_Outlook tr.rlvISel td,
.RadListView_Outlook tr.rlvIEmpty td
{
	border:1px solid;
	border-top:0;
	border-right:0;
}

.RadListView_Outlook tr.rlvI td,
.RadListView_Outlook tr.rlvA td,
.RadListView_Outlook tr.rlvIEmpty td,
.RadListView_Outlook tr.rlvIEdit td
{
	border-color:#d0d7e5;
}

.RadListView_Outlook tr.rlvISel td
{
	border-color:#97b8e8 #97b8e8 #002d96;
}

/*single row*/

.RadListView_Outlook td.rlvI,
.RadListView_Outlook td.rlvA,
.RadListView_Outlook td.rlvISel,
.RadListView_Outlook td.rlvIEmpty,
.RadListView_Outlook td.rlvIEdit
{
	border:0;
	border-right:1px solid #d0d7e5;
}

.RadListView_Outlook td.rlvISel
{
	border-color:#002d96;
}

/*pager*/

.RadDataPager_Outlook
{
	border:1px solid #002d96;
	background:#d6e5f3;
	color:#000;
}

.RadDataPager_Outlook .rdpInfoPart
{
	color:#333;
}

.RadDataPager_Outlook .rdpInfoPart strong
{
	color:#000;
}

.RadDataPager_Outlook .rdpPageFirst,
.RadDataPager_Outlook .rdpPagePrev,
.RadDataPager_Outlook .rdpPageNext,
.RadDataPager_Outlook .rdpPageLast
{
	width:17px;
	background:transparent no-repeat url('Grid/sprite.gif');
}

.RadDataPager_Outlook .rdpPageFirst
{
	margin:0 3px 0 0;
	background-position:0 -548px;
}
.RadDataPager_Outlook .rdpPageFirst:hover
{
	background-position:0 -598px;
}
.RadDataPager_Outlook .rdpPagePrev
{
	margin:0 3px 0 0;
	background-position:0 -698px;
}
.RadDataPager_Outlook .rdpPagePrev:hover
{
	background-position:0 -748px;
}
.RadDataPager_Outlook .rdpPageNext
{
	margin:0 0 0 3px;
	background-position:0 -848px;
}
.RadDataPager_Outlook .rdpPageNext:hover
{
	background-position:0 -898px;
}
.RadDataPager_Outlook .rdpPageLast
{
	margin:0 0 0 3px;
	background-position:0 -998px;
}
.RadDataPager_Outlook .rdpPageLast:hover
{
	background-position:0 -1048px;
}

.RadDataPager_Outlook .rdpPagerButton
{
	border:1px solid #003c74;
	background:#ebe8e3 repeat-x 0 -1550px url('Grid/sprite.gif');
	color:#000;
	font:12px/12px "segoe ui",arial,sans-serif;
}

.RadDataPager_Outlook .rdpNumPart a:hover,
.RadDataPager_Outlook .rdpNumPart a:hover span,
.RadDataPager_Outlook .rdpNumPart a.rdpCurrentPage,
.RadDataPager_Outlook .rdpNumPart a.rdpCurrentPage span
{
	background:no-repeat url('Grid/sprite.gif');
}

.RadDataPager_Outlook .rdpNumPart a
{
	color:#000;
}

.RadDataPager_Outlook .rdpNumPart a:hover
{
	background-position:100% -1248px;
}

.RadDataPager_Outlook .rdpNumPart a:hover span
{
	background-position:0 -1148px;
}

.RadDataPager_Outlook .rdpNumPart a.rdpCurrentPage,
.RadDataPager_Outlook .rdpNumPart a.rdpCurrentPage:hover
{
	background-position:100% -1448px;
}

.RadDataPager_Outlook .rdpNumPart a.rdpCurrentPage span,
.RadDataPager_Outlook .rdpNumPart a.rdpCurrentPage:hover span
{
	background-position:0 -1348px;
}
