/* RadColorPicker WebBlue skin */
.RadColorPicker_WebBlue .rcpPalette
{
	background-color:#f0f2f4;
	border:solid 1px #768ca5;
}

.RadColorPicker_WebBlue .rcpColorBox
{
	border:solid 1px #c5c5c5;
}

.RadColorPicker_WebBlue .rcpSelectedColor,
.RadColorPicker_WebBlue .rcpMillionColorsPalette
{
    border:solid 1px #000;
}

.RadColorPicker_WebBlue .rcpColorPreview
{
	border:solid 1px #768ca5;
}

.RadColorPicker_WebBlue .rcpInput,
.RadColorPicker_WebBlue .rcpHexInput
{
    border:solid 1px #b8b8b8;
	border-top:solid 1px #8e8e8e;
}

.RadColorPicker_WebBlue .rcpPalette,
.RadColorPicker_WebBlue input,
.RadColorPicker_WebBlue a
{
	color:#000;
}

.RadColorPicker_WebBlue .rcpEmptyColor,
.RadColorPicker_WebBlue .rcpIcon a,
.RadColorPicker_WebBlue .rcpTabs,
.RadColorPicker_WebBlue .rcpTabs a,
.RadColorPicker_WebBlue .rcpTabs a span,
.RadColorPicker_WebBlue .rcpApplyButton,
.RadColorPicker_WebBlue .rcpApplyButton span,
.RadColorPicker_WebBlue .rcpMillionColorsHandle,
.RadColorPicker_WebBlue div.rcpMillionColorsSlider div.rslVertical a.rslDraghandle
{
	background-image:url('ColorPicker/ColorPickerSprites.gif');
	background-repeat:no-repeat;
}

/* no color button */
.RadColorPicker_WebBlue .rcpEmptyColor
{
	background-position:right -52px;
}

.RadColorPickerRTL_WebBlue .rcpEmptyColor
{
    background-position:-1001px -52px;
}

/* color picker rcpIcon */
.RadColorPicker_WebBlue .rcpIcon a
{
	background-position:0 -52px;
}

.RadColorPicker_WebBlue .rcpIcon a:hover
{
	background-position:0 -73px;
}

.RadColorPicker_WebBlue .rcpIcon a:active,
.RadColorPicker_WebBlue .rcpIcon a:focus
{
	background-position:0 -94px;
}

/* color picker tabs */
.RadColorPicker_WebBlue .rcpTabs
{
    background:#f0f2f4;
    background-position:0 -169px;
}

.RadColorPicker_WebBlue .rcpTabs a span
{
    color:#fff;
}

.RadColorPicker_WebBlue .rcpTabs .rcpSelectedTab a
{
    background-position:right -26px;
}

.RadColorPicker_WebBlue .rcpTabs .rcpSelectedTab a span
{
    background-position:left -26px;
    color:#2d3e47;
}

/* apply color button */
.RadColorPicker_WebBlue .rcpApplyButton
{
    background-position:right -115px;
}

.RadColorPicker_WebBlue .rcpApplyButton:hover
{
    background-position:right -136px;
}

.RadColorPicker_WebBlue .rcpApplyButton span
{
    background-position:0 -115px;
    color:#0d202b;
}

.RadColorPicker_WebBlue .rcpApplyButton:hover span
{
    background-position:0 -136px;
    color:#0e3d4f;
}

/* HSB, HSV palette handle */
.RadColorPicker_WebBlue .rcpMillionColorsHandle
{
    background-position:-1009px -73px;
    background-color:transparent;
}

/* HSB, HSV slider handle */
.RadColorPicker_WebBlue div.rcpMillionColorsSlider div.rslVertical a.rslDraghandle,
.RadColorPicker_WebBlue div.rcpMillionColorsSlider div.rslVertical a.rslDraghandle:hover,
.RadColorPicker_WebBlue div.rcpMillionColorsSlider div.rslVertical a.rslDraghandle:focus,
.RadColorPicker_WebBlue div.rcpMillionColorsSlider div.rslVertical a.rslDraghandle:active
{
    background-position:-1002px -88px;
}