.RadPanelBar_Black
{
	background: #4f4f4f;
}

.RadPanelBar_Black .rpRootGroup
{
	border-color: #080808;
}

.RadPanelBar_Black .rpLink,
.RadPanelBar_Black .rpTemplate
{
	color: #fff;
	font: normal 12px/24px "Segoe UI", Arial, sans-serif;
}

.RadPanelBar_Black .rpLink
{
	background-color: #1b1b1b;
	background-image: url('PanelBar/RootItemBg.gif');
	background-repeat: repeat-x;
	border-color: #4f4f4f;
}

.RadPanelBar_Black .rpLink:hover
{
	color: #9eda29;
}

.RadPanelBar_Black .rpFocused,
.RadPanelBar_Black .rpExpanded,
.RadPanelBar_Black .rpSelected,
.RadPanelBar_Black .rpSelected:hover
{
	background-color: #2d2d2d;
	border-color: #000;
}

.RadPanelBar_Black .rpOut
{
	border-color: #000;
}

/* <disabled items> */
.RadPanelBar_Black .rpDisabled,
.RadPanelBar_Black .rpDisabled:hover
{
	color: #777;
}
/* </disabled items> */

/* <expand arrows> */
.RadPanelBar_Black .rpExpandable .rpText,
.RadPanelBar_Black .rpExpanded .rpText
{
	background-color: transparent;
	background-image: url('PanelBar/Expandable.png');
}
/* </expand arrows> */

/* <subitems> */
.RadPanelBar_Black .rpGroup
{
	background-color: #4f4f4f;
}

.RadPanelBar_Black .rpGroup .rpLink,
.RadPanelBar_Black .rpGroup .rpTemplate
{
	color: #a9a9a9;
	background-image: none;
	background-color: transparent;
}

.RadPanelBar_Black .rpGroup .rpLink:hover
{
	color: #9eda29;
}

.RadPanelBar_Black .rpGroup .rpLink,
.RadPanelBar_Black .rpGroup .rpLink .rpOut
{		
	background-color: transparent;
	background-image: url('PanelBar/SubItemStates.png');
	background-repeat: no-repeat;
}

.RadPanelBar_Black .rpGroup .rpSelected,
.RadPanelBar_Black .rpGroup .rpSelected:hover
{
	color: #fff;
}

/* <subitems (disabled)> */
.RadPanelBar_Black .rpGroup .rpDisabled,
.RadPanelBar_Black .rpGroup .rpDisabled:hover,
.RadPanelBar_Black .rpGroup .rpDisabled .rpOut
{
	background-image: none;
}

.RadPanelBar_Black .rpGroup .rpDisabled,
.RadPanelBar_Black .rpGroup .rpDisabled:hover
{
	color: #777;
}
/* <subitems (disabled)> */

/* </subitems> */


/* <background positioning> */
.RadPanelBar_Black .rpLink,
.RadPanelBar_Black .rpExpanded
{
	background-position: 0 0;
}

.RadPanelBar_Black .rpFocused,
.RadPanelBar_Black .rpLink:hover,
.RadPanelBar_Black .rpExpanded:hover
{
	background-position: 0 -200px;
}

.RadPanelBar_Black .rpSelected,
.RadPanelBar_Black .rpSelected:hover
{
	background-position: 0 -400px;
}

.RadPanelBar_Black .rpFirst .rpLink,
.RadPanelBar_Black .rpFirst .rpExpanded
{
	background-position: 0 -1px;
}

.RadPanelBar_Black .rpFirst .rpFocused,
.RadPanelBar_Black .rpFirst .rpLink:hover
{
	background-position: 0 -201px;
}

.RadPanelBar_Black .rpFirst .rpSelected,
.RadPanelBar_Black .rpFirst .rpSelected:hover
{
	background-position: 0 -401px;
}

/* <root items (disabled)> */
.RadPanelBar_Black .rpDisabled:hover
{
	cursor: default;
}

.RadPanelBar_Black .rpDisabled,
.RadPanelBar_Black .rpDisabled:hover,
.RadPanelBar_Black .rpDisabled:hover .rpOut
{
	background-position: 0 0;
}
/* </root items (disabled)> */

/*      <expand arrows> */
.RadPanelBar_Black .rpExpandable .rpText,
.RadPanelBar_Black .rpExpanded .rpText
{
	padding-right: 20px;
	background-repeat: no-repeat;
}

.RadPanelBar_Black_rtl .rpExpandable .rpText,
.RadPanelBar_Black_rtl .rpExpanded .rpText
{
	padding-left: 20px;
}

.RadPanelBar_Black_rtl .rpGroup .rpText
{
	padding: 0 10px;
}

.RadPanelBar_Black .rpExpandable .rpText { background-position: 100% 0; }
.RadPanelBar_Black .rpExpanded .rpText { background-position: 100% -176px; }
.RadPanelBar_Black_rtl .rpExpandable .rpText { background-position: 0 0; }
.RadPanelBar_Black_rtl .rpExpanded .rpText { background-position: 0 -176px; }

.RadPanelBar_Black .rpExpandable.rpSelected .rpText,
.RadPanelBar_Black .rpExpandable.rpSelected:hover .rpText
{
	background-position: 100% -337px;
}

.RadPanelBar_Black .rpExpanded.rpSelected .rpText,
.RadPanelBar_Black .rpExpanded.rpSelected:hover .rpText
{
	background-position: 100% -476px;
}

.RadPanelBar_Black_rtl .rpExpandable.rpSelected .rpText,
.RadPanelBar_Black_rtl .rpExpandable.rpSelected:hover .rpText
{
	background-position: 0 -337px;
}

.RadPanelBar_Black_rtl .rpExpanded.rpSelected .rpText,
.RadPanelBar_Black_rtl .rpExpanded.rpSelected:hover .rpText
{
	background-position: 0 -476px;
}

/*      </expand arrows> */

.RadPanelBar_Black .rpGroup .rpLink,
.RadPanelBar_Black .rpGroup .rpLink .rpOut { background-position: 0 200px; }

.RadPanelBar_Black .rpGroup .rpLink:hover,
.RadPanelBar_Black .rpGroup .rpFocused { background-position: 100% -22px; }
.RadPanelBar_Black .rpGroup .rpLink:hover .rpOut,
.RadPanelBar_Black .rpGroup .rpFocused .rpOut { background-position: 0 0; }

/*      <subitems (selected)> */
.RadPanelBar_Black .rpGroup .rpSelected,
.RadPanelBar_Black .rpGroup .rpSelected:hover { background-position: 100% -222px; background-color: transparent; }
.RadPanelBar_Black .rpGroup .rpSelected .rpOut,
.RadPanelBar_Black .rpGroup .rpSelected:hover .rpOut { background-position: 0 -200px; }
/*      </subitems (selected)> */

/*      <subitems (expand arrows)> */
.RadPanelBar_Black .rpGroup .rpExpandable .rpText,
.RadPanelBar_Black .rpGroup .rpExpandable:hover .rpText { background-position: 100% -938px; }
.RadPanelBar_Black .rpGroup .rpExpanded .rpText,
.RadPanelBar_Black .rpGroup .rpExpanded:hover .rpText { background-position: 100% -1078px; }
.RadPanelBar_Black_rtl .rpGroup .rpExpandable .rpText,
.RadPanelBar_Black_rtl .rpGroup .rpExpandable:hover .rpText { background-position: 0 -938px; }
.RadPanelBar_Black_rtl .rpGroup .rpExpanded .rpText,
.RadPanelBar_Black_rtl .rpGroup .rpExpanded:hover .rpText { background-position: 0 -1078px; }
/*      </subitems (expand arrows)> */
/* </background positioning> */