.RadWindow_Black .rwTopLeft,
.RadWindow_Black .rwTopRight,
.RadWindow_Black .rwTitlebar,
.RadWindow_Black .rwFooterLeft,
.RadWindow_Black .rwFooterRight,
.RadWindow_Black .rwFooterCenter,
.RadWindow_Black .rwTopResize,
.RadWindow_Black .rwStatusbar div,
.RadWindow_Black .rwStatusbar,
.RadWindow_Black .rwPopupButton,
.RadWindow_Black .rwPopupButton span,
.RadWindow_Black.rwMinimizedWindow .rwCorner,
.RadWindow_Black .rwDialogInput
{
    background-image: url('Window/WindowHorizontalSprites.gif');
}

.RadWindow_Black .rwBodyLeft,
.RadWindow_Black .rwBodyRight,
.RadWindow_Black .rwStatusbarRow .rwCorner
{
	background-image: url('Window/WindowVerticalSprites.gif');
}

.RadWindow_Black .rwStatusbar input
{
    color: #d7d7d7;
}

.RadWindow_Black .rwControlButtons
{
    margin-top: 1px;
}

.RadWindow_Black .rwControlButtons a
{
    background-image: url('Window/CommandButtonSprites.gif');
}

.RadWindow_Black a.rwIcon
{
	background-image: url('Window/WindowHorizontalSprites.gif');
}

div.RadWindow_Black .rwTitlebarControls em
{
	color: #d7d7d7;
}

div.RadWindow_Black .rwDialogInput
{
	border: solid 1px #080808;
	background-color: #454545;
	background-position: 0 -322px;
	background-repeat: repeat-x;
	color: white;
}

div.RadWindow_Black .rwDialogInput:hover
{
	border: solid 1px #5c5c5c;
	background-position: 0 -360px;
	background-color: #444;
	background-repeat: repeat-x;
}

.RadWindow_Black .rwPopupButton span
{
    color: #fff;
}

.RadWindow_Black .rwPopupButton:hover span
{
    color: #9eda29;
}

.RadWindow_Black td.rwWindowContent
{
    background-color: #080808;
}

.RadWindow_Black .rwDialogPopup
{
    color: white;
}

/* Loading Indicators */

/* When ShowContentDuringLoad="true" */
.RadWindow_Black td.rwWindowContent.rwLoading
{
    background-image: url('Common/loading.gif');
}

/* When ShowContentDuringLoad="false" */
.RadWindow_Black input.rwLoading
{
    background-image: url('Common/loading_small.gif');
}

div.RadWindow_Black a.rwCancel,
div.RadWindow_Black a.rwCancel span
{
    background: none;
    cursor: pointer;
    cursor: hand;
}

div.RadWindow_Black a.rwCancel span span
{
    color: #9eda29;
}