/* <RadMenu / Sunset> */

.RadMenu_Sunset .rmRootGroup,
.RadMenu_Sunset .rmLink,
.RadMenu_Sunset .rmText,
.RadMenu_Sunset .rmLeftArrow,
.RadMenu_Sunset .rmRightArrow,
.RadMenu_Sunset .rmTopArrow,
.RadMenu_Sunset .rmBottomArrow
{
	background-image: url('Menu/rmSprite.png');
	background-color: transparent;
}

.RadMenu_Sunset .rmRootGroup
{
	border: 1px solid #cabaab;
	background-repeat: repeat-x;
	background-position: 0 0;
	background-color: #e1dac7;
}

.RadMenu_Sunset .rmVertical
{
	background-position: 0 -408px;
}

/* <Root items> */

.RadMenu_Sunset,
.RadMenu_Sunset .rmLink
{
	font: normal 12px/23px "Segoe UI", Arial, sans-serif;
	color: #333;
	text-decoration: none;
}

.RadMenu_Sunset .rmLink,
.RadMenu_Sunset .rmText
{
	background-position: 0 1050px;
	background-repeat: no-repeat;
}

.RadMenu_Sunset .rmLink:hover,
.RadMenu_Sunset .rmFocused,
.RadMenu_Sunset .rmSelected
{
	color: #863d02;
	background-position: 0 -72px;
}

.RadMenu_Sunset .rmLink:hover .rmText,
.RadMenu_Sunset .rmFocused .rmText,
.RadMenu_Sunset .rmSelected .rmText
{
	background-position: 100% -96px;
}

.RadMenu_Sunset .rmExpanded,
.RadMenu_Sunset .rmExpanded:hover
{
	color: #5d1f00;
	background-position: 0 -120px;
}

.RadMenu_Sunset .rmExpanded .rmText,
.RadMenu_Sunset .rmExpanded:hover .rmText
{
	background-position: 100% -144px;
}

.RadMenu_Sunset .rmDisabled,
.RadMenu_Sunset .rmDisabled:hover
{
	color: #919180;
}

.RadMenu_Sunset .rmDisabled:hover,
.RadMenu_Sunset .rmDisabled:hover .rmText
{
	background: none;
}

/* </Root items> */


/* <Submenu items> */

.RadMenu_Sunset .rmGroup,
.RadMenu_Sunset .rmMultiColumn,
.RadMenu_Sunset .rmGroup .rmVertical
{
	border: 1px solid #958a85;
	background: #fff url('Menu/rmVSprite.png') repeat-y -1px 0;
}

.RadMenu_Sunset .rmSlide .rmScrollWrap
{
	background-image: none;
}

.RadMenu_Sunset_rtl .rmGroup,
.RadMenu_Sunset_rtl .rmMultiColumn,
.RadMenu_Sunset_rtl .rmGroup .rmVertical
{
	background-position: 101% 0;
}

.RadMenu_Sunset .rmRootGroup .rmHorizontal
{
	background-image: none;
}

.RadMenu_Sunset .rmScrollWrap .rmVertical
{
	border: 0;
}

.RadMenu_Sunset .rmGroup .rmFirst,
.RadMenu_Sunset .rmGroup .rmLast
{
	background: none;
}

.RadMenu_Sunset .rmRootGroup li.rmItem .rmGroup
{
	padding-bottom: 0;
}

.RadMenu_Sunset .rmGroup li.rmLast
{
	padding-bottom: 1px;
}

.RadMenu_Sunset .rmGroup .rmLink:hover,
.RadMenu_Sunset .rmGroup .rmFocused,
.RadMenu_Sunset .rmGroup .rmSelected,
.RadMenu_Sunset .rmGroup .rmExpanded
{
	background-position: 0 -168px;
}

.RadMenu_Sunset .rmGroup .rmLink:hover .rmText,
.RadMenu_Sunset .rmGroup .rmFocused .rmText,
.RadMenu_Sunset .rmGroup .rmSelected .rmText,
.RadMenu_Sunset .rmGroup .rmExpanded .rmText
{
	background-position: 100% -192px;
}

.RadMenu_Sunset .rmGroup .rmExpanded,
.RadMenu_Sunset .rmGroup .rmExpanded:hover
{
	color: #863d02;
}

.RadMenu_Sunset .rmGroup .rmDisabled,
.RadMenu_Sunset .rmGroup .rmDisabled:hover
{
	color: #919180;
}

/* <expand arrows> */

.RadMenu_Sunset .rmGroup .rmExpandRight,
.RadMenu_Sunset .rmGroup .rmExpandDown
{
	background-position: 100% -216px;
}

.RadMenu_Sunset .rmGroup .rmLink:hover .rmExpandRight,
.RadMenu_Sunset .rmGroup .rmFocused .rmExpandRight,
.RadMenu_Sunset .rmGroup .rmSelected .rmExpandRight,
.RadMenu_Sunset .rmGroup .rmExpanded .rmExpandRight,
.RadMenu_Sunset .rmGroup .rmLink:hover .rmExpandDown,
.RadMenu_Sunset .rmGroup .rmSelected .rmExpandDown,
.RadMenu_Sunset .rmGroup .rmExpanded .rmExpandDown
{
	background-position: 100% -240px;
}

.RadMenu_Sunset .rmGroup .rmDisabled:hover .rmExpandRight,
.RadMenu_Sunset .rmGroup .rmDisabled:hover .rmExpandDown
{
	background-image: url('Menu/rmSprite.png');
	background-position: 100% -216px;
}

/* </expand arrows> */

/* <rtl> */

.RadMenu_Sunset_rtl .rmGroup .rmLink:hover,
.RadMenu_Sunset_rtl .rmGroup .rmFocused,
.RadMenu_Sunset_rtl .rmGroup .rmSelected,
.RadMenu_Sunset_rtl .rmGroup .rmExpanded
{
	background-position: 100% -264px;
}

.RadMenu_Sunset_rtl .rmGroup .rmLink:hover .rmText,
.RadMenu_Sunset_rtl .rmGroup .rmFocused .rmText,
.RadMenu_Sunset_rtl .rmGroup .rmSelected .rmText,
.RadMenu_Sunset_rtl .rmGroup .rmExpanded .rmText
{
	background-position: 0 -288px;
}

.RadMenu_Sunset_rtl .rmGroup .rmExpandLeft
{
	background-position: 0 -312px;
}

.RadMenu_Sunset_rtl .rmGroup .rmLink:hover .rmExpandLeft,
.RadMenu_Sunset_rtl .rmGroup .rmFocused .rmExpandLeft,
.RadMenu_Sunset_rtl .rmGroup .rmSelected .rmExpandLeft,
.RadMenu_Sunset_rtl .rmGroup .rmExpanded .rmExpandLeft
{
	background-position: 0 -336px;
}

/* </rtl> */

/* </Submenu items> */

/* <Submenu offsets (Sunset - specific, overlapping submenus)> */

.RadMenu_Sunset .rmSlide
{
	margin: -3px 0 0 3px;
}

.RadMenu_Sunset .rmVertical .rmSlide,
.RadMenu_Sunset .rmSlide .rmSlide,
.RadMenu_Sunset_Context .rmGroup .rmSlide
{
	margin: 0 0 0 -5px;
}

.RadMenu_Sunset_rtl .rmSlide
{
	margin: -3px 0 0 -3px;
}

.RadMenu_Sunset_rtl .rmVertical .rmSlide,
.RadMenu_Sunset_rtl .rmSlide .rmSlide,
.RadMenu_Sunset_Context_rtl .rmGroup .rmSlide
{
	margin: 0 0 0 5px;
}

/* </Submenu offsets> */

/* <Scrolling arrows> */

.RadMenu_Sunset .rmLeftArrow,
.RadMenu_Sunset .rmRightArrow,
.RadMenu_Sunset .rmTopArrow,
.RadMenu_Sunset .rmBottomArrow,
.RadMenu_Sunset .rmGroup .rmLeftArrow,
.RadMenu_Sunset .rmGroup .rmRightArrow
{
	background-color: #f4eee6;
}

.RadMenu_Sunset .rmLeftArrow { background-position: -8px -312px; border-right: 1px solid #cabaab; }
.RadMenu_Sunset .rmRightArrow { background-position: -482px -216px; border-left: 1px solid #cabaab; }

.RadMenu_Sunset .rmTopArrow { background-position: 50% -367px; border-bottom: 1px solid #cabaab; }
.RadMenu_Sunset .rmBottomArrow { background-position: 50% -391px; border-top: 1px solid #cabaab; }

/* </Scrolling arrows> */

/* <Separators> */

.RadMenu_Sunset .rmVertical .rmSeparator .rmText,
.RadMenu_Sunset .rmHorizontal .rmVertical .rmSeparator .rmText
{
	background-position: 0 -406px;
}

.RadMenu_Sunset .rmHorizontal .rmSeparator .rmText,
.RadMenu_Sunset .rmVertical .rmHorizontal .rmSeparator .rmText
{
	background-position: 0 -386px;
}

/* </Separators> */

/* </RadMenu / Sunset> */