<?xml version="1.0"?>
<configuration>
  <system.diagnostics>
    <sources>
      <!-- This section defines the logging configuration for My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog"/>
          <!-- Uncomment the below section to write to the Application Event Log -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information"/>
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
      <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
  </system.diagnostics>
  <appSettings>
    <!--Skin padrão-->
    <add key="SkinPadrao" value="Vista"/>
    
    <!--Imagem do desktop padrao-->
    <add key="ImagemPadrao" value="imagens/wallpapers/desktop2.jpg"/>

    <!-- Seta o tipo de provider para a conexao-->
    <!-- 0 OLEBD -->
    <!-- 1 ODBC -->
    <!-- 2 SQLSERVER -->
    <!-- 3 ORACLE -->
    <!-- 4 SQLITE -->
    <!-- 5 MySQL-->
    <add key="Provider" value="2"/>
    
    <!-- String de Conexão-->
    
    <!--OLEDB-->
    <!--<add key="Conexao" value="Provider=SQLOLEDB.1;Password=fpw;Persist Security Info=True;User ID=sa;Initial Catalog=FPw;Data Source=pc-1325\sqlexpress" /> -->
    
    <!--ODBC-->
    <!--<add key="Conexao" value="Driver={MySQL ODBC 5.1 Driver};SERVER=dbmy0012.whservidor.com; DATABASE=simpleti;Uid=simpleti;Pwd=h071281" /> -->
    
    <!--SQL SERVER-->
    <add key="Conexao" value="Password=pet;Persist Security Info=True;User ID=sa;Initial Catalog=Simple;Data Source=hermes-pc\SQLEXPRESS"/>      
    
    <!--ORACLE-->
    <!--<add key="Conexao" value="Password=pet;Persist Security Info=True;User ID=pet;Data Source=xe" /> -->
     
    <!--SQLITE-->
    <!--<add key="Conexao" value="Data Source=D:\SimpleDev\petsys\db\simple.sqlite;Compress=True;"/>-->

    <!--MYSQL-->
    <!--<add key="Conexao" value="SERVER=localhost; DATABASE=simple;Uid=root;Pwd=pet" />-->
    
  </appSettings>
</configuration>