/* RadColorPicker Telerik skin */
.RadColorPicker_Telerik .rcpPalette
{
	background-color:#fff;
	border:solid 1px #828282;	
}

.RadColorPicker_Telerik .rcpColorBox
{
	border:solid 1px #fff;
}

.RadColorPicker_Telerik .rcpMillionColorsPalette,
.RadColorPicker_Telerik .rcpSelectedColor
{
	border:solid 1px #000;
}

.RadColorPicker_Telerik .rcpColorPreview,
.RadColorPicker_Telerik .rcpInput,
.RadColorPicker_Telerik .rcpHexInput
{
	border:solid 1px #3c4c30;
}

.RadColorPicker_Telerik .rcpPalette,
.RadColorPicker_Telerik input,
.RadColorPicker_Telerik a
{
	color:#000;
}

.RadColorPicker_Telerik .rcpEmptyColor,
.RadColorPicker_Telerik .rcpIcon a,
.RadColorPicker_Telerik .rcpTabs,
.RadColorPicker_Telerik .rcpTabs a,
.RadColorPicker_Telerik .rcpTabs a span,
.RadColorPicker_Telerik .rcpApplyButton,
.RadColorPicker_Telerik .rcpApplyButton span,
.RadColorPicker_Telerik .rcpMillionColorsHandle,
.RadColorPicker_Telerik div.rcpMillionColorsSlider div.rslVertical a.rslDraghandle
{
	background-image:url('ColorPicker/ColorPickerSprites.gif');
	background-repeat:no-repeat;
}

/* no color button */
.RadColorPicker_Telerik .rcpEmptyColor
{
	background-position:right -52px;
}

.RadColorPickerRTL_Telerik .rcpEmptyColor
{
    background-position:-1001px -52px;
}

/* color picker button */
.RadColorPicker_Telerik .rcpIcon a
{
	background-position:0 -52px;
}

.RadColorPicker_Telerik .rcpIcon a:hover
{
	background-position:0 -73px;
}

.RadColorPicker_Telerik .rcpIcon a:active,
.RadColorPicker_Telerik .rcpIcon a:focus
{
	background-position:0 -94px;
}

/* color picker tabs */
.RadColorPicker_Telerik .rcpTabs
{
    background:#fff;
    background-position:0 -169px;
}

.RadColorPicker_Telerik .rcpTabs .rcpSelectedTab a
{
    background-position:right -26px;
}

.RadColorPicker_Telerik .rcpTabs .rcpSelectedTab a span
{
    background-position:left -26px;
}

/* apply color button */
.RadColorPicker_Telerik .rcpApplyButton
{
    background-position:right -115px;
}

.RadColorPicker_Telerik .rcpApplyButton:hover
{
    background-position:right -136px;
}

.RadColorPicker_Telerik .rcpApplyButton span
{
    background-position:0 -115px;
}

.RadColorPicker_Telerik .rcpApplyButton:hover span
{
    background-position:0 -136px;
}

/* HSB, HSV palette handle */
.RadColorPicker_Telerik .rcpMillionColorsHandle
{
    background-position:-1009px -73px;
    background-color:transparent;
}

/* HSB, HSV slider handle */
.RadColorPicker_Telerik div.rcpMillionColorsSlider div.rslVertical a.rslDraghandle,
.RadColorPicker_Telerik div.rcpMillionColorsSlider div.rslVertical a.rslDraghandle:hover,
.RadColorPicker_Telerik div.rcpMillionColorsSlider div.rslVertical a.rslDraghandle:focus,
.RadColorPicker_Telerik div.rcpMillionColorsSlider div.rslVertical a.rslDraghandle:active
{
    background-position:-1002px -88px;
}