/* RadWindow for ASP.NET AJAX Telerik skin */

.RadWindow_Telerik .rwTopLeft,
.RadWindow_Telerik .rwTopRight,
.RadWindow_Telerik .rwTitlebar,
.RadWindow_Telerik .rwFooterLeft,
.RadWindow_Telerik .rwFooterRight,
.RadWindow_Telerik .rwFooterCenter,
.RadWindow_Telerik .rwTopResize,
.RadWindow_Telerik .rwStatusbar div,
.RadWindow_Telerik .rwStatusbar,
.RadWindow_Telerik .rwPopupButton,
.RadWindow_Telerik .rwPopupButton span,
.RadWindow_Telerik.rwMinimizedWindow .rwCorner
{
    background-image: url('Window/WindowHorizontalSprites.gif');
}

.RadWindow_Telerik .rwBodyLeft,
.RadWindow_Telerik .rwBodyRight,
.RadWindow_Telerik .rwStatusbarRow .rwCorner
{
	background-image: url('Window/WindowVerticalSprites.gif');
}

.RadWindow_Telerik .rwStatusbar input
{
    background-color: #f7f3e9;
}

.RadWindow_Telerik .rwControlButtons a
{
    background-image: url('Window/CommandButtonSprites.gif');
}

.RadWindow_Telerik a.rwIcon
{
	background-image: url('Window/WindowHorizontalSprites.gif');
}

div.RadWindow_Telerik .rwTitlebarControls em
{
	color: black;
}

div.RadWindow_Telerik .rwDialogInput
{
	border-top: solid 1px #8e8e8e;
	border-right: solid 1px #b8b8b8;
	border-bottom: solid 1px #b8b8b8;
	border-left: solid 1px #8e8e8e;
}

div.RadWindow_Telerik .rwDialogInput:hover
{
	border-top: solid 1px #2ebf00;
	border-right: solid 1px #2dbc00;
	border-bottom: solid 1px #28a800;
	border-left: solid 1px #2bb300;
}

div.RadWindow_Telerik td.rwLoading
{
    background-color: #fff;
}

div.RadWindow_Telerik td.rwWindowContent
{
    background-color: #fff;
}

/* Loading Indicators */

/* When ShowContentDuringLoad="true" */
div.RadWindow_Telerik td.rwWindowContent.rwLoading
{
    background-image: url('Common/loading.gif');
}

/* When ShowContentDuringLoad="false" */
div.RadWindow_Telerik input.rwLoading
{
    background-image: url('Common/loading_small.gif');
}