.RadPanelBar_Vista
{
	background: #fff;
}

.RadPanelBar_Vista .rpRootGroup
{
	border-color: #a7bac5 #a7bac5 #8cabc0;
}

.RadPanelBar_Vista .rpLink,
.RadPanelBar_Vista .rpTemplate
{
	color: #039;
	font: normal 12px/24px "Segoe UI", Arial, sans-serif;
}

.RadPanelBar_Vista .rpLink
{
	background-image: url('PanelBar/RootItemBg.gif');
}

.RadPanelBar_Vista .rpOut
{
	border-color: #A6D9F4;
}

.RadPanelBar_Vista .rpLink
{
	background-color: #a6d9f4;
	border-color:  #E8F5FC;
}

.RadPanelBar_Vista .rpExpanded
{
	border-color: #3C7FB1;
}

.RadPanelBar_Vista .rpFocused,
.RadPanelBar_Vista .rpLink:hover
{
	color: #0060ef;
}

.RadPanelBar_Vista .rpSelected,
.RadPanelBar_Vista .rpSelected:hover
{
	background-color: #90cbea;
}

/* <disabled items> */
.RadPanelBar_Vista .rpDisabled,
.RadPanelBar_Vista .rpDisabled:hover
{
	color: #bbb;
}

.RadPanelBar_Vista .rpDisabled:hover .rpOut
{
	border-color: #A6D9F4;
}
/* </disabled items> */

/* <expand arrows> */
.RadPanelBar_Vista .rpExpandable .rpText,
.RadPanelBar_Vista .rpExpanded .rpText
{
	background-color: transparent;
	background-image: url('PanelBar/Expandable.png');
}
/* </expand arrows> */

/* <subitems> */
.RadPanelBar_Vista .rpGroup
{
	background-color: #fff;
}

.RadPanelBar_Vista .rpGroup .rpLink,
.RadPanelBar_Vista .rpGroup .rpTemplate
{
	color: #000;
	background-color: transparent;
	background-image: none;
}

.RadPanelBar_Vista .rpGroup .rpLink:hover
{
	color: #000;
}

.RadPanelBar_Vista .rpGroup .rpLink,
.RadPanelBar_Vista .rpGroup .rpOut
{
	background-color: transparent;
	background-image: url('PanelBar/SubItemStates.png');
	background-repeat: no-repeat;
}


/* <subitems (disabled)> */
.RadPanelBar_Vista .rpGroup .rpDisabled,
.RadPanelBar_Vista .rpGroup .rpDisabled:hover,
.RadPanelBar_Vista .rpGroup .rpDisabled:hover .rpOut
{
	background-image: none;
}

.RadPanelBar_Vista .rpGroup .rpDisabled,
.RadPanelBar_Vista .rpGroup .rpDisabled:hover
{
	color: #bbb;
	text-decoration: none;
	background-color: #fff;
}
/* </subitems (disabled)> */

/* <subitems> */

/* <background positioning> */
.RadPanelBar_Vista .rpLink,
.RadPanelBar_Vista .rpExpanded
{
	background-position: 0 0;
}

.RadPanelBar_Vista .rpFocused,
.RadPanelBar_Vista .rpLink:hover,
.RadPanelBar_Vista .rpExpanded:hover
{
	background-position: 0 -200px;
}

.RadPanelBar_Vista .rpSelected,
.RadPanelBar_Vista .rpSelected:hover
{
	background-position: 0 -400px;
}

.RadPanelBar_Vista .rpFirst .rpLink,
.RadPanelBar_Vista .rpFirst .rpExpanded
{
	background-position: 0 -1px;
}

.RadPanelBar_Vista .rpFirst .rpFocused,
.RadPanelBar_Vista .rpFirst .rpLink:hover
{
	background-position: 0 -201px;
}

.RadPanelBar_Vista .rpFirst .rpSelected,
.RadPanelBar_Vista .rpFirst .rpSelected:hover
{
	background-position: 0 -401px;
}

/* <root items (disabled)> */
.RadPanelBar_Vista .rpDisabled:hover
{
	cursor: default;
}

.RadPanelBar_Vista .rpDisabled,
.RadPanelBar_Vista .rpDisabled:hover,
.RadPanelBar_Vista .rpDisabled:hover .rpOut
{
	background-position: 0 0;
}
/* </root items (disabled)> */

/*      <expand arrows> */
.RadPanelBar_Vista .rpExpandable .rpText,
.RadPanelBar_Vista .rpExpanded .rpText
{
	padding-right: 20px;
	background-repeat: no-repeat;
}

.RadPanelBar_Vista_rtl .rpExpandable .rpText,
.RadPanelBar_Vista_rtl .rpExpanded .rpText
{
	padding-left: 20px;
}

.RadPanelBar_Vista_rtl .rpGroup .rpText
{
	padding: 0 10px;
}

.RadPanelBar_Vista .rpExpandable .rpText { background-position: 100% 0; }
.RadPanelBar_Vista .rpExpanded .rpText { background-position: 100% -176px; }
.RadPanelBar_Vista_rtl .rpExpandable .rpText { background-position: 0 0; }
.RadPanelBar_Vista_rtl .rpExpanded .rpText { background-position: 0 -176px; }

.RadPanelBar_Vista .rpExpandable.rpSelected .rpText,
.RadPanelBar_Vista .rpExpandable.rpSelected:hover .rpText
{
	background-position: 100% -337px;
}

.RadPanelBar_Vista .rpExpanded.rpSelected .rpText,
.RadPanelBar_Vista .rpExpanded.rpSelected:hover .rpText
{
	background-position: 100% -476px;
}

.RadPanelBar_Vista_rtl .rpExpandable.rpSelected .rpText,
.RadPanelBar_Vista_rtl .rpExpandable.rpSelected:hover .rpText
{
	background-position: 0 -337px;
}

.RadPanelBar_Vista_rtl .rpExpanded.rpSelected .rpText,
.RadPanelBar_Vista_rtl .rpExpanded.rpSelected:hover .rpText
{
	background-position: 0 -476px;
}

/*      </expand arrows> */

.RadPanelBar_Vista .rpGroup .rpLink,
.RadPanelBar_Vista .rpGroup .rpLink .rpOut { background-position: 0 200px; }

.RadPanelBar_Vista .rpGroup .rpLink:hover,
.RadPanelBar_Vista .rpGroup .rpFocused { background-position: 100% -22px; }
.RadPanelBar_Vista .rpGroup .rpLink:hover .rpOut,
.RadPanelBar_Vista .rpGroup .rpFocused .rpOut { background-position: 0 0; }

/*      <subitems (selected)> */
.RadPanelBar_Vista .rpGroup .rpSelected,
.RadPanelBar_Vista .rpGroup .rpSelected:hover { background-position: 100% -222px; background-color: transparent; }
.RadPanelBar_Vista .rpGroup .rpSelected .rpOut,
.RadPanelBar_Vista .rpGroup .rpSelected:hover .rpOut { background-position: 0 -200px; }
/*      </subitems (selected)> */

/*      <subitems (expand arrows)> */
.RadPanelBar_Vista .rpGroup .rpExpandable .rpText,
.RadPanelBar_Vista .rpGroup .rpExpandable:hover .rpText { background-position: 100% -938px; }
.RadPanelBar_Vista .rpGroup .rpExpanded .rpText,
.RadPanelBar_Vista .rpGroup .rpExpanded:hover .rpText { background-position: 100% -1078px; }
.RadPanelBar_Vista_rtl .rpGroup .rpExpandable .rpText,
.RadPanelBar_Vista_rtl .rpGroup .rpExpandable:hover .rpText { background-position: 0 -938px; }
.RadPanelBar_Vista_rtl .rpGroup .rpExpanded .rpText,
.RadPanelBar_Vista_rtl .rpGroup .rpExpanded:hover .rpText { background-position: 0 -1078px; }
/*      </subitems (expand arrows)> */
/* </background positioning> */