/* RadWindow for ASP.NET AJAX Vista Skin */

.RadWindow_Vista .rwTopLeft,
.RadWindow_Vista .rwTopRight,
.RadWindow_Vista .rwTitlebar,
.RadWindow_Vista .rwFooterLeft,
.RadWindow_Vista .rwFooterRight,
.RadWindow_Vista .rwFooterCenter,
.RadWindow_Vista .rwTopResize,
.RadWindow_Vista .rwStatusbar div,
.RadWindow_Vista .rwStatusbar,
.RadWindow_Vista .rwPopupButton,
.RadWindow_Vista .rwPopupButton span,
.RadWindow_Vista.rwMinimizedWindow .rwCorner
{
    background-image: url('Window/WindowHorizontalSprites.gif');
}

.RadWindow_Vista .rwBodyLeft,
.RadWindow_Vista .rwBodyRight,
.RadWindow_Vista .rwStatusbarRow .rwCorner
{
	background-image: url('Window/WindowVerticalSprites.gif');
}

.RadWindow_Vista .rwStatusbar input
{
    background-color: #f7f3e9;
}

.RadWindow_Vista .rwControlButtons a
{
    background-image: url('Window/CommandButtonSprites.gif');
}

.RadWindow_Vista a.rwIcon
{
	background-image: url('Window/WindowHorizontalSprites.gif');
}

div.RadWindow_Vista .rwTitlebarControls em
{
	color: black;
}

/* 
    This is a hack to achieve "Aero" look and feel for that particular skin.
    It should be removed for the other skins, as the background coordinates
    are specified in Window.css and are common for all skins
*/
.RadWindow_Vista table .rwTitlebar,
.RadWindow_Vista table .rwTopResize,
.rwMinimizedWindow.RadWindow_Vista tr.rwTitleRow td.rwTitlebar,
.rwMinimizedWindow.RadWindow_Vista tr.rwTitleRow div.rwTopResize
{
    background: url('Window/AeroTitleBarBgr.gif') repeat-x !important;
}
/* End of the "Aero" hack */

/* overlay element should be minimized when the window is minimized */
iframe.minimizedwindowoverlay_Vista
{
	/* take into account the borders of the main <div> of the window when setting width / height */
	width: 200px !important; 
	height: 30px !important;
}

div.RadWindow_Vista .rwDialogInput
{
	border-top: solid 1px #abadb3;
	border-right: solid 1px #dbdfe6;
	border-bottom: solid 1px #e3e9ef;
	border-left: solid 1px #e2e3ea;
}

div.RadWindow_Vista .rwDialogInput:hover
{
	border-top: solid 1px #5794bf;
	border-right: solid 1px #b7d5ea;
	border-bottom: solid 1px #c7e2f1;
	border-left: solid 1px #c5daed;
	color: #565656;
}

/* set Window Vista "Aero" look and feel to the window */
div.RadWindow.RadWindow_Vista.rwNormalWindow.rwTransparentWindow td.rwCorner,
div.RadWindow.RadWindow_Vista.rwNormalWindow.rwTransparentWindow td.rwTitlebar,
div.RadWindow.RadWindow_Vista.rwTransparentWindow td.rwFooterCenter
{
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=80);
	opacity: .8;
	-moz-opacity: .8;
}

div.RadWindow_Vista td.rwWindowContent
{
    background-color: #fff;
}

/* Loading Indicators */

/* When ShowContentDuringLoad="true" */
div.RadWindow_Vista td.rwWindowContent.rwLoading
{
    background-image: url('Common/loading.gif');
}

/* When ShowContentDuringLoad="false" */
div.RadWindow_Vista input.rwLoading
{
    background-image: url('Common/loading_small.gif');
}