/*Telerik RadCalendar Telerik skin*/

table.RadCalendar_Telerik
{
	border-collapse:separate;
	border:0;
	background:#fff;
	font:12px "segoe ui",arial,sans-serif;
	width:220px;
}

/*titlebar*/

.RadCalendar_Telerik .rcTitlebar
{
	width:100%;
	border:1px solid;
	border-color:#868686 #868686 #c4c4c4;
	padding:0;
	background:#f3f3f3 0 -1000px repeat-x url('Calendar/sprite.gif');
	color:#000;
}

.RadCalendar_Telerik .rcTitlebar table
{
	width:100%;
	border-collapse:separate;
	border:0;
	font:12px/23px "segoe ui",arial,sans-serif;
}

.RadCalendar_Telerik .rcTitlebar td
{
	border:0;
	padding:0 0 1px;
	text-align:center;
	vertical-align:middle;
}

.RadCalendar_Telerik .rcTitlebar .rcTitle
{
	width:100%;
	cursor:pointer;
}

.RadCalendar_Telerik .rcTitlebar .rcPrev,
.RadCalendar_Telerik .rcTitlebar .rcNext,
.RadCalendar_Telerik .rcTitlebar .rcFastPrev,
.RadCalendar_Telerik .rcTitlebar .rcFastNext
{
	display:block;
	width:13px;
	height:14px;
	overflow:hidden;
	margin:1px 4px 0;
	background:transparent url('Calendar/sprite.gif') no-repeat;
	text-indent:-2222px;
	text-decoration:none;
	color:#ccc;
}

.RadCalendar_Telerik .rcTitlebar .rcFastPrev
{
	margin-left:6px;
	background-position:0 -200px;
}

.RadCalendar_Telerik .rcTitlebar .rcFastPrev:hover
{
	background-position:0 -250px;
}

.RadCalendar_Telerik .rcTitlebar .rcPrev
{
	background-position:0 -300px;
}

.RadCalendar_Telerik .rcTitlebar .rcPrev:hover
{
	background-position:0 -350px;
}

.RadCalendar_Telerik .rcTitlebar .rcNext
{
	background-position:0 -400px;
}

.RadCalendar_Telerik .rcTitlebar .rcNext:hover
{
	background-position:0 -450px;
}

.RadCalendar_Telerik .rcTitlebar .rcFastNext
{
	margin-right:6px;
	background-position:0 -500px;
}

.RadCalendar_Telerik .rcTitlebar .rcFastNext:hover
{
	background-position:0 -550px;
}

.RadCalendar_Telerik .rcMain
{
	width:100%;
	border:1px solid #868686;
	border-top:0;
	padding:0;
}

.RadCalendar_Telerik .rcMainTable
{
	border-collapse:separate;
	border:0;
	width:100%;
	font:12px/17px "segoe ui",arial,sans-serif;
}

/*header, footer*/

.RadCalendar_Telerik .rcHeader,
.RadCalendar_Telerik .rcFooter
{
	border:1px solid #868686;
	border-top:0;
	padding:0;
}

/*week numbers and days*/

.RadCalendar_Telerik .rcRow th,
.RadCalendar_Telerik .rcWeek th
{
	border:0;
	font-weight:normal;
	vertical-align:middle;
	cursor:default;
}

.RadCalendar_Telerik .rcWeek th
{
	border-bottom:1px solid #c5c5c5;
	padding:4px 6px 3px 0;
	text-align:right;
	color:#333;
}

.RadCalendar_Telerik .rcWeek .rcViewSel,
.RadCalendar_Telerik .rcRow th
{
	width:13px;
	padding:0 7px 0 9px;
	background:#eee;
	text-align:center;
}

.RadCalendar_Telerik .rcRow th
{
	color:#777;
}

/*date cells*/

.RadCalendar_Telerik .rcRow td
{
	border:1px solid #fff;
	padding:0;
	text-align:right;
	vertical-align:middle;
}

.RadCalendar_Telerik .rcMain .rcRow a,
.RadCalendar_Telerik .rcMain .rcRow span
{
	display:block;
	padding:1px 5px 1px 0;
	text-decoration:none;
	color:#333;
}

.RadCalendar_Telerik .rcMain .rcWeekend a
{
	color:#565656;
}

.RadCalendar_Telerik .rcRow .rcToday
{
	border-color:#239500;
}

.RadCalendar_Telerik .rcMain .rcOtherMonth a
{
	color:#777;
}

.RadCalendar_Telerik .rcMain .rcOutOfRange span
{
	color:#777;
	cursor:default;
}

.RadCalendar_Telerik .rcRow .rcHover
{
	border-color:#2ebf00 #2bb400 #28a900;
	background:#a3ea8c 0 -1600px repeat-x url('Calendar/sprite.gif');
}

.RadCalendar_Telerik .rcRow .rcSelected
{
	border-color:#239500 #1b7400 #155900;
	background:#63ad39 0 -1700px repeat-x url('Calendar/sprite.gif');
}

.RadCalendar_Telerik .rcRow .rcHover a,
.RadCalendar_Telerik .rcRow .rcSelected a
{
	color:#000;
}

/*multimonth view*/

table.RadCalendarMultiView_Telerik
{
	width:auto;
}

.RadCalendarMultiView_Telerik .rcTitlebar
{
	border-color:#7e7e7e #727272 #8b8b8b;
	background:#b5b5b5 0 -1199px repeat-x url('Calendar/sprite.gif');
}

.RadCalendarMultiView_Telerik .rcTitlebar table
{
	border:1px solid;
	border-color:#f5f5f5 #e4e4e4 #d5d5d5;
	line-height:27px;
}

.RadCalendarMultiView_Telerik .rcTitlebar .rcFastPrev
{
	background-position:0 -600px;
}

.RadCalendarMultiView_Telerik .rcTitlebar .rcFastPrev:hover
{
	background-position:0 -650px;
}

.RadCalendarMultiView_Telerik .rcTitlebar .rcPrev
{
	background-position:0 -700px;
}

.RadCalendarMultiView_Telerik .rcTitlebar .rcPrev:hover
{
	background-position:0 -750px;
}

.RadCalendarMultiView_Telerik .rcTitlebar .rcNext
{
	background-position:0 -800px;
}

.RadCalendarMultiView_Telerik .rcTitlebar .rcNext:hover
{
	background-position:0 -850px;
}

.RadCalendarMultiView_Telerik .rcTitlebar .rcFastNext
{
	background-position:0 -900px;
}

.RadCalendarMultiView_Telerik .rcTitlebar .rcFastNext:hover
{
	background-position:0 -950px;
}

.RadCalendarMultiView_Telerik .rcMain
{
	border-color:#727272;
}

.RadCalendarMultiView_Telerik .rcCalendar
{
	width:220px;
	border:1px solid #868686;
	padding:0;
}

.RadCalendarMultiView_Telerik .rcMainTable .rcTitle
{
	border:0;
	border-bottom:1px solid #c4c4c4;
	padding:0 0 2px;
	background:#f3f3f3 0 -1000px repeat-x url('Calendar/sprite.gif');
	text-align:center;
	line-height:22px;
}

/*month view*/

table.RadCalendarMonthView_Telerik
{
	border-collapse:separate;
	border:1px solid #979797;
	background:#fff;
	font:12px "segoe ui",arial,sans-serif;
	color:#333;
}

table.RadCalendarMonthView_Telerik td
{
	border:0;
	padding:5px 2px 0;
}

.RadCalendarMonthView_Telerik #rcMView_Feb,
.RadCalendarMonthView_Telerik #rcMView_Apr,
.RadCalendarMonthView_Telerik #rcMView_Jun,
.RadCalendarMonthView_Telerik #rcMView_Aug,
.RadCalendarMonthView_Telerik #rcMView_Oct,
.RadCalendarMonthView_Telerik #rcMView_Dec
{
	border-right:1px solid #e0e0e0;
}

.RadCalendarMonthView_Telerik a
{
	display:block;
	padding:2px 4px;
	text-align:center;
	text-decoration:none;
	color:#333;
}

.RadCalendarMonthView_Telerik .rcSelected a
{
	border:1px solid;
	border-color:#239500 #1b7400 #155900;
	padding:1px 3px;
	background:#63ad39 0 -1700px repeat-x url('Calendar/sprite.gif');
	color:#000;
}

.RadCalendarMonthView_Telerik #rcMView_PrevY a,
.RadCalendarMonthView_Telerik #rcMView_NextY a
{
	display:block;
	width:14px;
	height:14px;
	overflow:hidden;
	margin:0 auto;
	background:transparent no-repeat url('Calendar/sprite.gif');
	text-indent:-2222px;
	text-align:center;
	text-decoration:none;
	color:#ccc;
}

.RadCalendarMonthView_Telerik #rcMView_PrevY a
{
	background-position:7px -2094px;
}

.RadCalendarMonthView_Telerik #rcMView_NextY a
{
	background-position:8px -2194px;
}

.RadCalendarMonthView_Telerik .rcButtons
{
	padding:6px 7px 5px;
	text-align:center;
}

.RadCalendarMonthView_Telerik input
{
	border:1px solid;
	border-color:#cecece #afafaf #8f8f8f;
	padding:0;
	background:#eee 0 -2300px repeat-x url('Calendar/sprite.gif');
	color:#000;
	font:12px "segoe ui",arial,sans-serif;
	cursor:pointer;
}

.RadCalendarMonthView_Telerik input:hover
{
	border-color:#2ebf00 #2bb300 #28a800;
	background:#a2ea8b 0 -2350px repeat-x url('Calendar/sprite.gif');
}

.RadCalendarMonthView_Telerik #rcMView_Today
{
	margin:0 0.4em 0 0;
}

.RadCalendarMonthView_Telerik #rcMView_OK
{
	padding:0 0.2em;
}

/*time view*/

table.RadCalendarTimeView_Telerik
{
	border-collapse:separate;
	border:1px solid #979797;
	background:#fff;
	font:12px "segoe ui",arial,sans-serif;
}

.RadCalendarTimeView_Telerik th
{
	border:0;
	border-bottom:1px solid #c4c4c4;
	padding:0 0 1px;
	background:#f3f3f3 0 -1000px repeat-x url('Calendar/sprite.gif');
	color:#000;
	text-align:center;
	cursor:default;
	line-height:23px;
	font-weight:normal;
}

table.RadCalendarTimeView_Telerik td
{
	border:0;
	border-left:1px solid #c5c5c5;
	padding:2px 2px 3px;
}

table.RadCalendarTimeView_Telerik td:first-child
{
	border-left:0;
}

.RadCalendarTimeView_Telerik a
{
	display:block;
	padding:2px 6px;
	text-align:center;
	color:#333;
	text-decoration:none;
}

.RadCalendarTimeView_Telerik td.rcSelected a
{
	border:1px solid;
	border-color:#239500 #1b7400 #155900;
	padding:1px 5px;
	background:#63ad39 0 -1700px repeat-x url('Calendar/sprite.gif');
	color:#000;
}

.RadCalendarTimeView_Telerik td.rcHover a
{
	border:1px solid;
	border-color:#2ebf00 #2bb400 #28a900;
	padding:1px 5px;
	background:#a3ea8c 0 -1600px repeat-x url('Calendar/sprite.gif');
	color:#000;
}

.RadCalendarTimeView_Telerik .rcFooter
{
	border:0;
	border-top:1px solid #c5c5c5;
	padding:0;
}

/*pickers*/

.RadPicker_Telerik,
.RadPicker_Telerik td
{
	vertical-align:middle;
}

.RadPicker_Telerik .RadInput
{
	vertical-align:baseline;
}

.RadPicker_Telerik table.rcTable,
.RadPicker_Telerik table.rcTable td
{
	border:0;
	margin:0;
	padding:0;
}

.RadPicker_Telerik table.rcTable .rcInputCell
{
	padding:0 4px 0 0;
}

.RadPicker_Telerik td a
{
	position:relative;/*FF*/
	outline:none;/*FF*/
	z-index:2;/*Opera*/
	margin:0 2px;
	text-decoration:none;
}
* html .RadPicker_Telerik td a{position:static}/*IE6*/
*+html .RadPicker_Telerik td a{position:static}/*IE7*/

.RadPicker_Telerik .rcCalPopup,
.RadPicker_Telerik .rcTimePopup
{
	display:block;
	overflow:hidden;
	width:22px;
	height:22px;
	background:url('Calendar/sprite.gif') no-repeat;
	text-indent:-2222px;
	text-align:center;
}

.RadPicker_Telerik .rcCalPopup,
.RadPicker_Telerik .rcDisabled.rcCalPopup:hover
{
	background-position:0 0;
}

.RadPicker_Telerik .rcCalPopup:hover,
.RadPicker_Telerik .rcCalPopup:focus,
.RadPicker_Telerik .rcCalPopup:active
{
	background-position:0 -50px;
}

.RadPicker_Telerik .rcTimePopup,
.RadPicker_Telerik .rcDisabled.rcTimePopup:hover
{
	background-position:0 -100px;
}

.RadPicker_Telerik .rcTimePopup:hover,
.RadPicker_Telerik .rcTimePopup:focus,
.RadPicker_Telerik .rcTimePopup:active
{
	background-position:0 -150px;
}

.RadPicker_Telerik .rcDisabled,
.RadCalendarMonthView_Telerik .rcDisabled
{
	opacity:0.5;
	filter:alpha(opacity=50);
}

/*rtl*/

.RadCalendarRTL_Telerik .rcTitlebar .rcFastPrev
{
	background-position:0 -500px;
}

.RadCalendarRTL_Telerik .rcTitlebar .rcFastPrev:hover
{
	background-position:0 -550px;
}

.RadCalendarRTL_Telerik .rcTitlebar .rcPrev
{
	background-position:0 -400px;
}

.RadCalendarRTL_Telerik .rcTitlebar .rcPrev:hover
{
	background-position:0 -450px;
}

.RadCalendarRTL_Telerik .rcTitlebar .rcNext
{
	background-position:0 -300px;
}

.RadCalendarRTL_Telerik .rcTitlebar .rcNext:hover
{
	background-position:0 -350px;
}

.RadCalendarRTL_Telerik .rcTitlebar .rcFastNext
{
	background-position:0 -200px;
}

.RadCalendarRTL_Telerik .rcTitlebar .rcFastNext:hover
{
	background-position:0 -250px;
}

.RadCalendarMultiViewRTL_Telerik .rcTitlebar .rcFastPrev
{
	background-position:0 -900px;
}

.RadCalendarMultiViewRTL_Telerik .rcTitlebar .rcFastPrev:hover
{
	background-position:0 -950px;
}

.RadCalendarMultiViewRTL_Telerik .rcTitlebar .rcPrev
{
	background-position:0 -800px;
}

.RadCalendarMultiViewRTL_Telerik .rcTitlebar .rcPrev:hover
{
	background-position:0 -850px;
}

.RadCalendarMultiViewRTL_Telerik .rcTitlebar .rcNext
{
	background-position:0 -700px;
}

.RadCalendarMultiViewRTL_Telerik .rcTitlebar .rcNext:hover
{
	background-position:0 -750px;
}

.RadCalendarMultiViewRTL_Telerik .rcTitlebar .rcFastNext
{
	background-position:0 -600px;
}

.RadCalendarMultiViewRTL_Telerik .rcTitlebar .rcFastNext:hover
{
	background-position:0 -650px;
}
