/*Telerik RadGrid Telerik Skin*/

/*global*/

.RadGrid_Telerik
{
    border:1px solid #828282;
    background:#fff;
    color:#000;
}

.RadGrid_Telerik,
.RadGrid_Telerik .rgMasterTable,
.RadGrid_Telerik .rgDetailTable,
.RadGrid_Telerik .rgGroupPanel table,
.RadGrid_Telerik .rgCommandRow table,
.RadGrid_Telerik .rgEditForm table,
.RadGrid_Telerik .rgPager table,
.GridToolTip_Telerik
{
    font:12px/16px "segoe ui",arial,sans-serif;
}

.RadGrid_Telerik .rgMasterTable,
.RadGrid_Telerik .rgDetailTable
{
    border-collapse:separate;
}

.RadGrid_Telerik .rgRow,
.RadGrid_Telerik .rgAltRow,
.RadGrid_Telerik .rgHeader,
.RadGrid_Telerik .rgResizeCol,
.RadGrid_Telerik .rgPager,
.RadGrid_Telerik .rgGroupPanel,
.RadGrid_Telerik .rgGroupHeader
{
	cursor:default;
}

.RadGrid_Telerik input[type="image"]
{
	cursor:pointer;
}

.RadGrid_Telerik .rgRow td,
.RadGrid_Telerik .rgAltRow td,
.RadGrid_Telerik .rgEditRow td,
.RadGrid_Telerik .rgFooter td,
.RadGrid_Telerik .rgFilterRow td,
.RadGrid_Telerik .rgHeader,
.RadGrid_Telerik .rgResizeCol,
.RadGrid_Telerik .rgGroupHeader td
{
	padding-left:7px;
	padding-right:7px;
}

.RadGrid_Telerik .rgClipCells .rgHeader,
.RadGrid_Telerik .rgClipCells .rgRow>td,
.RadGrid_Telerik .rgClipCells .rgAltRow>td
{
	overflow:hidden;
}

.RadGrid_Telerik .rgAdd,
.RadGrid_Telerik .rgRefresh,
.RadGrid_Telerik .rgEdit,
.RadGrid_Telerik .rgDel,
.RadGrid_Telerik .rgFilter,
.RadGrid_Telerik .rgPagePrev,
.RadGrid_Telerik .rgPageNext,
.RadGrid_Telerik .rgPageFirst,
.RadGrid_Telerik .rgPageLast,
.RadGrid_Telerik .rgExpand,
.RadGrid_Telerik .rgCollapse,
.RadGrid_Telerik .rgSortAsc,
.RadGrid_Telerik .rgSortDesc,
.RadGrid_Telerik .rgUpdate,
.RadGrid_Telerik .rgCancel,
.RadGrid_Telerik .rgUngroup,
.RadGrid_Telerik .rgExpXLS,
.RadGrid_Telerik .rgExpDOC,
.RadGrid_Telerik .rgExpPDF,
.RadGrid_Telerik .rgExpCSV
{
	width:16px;
	height:16px;
	border:0;
	margin:0;
	padding:0;
	background-color:transparent;
	background-image:url('Grid/sprite.gif');
	background-repeat:no-repeat;
	vertical-align:middle;
	font-size:1px;
	cursor:pointer;
}

.RadGrid_Telerik .rgGroupItem input,
.RadGrid_Telerik .rgCommandRow img,
.RadGrid_Telerik .rgHeader input,
.RadGrid_Telerik .rgFilterRow img,
.RadGrid_Telerik .rgFilterRow input,
.RadGrid_Telerik .rgPager img
{
	vertical-align:middle;
}

/*header*/

.RadGrid_Telerik .rgHeaderDiv
{
	background:#eee 0 -8050px repeat-x url('Grid/sprite.gif');
}
.rgTwoLines .rgHeaderDiv
{
	background-position:0 -7550px;
}

.rgNoScrollImage .rgHeaderDiv
{
	background-image:none;
}

.RadGrid_Telerik .rgHeader,
.RadGrid_Telerik th.rgResizeCol
{
	border:0;
	border-bottom:1px solid #828282;
	padding-top:5px;
	padding-bottom:4px;
	background:#f3f3f3 0 -2300px repeat-x url('Grid/sprite.gif');
	text-align:left;
	font-weight:normal;
}

.RadGrid_Telerik th.rgSorted
{
	background-color:#a6e193;
	background-position:0 -2600px;
}

.RadGrid_Telerik .rgHeader,
.RadGrid_Telerik .rgHeader a
{
    color:#333;
    text-decoration:none;
}

.RadGrid_Telerik .rgCheck
{
	height:15px;
	margin:0;
	padding:0;
}

/*rows*/

.RadGrid_Telerik .rgRow td,
.RadGrid_Telerik .rgAltRow td,
.RadGrid_Telerik .rgEditRow td,
.RadGrid_Telerik .rgFooter td
{
	border:0;
	border-bottom:1px solid;
	padding-top:4px;
	padding-bottom:3px;
}

.RadGrid_Telerik .rgRow td
{
	border-color:#fff;
}

.RadGrid_Telerik .rgAltRow
{
	background:#f2f2f2;
}

.RadGrid_Telerik .rgAltRow td
{
	border-color:#f2f2f2;
}

.RadGrid_Telerik .rgRow .rgSorted,
.RadGrid_Telerik .rgAltRow .rgSorted
{
	border-color:#d7f8cc;
	background-color:#d7f8cc;
}

.RadGrid_Telerik .rgSelectedRow .rgSorted,
.RadGrid_Telerik .rgActiveRow .rgSorted,
.RadGrid_Telerik .rgHoveredRow .rgSorted,
.RadGrid_Telerik .rgEditRow .rgSorted
{
	background-color:transparent;
}

.RadGrid_Telerik .rgRow a,
.RadGrid_Telerik .rgAltRow a,
.RadGrid_Telerik .rgEditRow a,
.RadGrid_Telerik .rgFooter a,
.RadGrid_Telerik .rgEditForm a
{
	color:#155800;
}

.RadGrid_Telerik .rgSelectedRow
{
    background:#63ac38 0 -3900px repeat-x url('Grid/sprite.gif');
}
*+html .RadGrid_Telerik .rgSelectedRow .rgSorted{background-color:#63ac38}
* html .RadGrid_Telerik .rgSelectedRow .rgSorted{background-color:#63ac38}

.RadGrid_Telerik .rgActiveRow,
.RadGrid_Telerik .rgHoveredRow
{
    background:#a2ea8b 0 -2900px repeat-x url('Grid/sprite.gif');
}
*+html .RadGrid_Telerik .rgActiveRow .rgSorted,
*+html .RadGrid_Telerik .rgHoveredRow .rgSorted{background-color:#a2ea8b}
* html .RadGrid_Telerik .rgActiveRow .rgSorted,
* html .RadGrid_Telerik .rgHoveredRow .rgSorted{background-color:#a2ea8b}

.RadGrid_Telerik .rgEditRow
{
	background:#fff 0 -4900px repeat-x url('Grid/sprite.gif');
}
*+html .RadGrid_Telerik .rgEditRow .rgSorted{background-color:#fff}
* html .RadGrid_Telerik .rgEditRow .rgSorted{background-color:#fff}

.RadGrid_Telerik .rgActiveRow td,
.RadGrid_Telerik .rgActiveRow td.rgSorted,
.RadGrid_Telerik .rgHoveredRow td,
.RadGrid_Telerik .rgHoveredRow td.rgSorted
{
	border-bottom-color:#28a800;
}

.RadGrid_Telerik .rgSelectedRow td,
.RadGrid_Telerik .rgSelectedRow td.rgSorted
{
	border-bottom-color:#155800;
}

.RadGrid_Telerik .rgEditRow td,
.RadGrid_Telerik .rgEditRow td.rgSorted
{
	border-bottom-color:#333;
}

/*footer*/

.RadGrid_Telerik .rgFooterDiv,
.RadGrid_Telerik .rgFooter
{
	background:#eee;
}

.RadGrid_Telerik .rgFooter td
{
	border-top:1px solid #828282;
	border-bottom:1px solid #fff;
}

/*status*/

.RadGrid_Telerik .rgStatus
{
	width:35px;
	border:1px solid;
	border-color:#828282 #c9c9c9 #eee #c9c9c9;
	border-left:0;
	padding:3px 0 2px;
}

.RadGrid_Telerik .rgStatus div
{
	width:24px;
	height:24px;
	overflow:hidden;
	border:0;
	margin:0 auto;
	padding:0;
	background:transparent center center no-repeat url('Common/loading_small.gif');
	text-indent:-2222px;
}

/*pager*/

.RadGrid_Telerik .rgPager
{
	background:#eee;
}

.RadGrid_Telerik .rgPagerCell
{
	border:1px solid;
	border-color:#828282 #eee #eee;
	border-right:0;
	padding:5px 0 4px;
}

.RadGrid_Telerik .rgWrap
{
	float:left;
	padding:0 10px;
	line-height:22px;
	white-space:nowrap;
}

.RadGrid_Telerik .rgArrPart1
{
	padding-right:0;
}

.RadGrid_Telerik .rgArrPart2
{
	padding-left:0;
}

.RadGrid_Telerik .rgInfoPart
{
	float:right;
	color:#8a8a8a;
}

.RadGrid_Telerik .rgInfoPart strong
{
	font-weight:normal;
	color:#4c4e54;
}

.RadGrid_Telerik .rgArrPart1 img,
.RadGrid_Telerik .rgArrPart2 img
{
	margin:0 8px;
}

.RadGrid_Telerik .rgPageFirst,
.RadGrid_Telerik .rgPagePrev,
.RadGrid_Telerik .rgPageNext,
.RadGrid_Telerik .rgPageLast
{
	width:22px;
	height:22px;
	vertical-align:top;
}

.RadGrid_Telerik .NextPrev .rgPageFirst,
.RadGrid_Telerik .NextPrev .rgPagePrev,
.RadGrid_Telerik .NextPrev .rgPageNext,
.RadGrid_Telerik .NextPrev .rgPageLast
{
	vertical-align:middle;
}

.RadGrid_Telerik .rgPageFirst
{
	background-position:0 -550px;
}
.RadGrid_Telerik .rgPageFirst:hover
{
	background-position:0 -600px;
}
.RadGrid_Telerik .rgPagePrev
{
	background-position:0 -700px;
}
.RadGrid_Telerik .rgPagePrev:hover
{
	background-position:0 -750px;
}
.RadGrid_Telerik .rgPageNext
{
	background-position:0 -850px;
}
.RadGrid_Telerik .rgPageNext:hover
{
	background-position:0 -900px;
}
.RadGrid_Telerik .rgPageLast
{
	background-position:0 -1000px;
}
.RadGrid_Telerik .rgPageLast:hover
{
	background-position:0 -1050px;
}

.RadGrid_Telerik .rgPager .rgPagerButton
{
	height:22px;
	border:1px solid;
	border-color:#d0d0d0 #aeaeae #8b8b8b;
	margin:0 14px 0 0;
	padding:0 4px 2px;
	background:#eee repeat-x 0 -1550px url('Grid/sprite.gif');
	color:#000;
	font:12px/12px "segoe ui",arial,sans-serif;
	vertical-align:middle;
	cursor:pointer;
}

.RadGrid_Telerik .rgNumPart
{
	padding:0;
}

.RadGrid_Telerik .NumericPages .rgNumPart
{
	padding:0 10px;
}

.RadGrid_Telerik .rgNumPart a:hover,
.RadGrid_Telerik .rgNumPart a:hover span,
.RadGrid_Telerik .rgNumPart a.rgCurrentPage,
.RadGrid_Telerik .rgNumPart a.rgCurrentPage span
{
	background:no-repeat url('Grid/sprite.gif');
}

.RadGrid_Telerik .rgNumPart a
{
	float:left;
	line-height:22px;
	margin:0;
	padding:0 5px 0 0;
	color:#000;
	text-decoration:none;
}

.RadGrid_Telerik .rgNumPart span
{
	float:left;
	padding:0 0 0 5px;
}

.RadGrid_Telerik .rgNumPart a:hover
{
	background-position:100% -1250px;
}

.RadGrid_Telerik .rgNumPart a:hover span
{
	background-position:0 -1150px;
	cursor:pointer;
}

.RadGrid_Telerik .rgNumPart a.rgCurrentPage,
.RadGrid_Telerik .rgNumPart a.rgCurrentPage:hover
{
	background-position:100% -1450px;
	cursor:default;
}

.RadGrid_Telerik .rgNumPart a.rgCurrentPage span,
.RadGrid_Telerik .rgNumPart a.rgCurrentPage:hover span
{
	background-position:0 -1350px;
	cursor:default;
}

.RadGrid_Telerik .NextPrevNumericAndAdvanced .rgAdvPart
{
	float:none;
	text-align:center;
}

.RadGrid_Telerik .rgPager .RadSlider
{
	float:left;
	margin:0 10px 0 0;
}

.RadGrid_Telerik .rgPagerLabel,
.RadGrid_Telerik .rgPager .RadComboBox,
.RadGrid_Telerik .rgPager .RadInput_Telerik
{
	margin:0 4px 0 0;
	vertical-align:middle;
}

*+html .RadGrid_Telerik .rgPager .RadComboBox{margin-top:-1px;}
* html .RadGrid_Telerik .rgPager .RadComboBox{margin-top:-1px;padding:1px 0;}

.RadGrid_Telerik .rgPagerTextBox
{
	text-align:center;
}

/*sorting, reordering*/

.RadGrid_Telerik .rgHeader .rgSortAsc
{
	background-position:3px -248px;
	height:10px;
}

.RadGrid_Telerik .rgHeader .rgSortDesc
{
	background-position:3px -198px;
	height:10px;
}

.GridReorderTop_Telerik,
.GridReorderBottom_Telerik
{
	width:9px !important;
	height:9px !important;
	margin-left:-5px;
	background:0 0 no-repeat url('Grid/sprite.gif');
}

.GridReorderBottom_Telerik
{
	background-position:0 -50px;
}

/*filtering*/

.RadGrid_Telerik .rgFilterRow
{
	background:#eee;
}

.RadGrid_Telerik .rgFilterRow td
{
    border-bottom:1px solid #828282;
    padding-top:4px;
    padding-bottom:7px;
}

.RadGrid_Telerik .rgFilter
{
	width:22px;
	height:22px;
	margin:0 0 0 2px;
	background-position:0 -300px;
}

.RadGrid_Telerik .rgFilter:hover
{
	background-position:0 -350px;
}

.RadGrid_Telerik .rgFilterActive,
.RadGrid_Telerik .rgFilterActive:hover
{
	background-position:0 -400px;
}

.RadGrid_Telerik .rgFilterBox
{
	border:1px solid;
	border-color:#8e8e8e #c9c9c9 #c9c9c9 #8e8e8e;
	padding:2px 1px 3px;
	font:12px "segoe ui",arial,sans-serif;
	color:#333;
	vertical-align:middle;
}

/*grouping*/

.RadGrid_Telerik .rgGroupPanel
{
	height:24px;
	border:0;
	border-bottom:1px solid #828282;
	background:#eee 0 -1900px repeat-x url('Grid/sprite.gif');
}

.RadGrid_Telerik .rgGroupPanel td
{
	border:0;
	padding:3px 4px;
}

.RadGrid_Telerik .rgGroupPanel td td
{
	padding:0;
}

.RadGrid_Telerik .rgGroupPanel .rgSortAsc
{
	background-position:4px -143px;
}

.RadGrid_Telerik .rgGroupPanel .rgSortDesc
{
	background-position:4px -93px;
}

.RadGrid_Telerik .rgUngroup
{
	background-position:0 -7498px;
}

.RadGrid_Telerik .rgGroupItem
{
	border:1px solid;
	border-color:#d0d0d0 #bdbdbd #8a8a8a;
	padding:0 2px 1px 3px;
	background:#e8e8e8 0 -6500px repeat-x url('Grid/sprite.gif');
	line-height:20px;
	font-weight:normal;
	vertical-align:middle;
}

.RadGrid_Telerik .rgMasterTable td.rgGroupCol,
.RadGrid_Telerik .rgMasterTable td.rgExpandCol
{
	border-color:#d2f8c5;
	background:#d2f8c5 none;
}

.RadGrid_Telerik .rgGroupHeader,
.RadGrid_Telerik .rgGroupHeader td.rgGroupCol
{
    background:#d2f8c5 0 -7000px repeat-x url('Grid/sprite.gif');
}

.RadGrid_Telerik .rgGroupHeader
{
	font-size:1.1em;
	line-height:21px;
}

.RadGrid_Telerik .rgGroupHeader td
{
	border-bottom:1px solid #98ec7d;
	padding-top:0;
	padding-bottom:0;
}

.RadGrid_Telerik .rgExpand
{
	background-position:5px -496px;
}

.RadGrid_Telerik .rgCollapse
{
	background-position:3px -444px;
}

.RadGrid_Telerik .rgGroupHeader td p
{
    display:inline;
    margin:0;
    padding:0 10px;
}

.RadGrid_Telerik .rgGroupHeader td div div
{
	top:-0.8em;
	padding:0 10px;
}

.RadGrid_Telerik .rgGroupHeader td div div div
{
	top:0;
	padding:0;
	border:0;
}

/*editing*/

.RadGrid_Telerik .rgEditForm
{
	border-bottom:1px solid #828282;
}

.RadGrid_Telerik .rgUpdate
{
	background-position:0 -1800px;
}

.RadGrid_Telerik .rgCancel
{
	background-position:2px -1848px;
}

/*hierarchy*/

.RadGrid_Telerik .rgDetailTable
{
	border:1px solid #828282;
	border-right:0;
}

/*command row*/

.RadGrid_Telerik .rgCommandRow
{
	background:#b5b5b5 0 -2099px repeat-x url('Grid/sprite.gif');
	color:#000;
}

.RadGrid_Telerik .rgCommandCell
{
	border:0;
	padding:0;
}

.RadGrid_Telerik thead .rgCommandCell
{
	border-bottom:1px solid #8b8b8b;
}

.RadGrid_Telerik tfoot .rgCommandCell
{
	border-top:1px solid #a1a1a1;
}

.RadGrid_Telerik .rgCommandTable td
{
	border:0;
	padding:3px 7px 4px;
}

.RadGrid_Telerik .rgCommandTable
{
	border:1px solid;
	border-color:#f5f5f5 #e4e4e4 #d5d5d5;
}

.RadGrid_Telerik .rgCommandRow a
{
	color:#000;
	text-decoration:none;
}

.RadGrid_Telerik .rgAdd
{
	margin-right:3px;
	background-position:0 -1650px;
}

.RadGrid_Telerik .rgRefresh
{
	margin-right:3px;
	background-position:0 -1600px;
}

.RadGrid_Telerik .rgEdit
{
	background-position:0 -1700px;
}

.RadGrid_Telerik .rgDel
{
	background-position:0 -1750px;
}

.RadGrid_Telerik .rgExpXLS,
.RadGrid_Telerik .rgExpDOC,
.RadGrid_Telerik .rgExpPDF,
.RadGrid_Telerik .rgExpCSV
{
	background-image:url('../Common/Grid/export.gif');
}

.RadGrid_Telerik .rgExpXLS
{
	background-position:0 0;
}
.RadGrid_Telerik .rgExpDOC
{
	background-position:0 -50px;
}
.RadGrid_Telerik .rgExpPDF
{
	background-position:0 -100px;
}
.RadGrid_Telerik .rgExpCSV
{
	background-position:0 -150px;
}

/*multirow select*/

.GridRowSelector_Telerik
{
	background:#155800;
}

/*row drag n drop*/

.GridItemDropIndicator_Telerik
{
    border-top:1px dashed #155800;
}

/*tooltip*/

.GridToolTip_Telerik
{
	border:1px solid #828282;
	padding:3px;
	background:#fff;
	color:#000;
}

/*rtl*/

.RadGridRTL_Telerik .rgHeader,
.RadGridRTL_Telerik .rgResizeCol
{
	text-align:right;
}

.RadGridRTL_Telerik .rgPager .rgStatus
{
	border-right:0;
	border-left-width:1px;
}

.RadGridRTL_Telerik .rgWrap
{
	float:right;
}

.RadGridRTL_Telerik .rgInfoPart
{
	float:left;
}

.RadGridRTL_Telerik .rgNumPart
{
	width:220px;
}

.RadGridRTL_Telerik .rgNumPart a
{
	float:right;
}

.RadGridRTL_Telerik .rgPageFirst
{
	background-position:0 -1000px;
}
.RadGridRTL_Telerik .rgPageFirst:hover
{
	background-position:0 -1050px;
}
.RadGridRTL_Telerik .rgPagePrev
{
	background-position:0 -850px;
}
.RadGridRTL_Telerik .rgPagePrev:hover
{
	background-position:0 -900px;
}
.RadGridRTL_Telerik .rgPageNext
{
	background-position:0 -700px;
}
.RadGridRTL_Telerik .rgPageNext:hover
{
	background-position:0 -750px;
}
.RadGridRTL_Telerik .rgPageLast
{
	background-position:0 -550px;
}
.RadGridRTL_Telerik .rgPageLast:hover
{
	background-position:0 -600px;
}

.RadGridRTL_Telerik .rgDetailTable
{
	border-right:1px solid;
	border-left:0;
}
