@media only screen and (max-width: 800px)
{
    .pesquisar
    {
        width: 30% !important;
    }

}

@media only screen and (max-width: 768px)
{
    .ux-startbutton-left
    {
        display: none !important;
    }
    .ux-startbutton-right
    {
        display: none !important;
    }

    .ux-startbutton-center
    {
        display: none !important;
    }

    .x-layout-split.x-layout-split-west.x-unselectable.x-splitbar-h
    {
        display: none !important;
    }

    .x-window.x-resizable-pinned
    {
        width: 90% !important;
        left: 2% !important;
        top: 1% !important;
    }

    .x-window-body
    {
        width: 100% !important;
     }

}

@media only screen and (max-width: 480px)
{
    .containertabela
    {
        position: absolute;
        left: 10%;
        top: 25%;
        border-top-style: none;
        border-right-style: none;
        border-bottom-style: none;
        border-left-style: none;
    }

    .containerCopyright
    {
        position: absolute;
        left: 5%;
        top: 90%;
        border-top-style: none;
        border-right-style: none;
        border-bottom-style: none;
        border-left-style: none;
    }

    .pesquisar
    {
        width: 50% !important;
    }
}


@media only screen and (max-width: 360px)
{
    .pesquisar
    {
        width: 60% !important;
    }
}

@media only screen and (max-width: 320px)
{
    .x-window.x-resizable-pinned
    {
        width: 90% !important;
        left: 2% !important;
        top: 1% !important;
        height: 90% !important;
    }

    .x-window-body
    {
        height: 100% !important;
        width: 100% !important;
    }
    
     .pesquisar
    {
        width: 70% !important;
    }
    
}

