body 
{
   font-family:Times New Roman !important;
   font-size: 10px !important;
   color: black !important;
   background-color: white !important;
   word-wrap: break-word !important;
   zoom: 150%;
}
