/* Telerik RadAjaxLoadingPanel WebBlue Skin */

.RadAjax_WebBlue .raDiv
{
	background-image:url('Common/loading.gif');
}

.RadAjax_WebBlue .raColor
{
	background-color:#fff;
}

.RadAjax_WebBlue .raTransp
{
	opacity:0.5;
	-moz-opacity:0.5;
	filter:alpha(opacity=50);
}