.RadPanelBar_WebBlue
{
	background: #fff;
}

.RadPanelBar_WebBlue .rpRootGroup
{
	border-color: #768ca5 #768ca5 #3D556C;
}

.RadPanelBar_WebBlue .rpLink,
.RadPanelBar_WebBlue .rpTemplate
{
	color: #fff;
	font: normal 12px/24px "Segoe UI", Arial, sans-serif;
}

.RadPanelBar_WebBlue .rpLink
{
	background-color: #a6d9f4;
	background-image: url('PanelBar/RootItemBg.gif');
	border-color: #889eb1;
}

.RadPanelBar_WebBlue .rpOut
{
	border-color: #718CA2;
}

.RadPanelBar_WebBlue .rpExpanded
{
	border-color: #3d556c;
}

.RadPanelBar_WebBlue .rpLink:hover,
.RadPanelBar_WebBlue .rpFocused,
.RadPanelBar_WebBlue .rpSelected
{
	color: #0e3d4f;
}

.RadPanelBar_WebBlue .rpSelected,
.RadPanelBar_WebBlue .rpSelected:hover
{
	background-color: #90cbea;
	border-color: #2c628b;
}

/* <disabled items> */
.RadPanelBar_WebBlue .rpDisabled,
.RadPanelBar_WebBlue .rpDisabled:hover
{
	color: #bbb;
}

.RadPanelBar_WebBlue .rpDisabled:hover .rpOut
{
	border-color: #e8f5fc;
}
/* </disabled items> */

/* <expand arrows> */
.RadPanelBar_WebBlue .rpExpandable .rpText,
.RadPanelBar_WebBlue .rpExpanded .rpText
{
	background-color: transparent;
	background-image: url('PanelBar/Expandable.png');
	background-repeat: no-repeat;
}
/* </expand arrows> */

/* <subitems> */
.RadPanelBar_WebBlue .rpGroup
{
	background-color: #fff;
}

.RadPanelBar_WebBlue .rpGroup .rpLink,
.RadPanelBar_WebBlue .rpGroup .rpTemplate
{
	color: #000;
	background-color: transparent;
	background-image: none;
}

.RadPanelBar_WebBlue .rpGroup .rpLink:hover
{
	color: #000;
}

.RadPanelBar_WebBlue .rpGroup .rpLink,
.RadPanelBar_WebBlue .rpGroup .rpOut
{
	background-color: transparent;
	background-image: url('PanelBar/SubItemStates.png');
	background-repeat: no-repeat;
}


/* <subitems (disabled)> */
.RadPanelBar_WebBlue .rpGroup .rpDisabled,
.RadPanelBar_WebBlue .rpGroup .rpDisabled:hover,
.RadPanelBar_WebBlue .rpGroup .rpDisabled:hover .rpOut
{
	background-image: none;
}

.RadPanelBar_WebBlue .rpGroup .rpDisabled,
.RadPanelBar_WebBlue .rpGroup .rpDisabled:hover
{
	color: #bbb;
	text-decoration: none;
	background-color: #fff;
}
/* </subitems (disabled)> */

/* <subitems> */

/* <background positioning> */
.RadPanelBar_WebBlue .rpLink,
.RadPanelBar_WebBlue .rpExpanded
{
	background-position: 0 0;
}

.RadPanelBar_WebBlue .rpFocused,
.RadPanelBar_WebBlue .rpLink:hover,
.RadPanelBar_WebBlue .rpExpanded:hover
{
	background-position: 0 -200px;
}

.RadPanelBar_WebBlue .rpSelected,
.RadPanelBar_WebBlue .rpSelected:hover
{
	background-position: 0 -400px;
}

.RadPanelBar_WebBlue .rpFirst .rpLink,
.RadPanelBar_WebBlue .rpFirst .rpExpanded
{
	background-position: 0 -1px;
}

.RadPanelBar_WebBlue .rpFirst .rpFocused,
.RadPanelBar_WebBlue .rpFirst .rpLink:hover
{
	background-position: 0 -201px;
}

.RadPanelBar_WebBlue .rpFirst .rpSelected,
.RadPanelBar_WebBlue .rpFirst .rpSelected:hover
{
	background-position: 0 -401px;
}

/* <root items (disabled)> */
.RadPanelBar_WebBlue .rpDisabled:hover
{
	cursor: default;
}

.RadPanelBar_WebBlue .rpDisabled,
.RadPanelBar_WebBlue .rpDisabled:hover,
.RadPanelBar_WebBlue .rpDisabled:hover .rpOut
{
	background-position: 0 0;
}
/* </root items (disabled)> */

/*      <expand arrows> */
.RadPanelBar_WebBlue .rpExpandable .rpText,
.RadPanelBar_WebBlue .rpExpanded .rpText
{
	padding-right: 20px;
	background-repeat: no-repeat;
}

.RadPanelBar_WebBlue_rtl .rpExpandable .rpText,
.RadPanelBar_WebBlue_rtl .rpExpanded .rpText
{
	padding-left: 20px;
}

.RadPanelBar_WebBlue_rtl .rpGroup .rpText
{
	padding: 0 10px;
}

.RadPanelBar_WebBlue .rpExpandable .rpText { background-position: 100% 0; }
.RadPanelBar_WebBlue .rpExpanded .rpText { background-position: 100% -176px; }
.RadPanelBar_WebBlue_rtl .rpExpandable .rpText { background-position: 0 0; }
.RadPanelBar_WebBlue_rtl .rpExpanded .rpText { background-position: 0 -176px; }

.RadPanelBar_WebBlue .rpExpandable.rpSelected .rpText,
.RadPanelBar_WebBlue .rpExpandable.rpSelected:hover .rpText
{
	background-position: 100% -337px;
}

.RadPanelBar_WebBlue .rpExpanded.rpSelected .rpText,
.RadPanelBar_WebBlue .rpExpanded.rpSelected:hover .rpText
{
	background-position: 100% -476px;
}

.RadPanelBar_WebBlue_rtl .rpExpandable.rpSelected .rpText,
.RadPanelBar_WebBlue_rtl .rpExpandable.rpSelected:hover .rpText
{
	background-position: 0 -337px;
}

.RadPanelBar_WebBlue_rtl .rpExpanded.rpSelected .rpText,
.RadPanelBar_WebBlue_rtl .rpExpanded.rpSelected:hover .rpText
{
	background-position: 0 -476px;
}

/*      </expand arrows> */

.RadPanelBar_WebBlue .rpGroup .rpLink,
.RadPanelBar_WebBlue .rpGroup .rpLink .rpOut { background-position: 0 200px; }

.RadPanelBar_WebBlue .rpGroup .rpLink:hover,
.RadPanelBar_WebBlue .rpGroup .rpFocused { background-position: 100% -22px; }
.RadPanelBar_WebBlue .rpGroup .rpLink:hover .rpOut,
.RadPanelBar_WebBlue .rpGroup .rpFocused .rpOut { background-position: 0 0; }

/*      <subitems (selected)> */
.RadPanelBar_WebBlue .rpGroup .rpSelected,
.RadPanelBar_WebBlue .rpGroup .rpSelected:hover { background-position: 100% -222px; background-color: transparent; }
.RadPanelBar_WebBlue .rpGroup .rpSelected .rpOut,
.RadPanelBar_WebBlue .rpGroup .rpSelected:hover .rpOut { background-position: 0 -200px; }
/*      </subitems (selected)> */

/*      <subitems (expand arrows)> */
.RadPanelBar_WebBlue .rpGroup .rpExpandable .rpText,
.RadPanelBar_WebBlue .rpGroup .rpExpandable:hover .rpText { background-position: 100% -938px; }
.RadPanelBar_WebBlue .rpGroup .rpExpanded .rpText,
.RadPanelBar_WebBlue .rpGroup .rpExpanded:hover .rpText { background-position: 100% -1078px; }
.RadPanelBar_WebBlue_rtl .rpGroup .rpExpandable .rpText,
.RadPanelBar_WebBlue_rtl .rpGroup .rpExpandable:hover .rpText { background-position: 0 -938px; }
.RadPanelBar_WebBlue_rtl .rpGroup .rpExpanded .rpText,
.RadPanelBar_WebBlue_rtl .rpGroup .rpExpanded:hover .rpText { background-position: 0 -1078px; }
/*      </subitems (expand arrows)> */
/* </background positioning> */