/* <RadMenu / Forest> */

.RadMenu_Forest .rmRootGroup,
.RadMenu_Forest .rmLink,
.RadMenu_Forest .rmText,
.RadMenu_Forest .rmLeftArrow,
.RadMenu_Forest .rmRightArrow,
.RadMenu_Forest .rmTopArrow,
.RadMenu_Forest .rmBottomArrow
{
	background-image: url('Menu/rmSprite.png');
	background-color: transparent;
}

.RadMenu_Forest .rmRootGroup
{
	border: 1px solid #588a4d;
	background-repeat: repeat-x;
	background-position: 0 0;
	background-color: #749f57;
}

.RadMenu_Forest .rmVertical
{
	background-position: 0 -408px;
}

/* <Root items> */

.RadMenu_Forest,
.RadMenu_Forest .rmLink
{
	font: normal 12px/23px "Segoe UI", Arial, sans-serif;
	color: #2b2c20;
	text-decoration: none;
}

.RadMenu_Forest .rmLink,
.RadMenu_Forest .rmText
{
	background-position: 0 1050px;
	background-repeat: no-repeat;
}

.RadMenu_Forest .rmLink:hover,
.RadMenu_Forest .rmFocused,
.RadMenu_Forest .rmSelected
{
	color: #7a1b05;
	background-position: 0 -72px;
}

.RadMenu_Forest .rmLink:hover .rmText,
.RadMenu_Forest .rmFocused .rmText,
.RadMenu_Forest .rmSelected .rmText
{
	background-position: 100% -96px;
}

.RadMenu_Forest .rmExpanded,
.RadMenu_Forest .rmExpanded:hover
{
	color: #fff;
	background-position: 0 -120px;
}

.RadMenu_Forest .rmExpanded .rmText,
.RadMenu_Forest .rmExpanded:hover .rmText
{
	background-position: 100% -144px;
}

.RadMenu_Forest .rmDisabled,
.RadMenu_Forest .rmDisabled:hover
{
	color: #b1c67f;
}  

.RadMenu_Forest .rmDisabled:hover,
.RadMenu_Forest .rmDisabled:hover .rmText
{
	background: none;
}

/* </Root items> */


/* <Submenu items> */

.RadMenu_Forest .rmGroup,
.RadMenu_Forest .rmMultiColumn,
.RadMenu_Forest .rmGroup .rmVertical
{
	border: 1px solid #588a4d;
	background: #c7d6a7 url('Menu/rmVSprite.png') repeat-y 0 0;
}

.RadMenu_Forest .rmSlide .rmScrollWrap
{
	background-image: none;
}

.RadMenu_Forest_rtl .rmGroup,
.RadMenu_Forest_rtl .rmMultiColumn,
.RadMenu_Forest_rtl .rmGroup .rmVertical
{
	background-position: 100% 0;
}

.RadMenu_Forest .rmRootGroup .rmHorizontal
{
	background-image: none;
}

.RadMenu_Forest .rmScrollWrap .rmVertical
{
	border: 0;
}

.RadMenu_Forest .rmGroup .rmFirst,
.RadMenu_Forest .rmGroup .rmLast
{
	background: none;
}

.RadMenu_Forest .rmGroup .rmLast
{
	padding-bottom: 1px;
}

.RadMenu_Forest .rmGroup .rmLink:hover,
.RadMenu_Forest .rmGroup .rmFocused,
.RadMenu_Forest .rmGroup .rmSelected,
.RadMenu_Forest .rmGroup .rmExpanded
{
	background-position: 0 -168px;
}

.RadMenu_Forest .rmGroup .rmLink:hover .rmText,
.RadMenu_Forest .rmGroup .rmFocused .rmText,
.RadMenu_Forest .rmGroup .rmSelected .rmText,
.RadMenu_Forest .rmGroup .rmExpanded .rmText
{
	background-position: 100% -192px;
}

.RadMenu_Forest .rmGroup .rmExpanded,
.RadMenu_Forest .rmGroup .rmExpanded:hover
{
	color: #7a1b05;
}

.RadMenu_Forest .rmGroup .rmDisabled,
.RadMenu_Forest .rmGroup .rmDisabled:hover
{
	color: #8c9f5f;
}

/* <expand arrows> */

.RadMenu_Forest .rmGroup .rmExpandRight,
.RadMenu_Forest .rmGroup .rmExpandDown
{
	background-position: 100% -216px;
}

.RadMenu_Forest .rmGroup .rmLink:hover .rmExpandRight,
.RadMenu_Forest .rmGroup .rmFocused .rmExpandRight,
.RadMenu_Forest .rmGroup .rmSelected .rmExpandRight,
.RadMenu_Forest .rmGroup .rmExpanded .rmExpandRight,
.RadMenu_Forest .rmGroup .rmLink:hover .rmExpandDown,
.RadMenu_Forest .rmGroup .rmFocused .rmExpandDown,
.RadMenu_Forest .rmGroup .rmSelected .rmExpandDown,
.RadMenu_Forest .rmGroup .rmExpanded .rmExpandDown
{
	background-position: 100% -240px;
}

.RadMenu_Forest .rmGroup .rmDisabled:hover .rmExpandRight,
.RadMenu_Forest .rmGroup .rmDisabled:hover .rmExpandDown
{
	background-image: url('Menu/rmSprite.png');
	background-position: 100% -216px;
}

/* </expand arrows> */

/* <rtl> */

.RadMenu_Forest_rtl .rmGroup .rmLink:hover,
.RadMenu_Forest_rtl .rmGroup .rmFocused,
.RadMenu_Forest_rtl .rmGroup .rmSelected,
.RadMenu_Forest_rtl .rmGroup .rmExpanded
{
	background-position: 100% -264px;
}

.RadMenu_Forest_rtl .rmGroup .rmLink:hover .rmText,
.RadMenu_Forest_rtl .rmGroup .rmFocused .rmText,
.RadMenu_Forest_rtl .rmGroup .rmSelected .rmText,
.RadMenu_Forest_rtl .rmGroup .rmExpanded .rmText
{
	background-position: 0 -288px;
}

.RadMenu_Forest_rtl .rmGroup .rmExpandLeft
{
	background-position: 0 -312px;
}

.RadMenu_Forest_rtl .rmGroup .rmLink:hover .rmExpandLeft,
.RadMenu_Forest_rtl .rmGroup .rmFocused .rmExpandLeft,
.RadMenu_Forest_rtl .rmGroup .rmSelected .rmExpandLeft,
.RadMenu_Forest_rtl .rmGroup .rmExpanded .rmExpandLeft
{
	background-position: 0 -336px;
}

/* </rtl> */

/* </Submenu items> */

/* <Submenu offsets (Forest - specific, overlapping submenus)> */

.RadMenu_Forest .rmSlide
{
	margin: -3px 0 0 3px;
}

.RadMenu_Forest .rmVertical .rmSlide,
.RadMenu_Forest .rmSlide .rmSlide,
.RadMenu_Forest_Context .rmGroup .rmSlide
{
	margin: 0 0 0 -5px;
}

.RadMenu_Forest_rtl .rmSlide
{
	margin: -3px 0 0 -3px;
}

.RadMenu_Forest_rtl .rmVertical .rmSlide,
.RadMenu_Forest_rtl .rmSlide .rmSlide,
.RadMenu_Forest_Context_rtl .rmGroup .rmSlide
{
	margin: 0 0 0 5px;
}

/* </Submenu offsets> */

/* <Scrolling arrows> */

.RadMenu_Forest .rmLeftArrow,
.RadMenu_Forest .rmRightArrow
{
	background-color: #c7d6a7;
}

.RadMenu_Forest .rmLeftArrow { background-position: -8px -312px; border-right: 1px solid #588a4d; }
.RadMenu_Forest .rmRightArrow { background-position: -482px -216px; border-left: 1px solid #588a4d; }

.RadMenu_Forest .rmTopArrow,
.RadMenu_Forest .rmBottomArrow,
.RadMenu_Forest .rmGroup .rmLeftArrow,
.RadMenu_Forest .rmGroup .rmRightArrow
{
	background-color: #c7d6a7;
}

.RadMenu_Forest .rmTopArrow { background-position: 50% -367px; border-bottom: 1px solid #588a4d; }
.RadMenu_Forest .rmBottomArrow { background-position: 50% -391px; border-top: 1px solid #588a4d; }

/* </Scrolling arrows> */

/* <Separators> */

.RadMenu_Forest .rmVertical .rmSeparator .rmText,
.RadMenu_Forest .rmHorizontal .rmVertical .rmSeparator .rmText
{
	background-position: 0 -406px;
}

.RadMenu_Forest .rmHorizontal .rmSeparator .rmText,
.RadMenu_Forest .rmVertical .rmHorizontal .rmSeparator .rmText
{
	background-position: 0 -386px;
}

/* </Separators> */

/* </RadMenu / Forest> */