/* Telerik RadAjaxLoadingPanel Outlook Skin */

.RadAjax_Outlook .raDiv
{
	background-image:url('Common/loading.gif');
}

.RadAjax_Outlook .raColor
{
	background-color:#fff;
}

.RadAjax_Outlook .raTransp
{
	opacity:0.6;
	-moz-opacity:0.6;
	filter:alpha(opacity=60);
}